.checkin-types {
  background: $light-grey;
  padding: 0 $base-unit/2;
  margin-bottom: $base-unit*1.5;
}

.associated-lists {
  margin-top: $base-unit;
}

.associated-lists__header {
  border-bottom: 1px solid $border-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.associated-lists__heading, .associated-lists__button {
  font-family: $heading-font-light;
  
  font-style: italic;
  text-transform: none;
}

.associated-lists__heading {
  color: $dark-blue;
  font-weight: normal;
}

@include media-query(md) {
  .associated-lists {
    margin-top: $base-unit*3;
  }
}