<div ng-controller="AllCheckInsCtrl">
  <h2 class="block-heading" translate>All lists you are checked in to</h2>
  <div class="form-field" ng-if="listsMember.length">
    <label for="searchLists" class="sr-only" translate>Search</label>
    <input type="search" id="searchLists" placeholder="{{'Search for a list' | translate}}" ng-model="listSearchTerm.name" />
  </div>

  <ul class="list list--has-buttons list--has-dividers">
    <li class="list__item t-list" ng-repeat="list in filterData = (listsMember | filter : listSearchTerm) | limitTo:itemsPerPage:itemsPerPage*(page-1) | orderBy: 'createdAt' : true">
      <a href="/lists/{{list.list}}">{{list.name}}</a>

      <div class="list__button">
      <button type="button" class="btn-transparent" ng-click="editCheckIn(list)">
        <icon name="edit-calendar" text="Edit checkout date"></icon>
      </button>

      <button type="button" class="btn-transparent t-checkout-btn" ng-click="leaveList(list)">
        <icon name="cancel" text="Check out"></icon>
      </button>
      </div>
    </li>
    <li class="list__item" ng-if="!listsMember.length"><em translate>No lists</em></li>
  </ul>

  <uib-pagination
    ng-show="filterData.length > itemsPerPage"
    total-items="filterData.length"
    ng-model="page"
    ng-change="pageChanged()"
    direction-links="false"
    items-per-page=itemsPerPage
    class="pagination" >
  </uib-pagination>
</div>
