<div class="page-header">
  <h1 class="page-header__heading">
    <span translate>Check-in</span><span ng-if="!isCurrentUser">: {{user.name}}</span>
  </h1>
</div>

<div class="row checkin-page">
  <div class="col-md-8">

    <div class="block">

      <div class="block-heading">
        <h2 translate>Search lists</h2>
        <button type="button" class="btn-link btn-small" ng-click="openListTypesModal()" translate>What are these?</button>
      </div>

      <select-lists types="operation bundle disaster functional_role office"></select-lists>

      <div class="associated-lists" ng-if="associatedLists.length">
        <div class="associated-lists__header">
          <h3 class="associated-lists__heading" translate>Other lists you might be interested in</h3>
          <button type="button" class="btn-transparent associated-lists__button" ng-click="showAllAssociated = !showAllAssociated">
            <span ng-if="!showAllAssociated" translate>See all</span>
            <icon name="arrow-down" ng-if="!showAllAssociated"></icon>
            <span ng-if="showAllAssociated" translate>Hide</span>
            <icon name="arrow-up" ng-if="showAllAssociated"></icon>
          </button>
        </div>
        <ul class="list list-2-cols list--small list--has-buttons list--has-buttons-left">
          <li ng-repeat="list in associatedLists" class="list__item" ng-show="$index < 4 || showAllAssociated">
            <button type="button" class="btn-transparent list__button" ng-click="addList(list)">
              <icon name="plus" text="Add list"></icon>
            </button>
            {{list.name}}
          </li>
        </ul>
      </div>
    </div>

    <div class="block">
      <h2 class="block-heading" translate>Set a date here if you want to be checked out automatically</h2>
      <div class="form-field">
        <div class="form-field form-field--short">
          <label for="departureDate" class="sr-only" translate>Set a date to be automatically checked out:</label>
          <div class="form-inline-fields">
            <input type="text" id="departureDate" uib-datepicker-popup="dd/MM/yyyy" popup-placement="bottom-right" ng-model="departureDate" is-open="datePicker.opened" datepicker-options="dateOptions" close-text="Close" placeholder="dd/mm/yyyy" />
            <button type="button" class="btn-transparent" ng-click="showDatePicker()">
              <icon name="calendar" text="Select a date"></icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="block" ng-controller="UserEditCtrl">
      <h2 class="block-heading">
        <span ng-if="isCurrentUser" translate>Update your information</span>
        <span ng-if="!isCurrentUser" translate>Update information</span>
      </h2>

      <form editable-form name="editOrganizationForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current organization</h3>

        <p ng-show="!editOrganizationForm.$visible">
          {{user.organization.name}}
        </p>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editOrganizationForm.$show()" ng-show="!editOrganizationForm.$visible">
          <icon name="edit" text="Change organization"></icon>
        </button>
        <button type="button" class="btn-icon btn-secondary form-section__edit-btn" ng-click="editOrganizationForm.$cancel()" ng-show="editOrganizationForm.$visible">
          <icon name="check" text="Close"></icon>
        </button>

        <div ng-show="editOrganizationForm.$visible">
          <div class="form-section__edit" ng-if="user.organizations.length">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Select a primary organization:</legend>
              <ul class="list">
                <li class="list__item" ng-repeat="org in user.organizations">
                  <input type="radio"
                  id="org-{{org.list}}"
                  name="organizations"
                  ng-model="user.organization.list"
                  ng-value="org.list"
                  ng-change="setPrimaryOrganization(org)" />
                  <label class="clickie-label" for="org-{{org.list}}">{{org.name}}</label>
                </li>
              </ul>
            </fieldset>
          </div>
          <div class="form-section__edit">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Add a new organization:</legend>

              <div class="form-field form-field--compact form-inline-fields">
                <div class="form-inline-fields__item">
                  <ui-select name="newOrganization" ng-model="temp.organization.list">
                    <ui-select-match placeholder="{{'Add a new organisation'|translate}}">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices refresh="getOrganizations($select.search)" repeat="organization in organizations | filter: $select.search track by $index" minimum-input-length="3">
                      {{organization.name}}
                    </ui-select-choices>
                  </ui-select>
                </div>
                <button type="submit" class="btn-transparent"
                  ng-class="{'active': temp.organization.list}"
                  ng-disabled="!temp.organization.list"
                  ng-click="addItem('organization')">
                  <icon name="plus" text="Add"></icon>
                </button>
              </div>
            </fieldset>
          </div>

        </div>
      </form>

      <form editable-form name="editPhoneForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current phone number</h3>

        <p ng-show="!editPhoneForm.$visible">
          <span ng-if="user.phone_number">{{user.phone_number}}</span>
          <span ng-if="!user.phone_number"><em translate>No phone number</em></span>
        </p>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editPhoneForm.$show()" ng-show="!editPhoneForm.$visible">
          <icon name="edit" text="Change phone number"></icon>
        </button>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editPhoneForm.$cancel()" ng-show="editPhoneForm.$visible">
          <icon name="check" text="Close"></icon>
        </button>

        <div ng-show="editPhoneForm.$visible">
          <div class="form-section__edit" ng-if="user.phone_numbers.length">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Select a primary phone number:</legend>
              <ul class="list">
                <li class="list__item" ng-repeat="phone in user.phone_numbers">
                  <input type="radio"
                  id="phone-{{phone._id}}"
                  name="phoneNumbers"
                  ng-model="user.phone_number"
                  ng-value="phone.number"
                  ng-change="setPrimaryPhone(phone)" />
                  <label class="clickie-label" for="phone-{{phone._id}}">{{phone.number}}</label>
                </li>
              </ul>
            </fieldset>
          </div>
           <div class="form-section__edit">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Add a new phone number:</legend>
              <div class="form-field form-field--compact form-inline-fields">
                <div class="form-inline-fields__item form-inline-fields__item--short">
                  <label for="new_phone_number" class="sr-only" translate="">Phone type:</label>
                  <div class="styled-select">
                    <select ng-model="temp.phone_number.type" ng-options="t.value as t.name disable when t.value === '' for t in phoneNumberTypes" id="new_phone_number">
                    </select>
                  </div>
                </div>
                <div class="form-inline-fields__item" ng-show="temp.phone_number.type">
                  <bc-phone-number name="phone_number" label="Phone number" ng-model="temp.phone_number.number" is-valid="isValidPhoneNumber" ng-class="{'has-error': temp.phone_number.number && !isValidPhoneNumber, 'has-success': temp.phone_number.number && isValidPhoneNumber}"></bc-phone-number>
                </div>
                <button type="submit" class="btn-transparent" ng-class="{'active': temp.phone_number.type && temp.phone_number.number && isValidPhoneNumber}" ng-disabled="!temp.phone_number.type || !temp.phone_number.number || !isValidPhoneNumber" ng-click="addItem('phone_number')">
                  <icon name="plus" text="Add"></icon>
                </button>
              </div>
            </fieldset>
          </div>
        </div>
      </form>

      <form editable-form name="editEmailForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current email address</h3>

        <p ng-show="!editEmailForm.$visible">
          <span ng-if="user.email">{{user.email}}</span>
          <span ng-if="!user.email"><em translate>No email</em></span>
        </p>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editEmailForm.$show()" ng-show="!editEmailForm.$visible"><icon name="edit" text="Change email"></icon></button>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editEmailForm.$cancel()" ng-show="editEmailForm.$visible">
          <icon name="check" text="Close"></icon>
        </button>

        <div ng-show="editEmailForm.$visible">
          <div class="form-section__edit" ng-if="user.emails.length">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Select a primary email address:</legend>
              <ul class="list">
                <li class="list__item" ng-repeat="email in user.emails">
                  <input type="radio"
                  id="email-{{email._id}}"
                  name="emails"
                  ng-model="user.email"
                  ng-value="email.email"
                  ng-disabled="!email.validated"
                  ng-change="setPrimaryEmail(email.email)"
                  />
                  <label class="clickie-label" for="email-{{email._id}}">
                    {{email.email}}
                    <span class="list__meta" ng-if="!email.validated">
                      <span translate>Unverified</span> -
                      <button type="button" class="btn-link" ng-click="resendValidationEmail(email.email)" translate>resend validation email</button>
                    </span>
                  </label>
                </li>
              </ul>
            </fieldset>
          </div>
          <div class="form-section__edit">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Add a new email address:</legend>
              <p class="form-section__info" translate>Email addresses must be verified before they can be set as primary.</p>

              <div class="form-field form-field--compact form-inline-fields">

                <div class="form-inline-fields__item form-inline-fields__item--short">
                  <label for="new_email_type" class="sr-only">Email type</label>
                  <div class="styled-select">
                    <select id="new_email_type" ng-model="temp.email.type" ng-options="t.value as t.name disable when t.value === '' for t in emailTypes" class="form-control">
                    </select>
                  </div>
                </div>
                <div class="form-inline-fields__item" ng-show="temp.email.type">
                  <label for="new_email" class="sr-only">Email address</label>
                  <input type="email" id="new_email" ng-model="temp.email.email" class="form-control" placeholder="{{'Email address' | translate}}" />
                </div>

                <button type="submit" class="btn-transparent" ng-class="{'active': temp.email.type && temp.email.email}"
                  ng-disabled="!temp.email.type || !temp.email.email" ng-click="addItem('email')">
                  <icon name="plus" text="Add"></icon>
                </button>
              </div>

            </fieldset>
          </div>

        </div>
      </form>

      <form editable-form name="editLocationForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current location</h3>
        <p ng-show="!editLocationForm.$visible">
          <span ng-if="user.location.locality">{{user.location.locality}}, </span><span ng-if="user.location.region">{{user.location.region.name}}, </span>{{user.location.country.name}}
          <span ng-if="!user.location.country && !user.location.locality"><em translate>No location</em></span>
        </p>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editLocationForm.$show()" ng-show="!editLocationForm.$visible"><icon name="edit" text="Change location"></icon></button>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editLocationForm.$cancel()" ng-show="editLocationForm.$visible">
          <icon name="check" text="Close"></icon>
        </button>

        <div ng-show="editLocationForm.$visible">
          <div class="form-section__edit" ng-if="user.locations.length">
            <fieldset>
              <legend class="form-section__sub-heading" translate>Select current location</legend>
              <ul class="list">
                <li class="list__item" ng-repeat="location in user.locations">
                  <input type="radio"
                  id="location-{{$index}}"
                  name="locations"
                  ng-model="user.location.tempId"
                  ng-value="location.tempId"
                  ng-change="setPrimaryLocation(location)" />
                  <label class="clickie-label" for="location-{{$index}}">
                    <span ng-if="location.locality">{{location.locality}}, </span><span ng-if="location.region">{{location.region.name}}, </span>{{location.country.name}}
                  </label>
                </li>
              </ul>
            </fieldset>
          </div>
          <div class="form-section__edit">
            <fieldset>
              <h4 class="form-section__sub-heading" translate>Add a new location</h4>
              <div class="row">
                <div class="col-sm-8 col-md-6">
                  <div class="form-field form-field--compact">
                    <ui-select ng-model="temp.location.country" on-select="setRegions($item, $model)">
                      <ui-select-match placeholder="{{'Select a country' | translate}}">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="country in countries | filter: $select.search track by $index" minimum-input-length="3">
                        {{country.name}}
                      </ui-select-choices>
                    </ui-select>
                  </div>

                  <div class="form-field form-field--compact" ng-if="showRegion">
                    <ui-select ng-model="temp.location.region">
                      <ui-select-match placeholder="{{'Select a region' | translate}}">
                        {{$select.selected.name}}
                      </ui-select-match>
                      <ui-select-choices repeat="region in regions | filter: $select.search track by $index" minimum-input-length="3">
                        {{region.name}}
                      </ui-select-choices>
                    </ui-select>
                  </div>

                  <div class="form-field form-field--compact">
                    <label for="locality" class="sr-only" translate>Locality</label>
                    <input type="text" placeholder="{{'Type a locality' | translate}}" id="locality" ng-model="temp.location.locality">
                  </div>

                  <button type="submit" class="btn-transparent" ng-click="addItem('location')" ng-disabled="!temp.location.country" ng-class="{'active': temp.location.country}">
                    <icon name="plus"></icon>
                    <span translate>Add location</span>
                  </button>
                </div>
              </div>

              </fieldset>
            </div>
          </div>
        </form>

        <form editable-form name="editJobTitleForm" class="form-section form-section--compact">
          <h3 class="form-section__heading" translate>Current job title</h3>
          <p ng-show="!editJobTitleForm.$visible">
            <span ng-if="user.job_title">{{user.job_title}}</span>
            <span ng-if="!user.job_title"><em translate>No job title</em></span>
          </p>
          <button type="button" class="btn-icon form-section__edit-btn" ng-click="editJobTitleForm.$show()" ng-show="!editJobTitleForm.$visible"><icon name="edit" text="Change job title"></icon></button>
          <button type="button" class="btn-icon form-section__edit-btn" ng-click="editJobTitleForm.$cancel()" ng-show="editJobTitleForm.$visible">
            <icon name="check" text="Close"></icon>
          </button>

          <div ng-show="editJobTitleForm.$visible">
            <div class="form-section__edit" ng-if="user.job_titles.length">
              <fieldset>
                <legend class="form-section__sub-heading" translate>Select a primary job title:</legend>
                <ul class="list">
                  <li class="list__item" ng-repeat="title in user.job_titles track by $index">
                    <input type="radio"
                    id="title-{{$index}}"
                    name="titles"
                    ng-model="user.job_title"
                    ng-value="title"
                    ng-change="setPrimaryJobTitle(title)" />
                    <label class="clickie-label" for="title-{{$index}}">
                      {{title}}
                    </label>
                  </li>
                </ul>
              </fieldset>
            </div>
            <div class="form-section__edit">
              <fieldset>
                <legend class="form-section__sub-heading" translate>Add a new job title:</legend>

                <div class="form-field form-field--compact form-inline-fields">
                  <div class="form-inline-fields__item">
                    <input type="text" ng-model="temp.job_title" placeholder="{{'New job title' | translate}}" />
                  </div>
                  <button type="submit" class="btn-transparent" ng-disabled="!temp.job_title" ng-class="{'active': temp.job_title}" ng-click="addItem('job_title')">
                    <icon name="plus" text="Add"></icon>
                  </button>
                </div>
              </fieldset>
            </div>
          </div>
        </form>
        </div>
      </div>

      <div class="col-md-4">

        <div class="secondary-block">
          <h2 class="secondary-block__heading">
            <span ng-if="isCurrentUser" translate>Your check in modifications</span>
            <span ng-if="!isCurrentUser" translate>Check in modifications</span>
          </h2>

          <ul class="secondary-block__list">

            <li class="secondary-block__item" translate
            ng-if="!modifications.location.organization && !modifications.job_title && !modifications.location && !modifications.email && !modifications.phone">
            No modifications
          </li>
          <li class="secondary-block__item" ng-if="modifications.organization">
            <icon name="arrow-right"></icon>
            {{modifications.organization | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.location">
            <icon name="arrow-right"></icon>
            {{modifications.location | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.email">
            <icon name="arrow-right"></icon>
            {{modifications.email | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.phone">
            <icon name="arrow-right"></icon>
            {{modifications.phone | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.job_title">
            <icon name="arrow-right"></icon>
            {{modifications.job_title | translate}}
          </li>
        </ul>
      </div>

      <button type="button" class="btn-primary btn-block t-checkin-btn" ng-class="{'saving' : saving}" ng-click="checkin()" ng-disabled="!selectedLists.length">
        <loader type="inline" text="" ng-if="saving"></loader>
        <span ng-if="!saving">
          <span ng-if="isCurrentUser" translate>Check me in</span>
          <span ng-if="!isCurrentUser" translate>Check in</span>
          <icon name="arrow-right"></icon>
        </span>
      </button>
    </div>
  </div>
