<div class="page-header">
  <h1 class="page-header__heading" translate>
    Check-in<span ng-if="!isCurrentUser">: {{user.name}}</span>
  </h1>
</div>

<div class="row">
  <div class="col-md-8">

    <div class="block">

      <h2 class="block-heading" translate>Select lists</h2>

      <ui-select ng-model="selectedList" on-select="updateSelectedLists(selectedList)" class="ui-select--has-border">
        <ui-select-match placeholder="{{'Select a list'|translate}}"><span translate>Select a list</span></ui-select-match>
        <ui-select-choices ui-disable-choice="isSelected(list)" refresh="getLists($select.search)" repeat="list in lists">
          {{list.name}}
        </ui-select-choices>
      </ui-select>
      <ul class="list list--has-buttons list--has-dividers">
        <li ng-repeat="list in selectedLists" class="list__item">
          <icon name="check"></icon>
          {{list.name}}
          <button type="button" class="btn-transparent list__button" ng-click="removeList(list)">
            <icon name="cancel" text="Remove"></icon>
          </button>
        </li>
      </ul>
    </div>

    <div class="block">
      <h2 class="block-heading" translate>Check out automatically?</h2>
      <div class="form-field">
        <div class="form-field form-field--short">
          <label for="departureDate" class="form-section__sub-heading" translate>Set a date to be automatically checked out:</label>
          <div class="form-inline-fields">
            <input class="form-inline-fields__item" type="text" id="departureDate" uib-datepicker-popup="dd/MM/yyyy" popup-placement="bottom-right" ng-model="departureDate" is-open="datePicker.opened" datepicker-options="dateOptions" close-text="Close" placeholder="dd/mm/yyyy" />
            <button type="button" class="btn-transparent" ng-click="showDatePicker()">
              <icon name="calendar" text="Select a date"></icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="block" ng-controller="UserEditCtrl">
      <h2 class="block-heading">
        <span ng-if="isCurrentUser" translate>Update your information</span>
        <span ng-if="!isCurrentUser" translate>Update information</span>
      </h2>

      <form editable-form name="editOrganizationForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current organization</h3>

        <p ng-show="!editOrganizationForm.$visible">
          {{user.organization.list.name}}
        </p>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editOrganizationForm.$show()" ng-show="!editOrganizationForm.$visible">
          <icon name="edit" text="Change organization"></icon>
        </button>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editOrganizationForm.$cancel()" ng-show="editOrganizationForm.$visible">
          <icon name="cancel" text="Cancel"></icon>
        </button>

        <div ng-show="editOrganizationForm.$visible">

          <fieldset ng-if="user.organizations.length">
            <legend class="form-section__sub-heading" translate>Select a primary organization:</legend>
            <ul class="list">
              <li class="list__item" ng-repeat="org in user.organizations">
                <input type="radio"
                id="org-{{org._id}}"
                name="organizations"
                ng-model="user.organization._id"
                ng-value="org._id"
                ng-change="setPrimaryOrganization(org)" />
                <label class="clickie-label" for="org-{{org._id}}">{{org.list.name}}</label>
              </li>
            </ul>
          </fieldset>

          <fieldset>
            <legend class="form-section__sub-heading" translate>Add a new organization:</legend>

            <div class="form-field form-field--compact form-inline-fields">
              <div class="form-inline-fields__item">
                <ui-select name="newOrganization" ng-model="temp.organization.list">
                  <ui-select-match placeholder="{{'Add a new organisation'|translate}}">
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices refresh="getOrganizations($select.search)" repeat="organization in organizations | filter: $select.search track by $index">
                    {{organization.name}}
                  </ui-select-choices>
                </ui-select>
              </div>
              <button type="button" class="btn-primary" ng-click="addItem('organization')">
                Add
              </button>
            </div>
          </fieldset>

        </div>
      </form>

      <form editable-form name="editPhoneForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current phone number</h3>

        <p ng-show="!editPhoneForm.$visible">
          <span ng-if="user.phone_number">{{user.phone_number}}</span>
          <span ng-if="!user.phone_number"><em translate>No phone number</em></span>
        </p>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editPhoneForm.$show()" ng-show="!editPhoneForm.$visible">
          <icon name="edit" text="Change phone number"></icon>
        </button>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editPhoneForm.$cancel()" ng-show="editPhoneForm.$visible">
          <icon name="cancel" text="Cancel"></icon>
        </button>

        <div ng-show="editPhoneForm.$visible">

          <fieldset ng-if="user.phone_numbers.length">
            <legend class="form-section__sub-heading" translate>Select a primary phone number:</legend>
            <ul class="list">
              <li class="list__item" ng-repeat="phone in user.phone_numbers">
                <input type="radio"
                id="phone-{{phone._id}}"
                name="phoneNumbers"
                ng-model="user.phone_number"
                ng-value="phone.number"
                ng-change="setPrimaryPhone(phone)" />
                <label class="clickie-label" for="phone-{{phone._id}}">{{phone.number}}</label>
              </li>
            </ul>
          </fieldset>

          <fieldset>
            <legend class="form-section__sub-heading" translate>Add a new phone number:</legend>
            <div class="form-field form-field--compact form-inline-fields">
              <div class="form-inline-fields__item form-inline-fields__item--short">
                <label for="new_phone_number" class="sr-only" translate="">Phone type:</label>
                <div class="styled-select">
                  <select ng-model="temp.phone_number.type" ng-options="t.value as t.name for t in phoneNumberTypes" id="new_phone_number">
                    <option value="" disabled selected>Type</option></select>
                  </select>
                </div>
              </div>
              <div class="form-inline-fields__item">
                <bc-phone-number name="phone_number" label="Phone number" ng-model="temp.phone_number.number" is-valid="isValidPhoneNumber" ng-class="{'has-error': temp.phone_number.number && !isValidPhoneNumber, 'has-success': temp.phone_number.number && isValidPhoneNumber}"></bc-phone-number>
              </div>
              <button type="button" class="btn-primary" ng-click="addItem('phone_number')">
                Add
              </button>
            </div>

          </fieldset>
        </div>
      </form>

      <form editable-form name="editEmailForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current email address</h3>

        <p ng-show="!editEmailForm.$visible">
          <span ng-if="user.email">{{user.email}}</span>
          <span ng-if="!user.email" translate><em>No email</em></span>
        </p>

        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editEmailForm.$show()" ng-show="!editEmailForm.$visible"><icon name="edit" text="Change email"></icon></button>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editEmailForm.$cancel()" ng-show="editEmailForm.$visible">
          <icon name="cancel" text="Cancel"></icon>
        </button>

        <div ng-show="editEmailForm.$visible">
          <fieldset ng-if="user.emails.length">
            <legend class="form-section__sub-heading" translate>Select a primary email address:</legend>
            <ul class="list">
              <li class="list__item" ng-repeat="email in user.emails">
                <input type="radio"
                id="email-{{email._id}}"
                name="emails"
                ng-model="user.email"
                ng-value="email.email"
                ng-disabled="!email.validated"
                ng-change="setPrimaryEmail(email.email)"
                />
                <label class="clickie-label" for="email-{{email._id}}">
                  {{email.email}}
                  <span class="list__meta" ng-if="!email.validated">
                    <span translate>Unverified</span> -
                    <button type="button" class="btn-link" ng-click="resendValidationEmail(email.email)" translate>resend validation email</button>
                  </span>
                </label>
              </li>
            </ul>
          </fieldset>

          <fieldset>
            <legend class="form-section__sub-heading" translate>Add a new email address:</legend>
            <p class="form-section__info" translate>Email addresses must be verified before they can be set as primary.</p>

            <div class="form-field form-field--compact form-inline-fields">

              <div class="form-inline-fields__item form-inline-fields__item--short">
                <label for="new_email_type" class="sr-only">Email type</label>
                <div class="styled-select">
                  <select id="new_email_type" ng-model="temp.email.type" ng-options="t.value as t.name for t in emailTypes" class="form-control">
                    <option value="" disabled selected>Type</option>
                  </select>
                </div>
              </div>
              <div class="form-inline-fields__item">
                <label for="new_email" class="sr-only">Email address</label>
                <input type="email" id="new_email" ng-model="temp.email.email" class="form-control" placeholder="{{'Email address' | translate}}" />
              </div>

              <button type="button" class="btn-primary" ng-click="addItem('email')">
                Add
              </button>
            </div>

          </fieldset>

        </div>
      </form>

      <form editable-form name="editLocationForm" class="form-section form-section--compact">
        <h3 class="form-section__heading" translate>Current location</h3>
        <p ng-show="!editLocationForm.$visible">
          <span ng-if="user.location.country"><span ng-if="user.location.region">{{user.location.region.name}}, </span>{{user.location.country.name}}</span>
          <span ng-if="!user.location.country" translate><em>No location</em></span>
        </p>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editLocationForm.$show()" ng-show="!editLocationForm.$visible"><icon name="edit" text="Change location"></icon></button>
        <button type="button" class="btn-icon form-section__edit-btn" ng-click="editLocationForm.$cancel()" ng-show="editLocationForm.$visible">
          <icon name="cancel" text="Cancel"></icon>
        </button>

        <div ng-show="editLocationForm.$visible">
          <fieldset ng-if="user.locations.length">
            <legend class="form-section__sub-heading" translate>Select current location</legend>
            <ul class="list">
              <li class="list__item" ng-repeat="location in user.locations">
                <input type="radio"
                id="location-{{location.country.id}}"
                name="locations"
                ng-model="primaryLocationId"
                ng-value="getLocationId(location)"
                ng-change="setPrimaryLocation(location)" />
                <label class="clickie-label" for="location-{{location.country.id}}"><span ng-if="location.region">{{location.region.name}}, </span>{{location.country.name}}</label>
              </li>
            </ul>
          </fieldset>


          <fieldset>
            <h4 class="form-section__sub-heading" translate>Add a new location</h4>

            <div class="form-field form-field--compact form-inline-fields">
              <div class="form-inline-fields__item">
                <ui-select ng-model="temp.location.country" on-select="setRegions($item, $model)">
                  <ui-select-match placeholder="{{'Select a country' | translate}}">
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="country in countries | filter: $select.search track by $index">
                    {{country.name}}
                  </ui-select-choices>
                </ui-select>
              </div>

              <div class="form-inline-fields__item">
                <ui-select ng-model="temp.location.region">
                  <ui-select-match placeholder="{{'Select a region' | translate}}">
                    {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="region in regions | filter: $select.search track by $index">
                    {{region.name}}
                  </ui-select-choices>
                </ui-select>
              </div>
              <button type="button" class="btn-primary" ng-click="addItem('location')" translate>
                Add
              </button>

            </fieldset>
          </div>
        </form>

        <form editable-form name="editJobTitleForm" class="form-section form-section--compact">
          <h3 class="form-section__heading" translate>Current job title</h3>
          <p ng-show="!editJobTitleForm.$visible">
            <span ng-if="user.job_title">{{user.job_title}}</span>
            <span ng-if="!user.job_title" translate><em>No job title</em></span>
          </p>
          <button type="button" class="btn-icon form-section__edit-btn" ng-click="editJobTitleForm.$show()" ng-show="!editJobTitleForm.$visible"><icon name="edit" text="Change job title"></icon></button>
          <button type="button" class="btn-icon form-section__edit-btn" ng-click="editJobTitleForm.$cancel()" ng-show="editJobTitleForm.$visible">
            <icon name="cancel" text="Cancel"></icon>
          </button>

          <div ng-show="editJobTitleForm.$visible">
            <fieldset ng-if="user.job_titles.length">
              <legend class="form-section__sub-heading" translate>Select a primary job title:</legend>
              <ul class="list">
                <li class="list__item" ng-repeat="title in user.job_titles track by $index">
                  <input type="radio"
                  id="title-{{$index}}"
                  name="titles"
                  ng-model="user.job_title"
                  ng-value="title"
                  ng-change="setPrimaryJobTitle(title)" />
                  <label class="clickie-label" for="title-{{$index}}">
                    {{title}}
                  </label>
                </li>
              </ul>
            </fieldset>

            <fieldset>
              <legend class="form-section__sub-heading" translate>Add a new job title:</legend>

              <div class="form-field form-field--compact form-inline-fields">
                <div class="form-inline-fields__item">
                  <input type="text" ng-model="temp.job_title" placeholder="New job title" />
                </div>
                <button type="button" class="btn-primary" ng-click="addItem('job_title')" translate>
                  Add
                </button>
              </div>
            </fieldset>
          </div>
        </form>
        </div>
      </div>

      <div class="col-md-4">

        <div class="secondary-block">
          <h2 class="secondary-block__heading">
            <span ng-if="isCurrentUser" translate>Your check in modifications</span>
            <span ng-if="!isCurrentUser" translate>Check in modifications</span>
          </h2>

          <ul class="secondary-block__list">

            <li class="secondary-block__item" translate
            ng-if="!modifications.location.organization && !modifications.job_title && !modifications.location && !modifications.email && !modifications.phone">
            No modifications
          </li>
          <li class="secondary-block__item" ng-if="modifications.organization">
            <icon name="arrow-right"></icon>
            {{modifications.organization | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.location">
            <icon name="arrow-right"></icon>
            {{modifications.location | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.email">
            <icon name="arrow-right"></icon>
            {{modifications.email | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.phone">
            <icon name="arrow-right"></icon>
            {{modifications.phone | translate}}
          </li>
          <li class="secondary-block__item" ng-if="modifications.job_title">
            <icon name="arrow-right"></icon>
            {{modifications.job_title | translate}}
          </li>
        </ul>
      </div>

      <button type="button" class="btn-primary btn-block" ng-click="checkin()" ng-disabled="!selectedLists.length">
        <span ng-if="isCurrentUser" translate="">Check me in</span>
        <span ng-if="!isCurrentUser" translate="">Check in</span>
        <icon name="arrow-right"></icon>
      </button>
    </div>
  </div>
