<div class="page-header">
   <h1 class="page-header__heading" translate>Check-in</h1>
</div>

<div class="row">
  <div class="col-md-8">

    <div class="block">

      <h2 class="block-heading" translate>Select lists</h2>

      <ui-select ng-model="selectedLists" on-select="updateSelectedLists($select.selected)">
        <ui-select-match placeholder="{{'Type the list you want to check in to' | translate}}"><span translate>Type the list you want to check in to</span></ui-select-match>
        <ui-select-choices ui-disable-choice="isSelected(list)" repeat="list.id as list in lists | filter: $select.search">
          {{list.name}}
        </ui-select-choices>
      </ui-select>

      <div class="list-group">
        <div ng-repeat="list in selectedLists" class="list-group__item">
          <icon name="check"></icon>
          {{list.name}}
          <div class="list-group__item-actions">
            <button type="button" class="btn-transparent" ng-click="removeList(list)">
              <icon name="times" text="Remove"></icon>
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="block">
      <h2 class="block-heading" translate>Check out automatically?</h2>
      <div class="form__section">
        <label for="departureDate" translate>Set a date to be automatically checked out</label>
        <input type="date" name="departureDate" id="departureDate" ng-model="departureDate">
      </div>
    </div>


    <form editable-form name="editForm" class="block form">

      <h2 class="block-heading" translate>Update your information
        <button type="button" class="btn-primary form__edit" ng-click="editForm.$show()" ng-if="!editForm.$visible"><icon name="pencil" text="Edit"></icon></button>
      </h2>

      <div ng-show="editForm.$visible" class="form__section">

          <button type="submit" class="btn btn-primary" ng-disabled="editForm.$waiting"><icon name="check"></icon> Save changes</button>
          <button type="button" class="btn btn-secondary" ng-disabled="editForm.$waiting" ng-click="editForm.$cancel()"><icon name="times"></icon> Cancel</button>
      </div>

      <div class="form__section">
        <h3 translate>Where are you currently ?</h3>

        <div class="form-group">
          <h4><span translate>Current Location</span> </h4>
          <div class="form__list-item">
            <div editable-ui-select="user.location.country" data-e-form="editForm" data-e-name="country" name="country" theme="bootstrap" e-on-select="setRegions($item, $model)" data-e-ng-model="user.location.country" data-e-style="min-width:300px;">
              {{user.location.country.name}}
              <editable-ui-select-match placeholder="{{'Country'|translate}}">
                {{$select.selected.name}}
              </editable-ui-select-match>
              <editable-ui-select-choices repeat="country in countries | filter: $select.search track by $index">
                {{country.name}}
              </editable-ui-select-choices>
            </div>
            <div editable-ui-select="user.location.region" data-e-form="editForm" data-e-name="region" name="region" theme="bootstrap" data-e-ng-model="user.location.region" data-e-style="min-width: 300px;">
              {{user.location.region.name}}
              <editable-ui-select-match placeholder="{{'Region'|translate}}">
                {{$select.selected.name}}
              </editable-ui-select-match>
              <editable-ui-select-choices repeat="region in regions | filter: $select.search track by $index">
                {{region.name}}
              </editable-ui-select-choices>
            </div>
          </div>
        </div>

      </div>

      <div class="form__section" ng-if="currentUser.is_admin || currentUser.id == user.id">

        <h3 translate>Organizations</h3>

        <ul ng-class="{'form-group' : editForm.$visible}">
          <li ng-repeat="(key, val) in user.organizations" class="form__list-item">
            <a class="label label-default" href="/lists/{{val.list._id}}">{{val.list.name}}</a>
            <button type="button" class="btn-icon" ng-show="editForm.$visible"><icon name="times" text="Remove"></icon></button>
          </li>
        </ul>

        <div ng-show="editForm.$visible" class="form-group">
          <p><strong>Add new organization</strong></p>

          <div class="form__list-item">
            <ui-select name="organization" ng-model="organization.list">
              <ui-select-match placeholder="{{'Organization'|translate}}">
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices refresh="getOrganizations($select.search)" repeat="organization in organizations | filter: $select.search track by $index">
                {{organization.name}}
              </ui-select-choices>
            </ui-select>

            <button type="button" class="btn-icon" ng-click="addOrganization()">
              <icon name="plus" text="Add"></icon>
            </button>
          </div>
        </div>

      </div>

      <div class="form__section">
        <h3 translate>Job title</h3>

        <div ng-repeat="job_title in user.job_titles" class="form__list-item">
          <span>{{job_title}}</span><icon nam="star" text="Primary" ng-show="user.job_title == job_title"></icon>
          <button type="button" class="btn-icon" ng-show="editForm.$visible" ng-click="dropItem('job_titles', $index)"><icon name="times" text="Remove"></icon></button>
        </div>

        <div ng-show="editForm.$visible" class="form-group">
          <label for="job_title"><strong>Add new job title</strong></label>
          <div class="form__list-item">
            <input type="text" name="job_title" id="job_title" ng-model="newJobTitle" class="form-control" />
            <button type="button" class="btn-icon" ng-click="addJobTitle()">
              <icon name="plus" text="Add"></icon>
            </button>
          </div>
        </div>
      </div>

      <div class="form__section">
        <h3 translate>Phone</h3>

        <div ng-class="{'form-group' : editForm.$visible}">
          <div ng-repeat="phone in user.phone_numbers" class="form__list-item">
            <p>
              {{phone.type}}: <button type="button" class="btn btn-link" ng-click="setPrimaryPhone(phone)" ng-show="editForm.$visible && phone.number != user.phone_number" translate>(Set as Primary)</button>
              <br />
              <a ng-href="tel:{{phone.number}}">{{phone.number}}</a> <icon name="star" text="Primary" ng-show="phone.number == user.phone_number"></icon>
            </p>

            <button type="button" class="btn-icon" ng-show="editForm.$visible && phone.number !== user.phone_number" ng-click="dropPhone(phone._id)"><icon name="times" text="Remove"></icon></button>

          </div>
        </div>

        <fieldset ng-show="editForm.$visible">
          <legend><strong>Add new phone</strong></legend>
          <div class="form__list-item">
            <label for="new_phone_number" class="sr-only">Phone type:</label>
            <select ng-model="newPhoneNumber.type" ng-options="t.value as t.name for t in phoneNumberTypes" id="new_phone_number" class="form-control"><option value="" disabled selected>Type</option></select>
          </div>
          <div class="form__list-item">
            <bc-phone-number name="phone_number" label="Phone number" ng-model="newPhoneNumber.number" is-valid="isValidPhoneNumber" ng-class="{'has-error': newPhoneNumber.number && !isValidPhoneNumber, 'has-success': newPhoneNumber.number && isValidPhoneNumber}"></bc-phone-number>

            <button type="button" class="btn-icon" ng-click="addPhone()">
              <icon name="plus" text="Add"></icon>
            </button>
          </div>
        </fieldset>

      </div>

      <div class="form__section">
        <h3 translate>Email</h3>

        <div ng-class="{'form-group' : editForm.$visible}">
          <div ng-repeat="email in user.emails" class="form__list-item">
            <p>{{email.type}}: <button type="button" ng-click="setPrimaryEmail(email.email)" ng-if="editForm.$visible && email.email != user.email && email.validated" class="btn-btn-link" translate>Set as Primary</button>
              <a ng-href="mailto:{{email.email}}">{{email.email}}</a>
              <icon name="star" text="Primary" ng-if="email.email == user.email"></icon>
              <span ng-show="!email.validated" class="label label-default" translate>Unverified</span>

              <button type="button" ng-click="resendValidationEmail(email.email)" ng-if="editForm.$visible && !email.validated" class="btn btn-link" translate>Resend validation email</button>
            </p>

            <button type="button" class="btn-icon" ng-click="dropEmail(email.email)" ng-if="editForm.$visible && email.email != user.email"><icon name="times" text="Remove"></icon></button>
          </div>
        </div>


        <fieldset ng-show="editForm.$visible">
          <legend><strong>Add new email</strong></legend>
          <div class="form__list-item">
            <label for="new_email_type" class="sr-only">Email type</label>
            <select id="new_email_type" ng-model="newEmail.type" ng-options="t.value as t.name for t in emailTypes" class="form-control">
              <option value="" disabled selected>Type</option>
            </select>
          </div>
          <div class="form__list-item">
            <label for="new_email" class="sr-only">Email address</label>
            <input type="email" id="new_email" ng-model="newEmail.email" class="form-control" placeholder="{{'Email address' | translate}}" />
            <button type="button" class="btn-icon" ng-click="addEmail()">
              <icon name="plus" text="Add"></icon>
            </button>
          </div>
        </fieldset>
      </div>

    </form>

  </div>
  <div class="col-md-4">

    <div class="secondary-block">
      <h2 class="secondary-block__heading" translate>Your check in modifications</h2>

      <ul class="secondary-block__list">
        <li class="secondary-block__item">
          <icon name="chevron-right"></icon>
          TO DO
        </li>
      </ul>
    </div>

    <button type="button" class="btn-primary btn-block" ng-click="checkin();" ng-disabled="!selectedLists.length" translate>
      Check me in
      <icon name="chevron-right"></icon>
    </button>
  </div>
</div>
