<div class="modal-header">
  <h3 class="modal-title" id="modal-title" translate>
    What are these?
  </h3>
  <button type="button" class="btn-transparent modal-close" ng-click="closeListTypesModal()">
    <icon name="cancel" text="Close"></icon>
  </button>
</div>
<div class="modal-body" id="modal-body">
  <div class="modal-body__content">
    <p translate>You can check into different types of contact list. First, choose which list or lists are most appropriate for you. Here are the different types:</p>
    <h4>
      <span class="list-type list-type--operation" translate>Operation</span>
    </h4>
    <p translate>Operations usually refer to single countries, like Afghanistan or Iraq. In some cases they also refer to a wider humanitarian response across borders, for example the Whole of Syria response.</p>
    <h4>
      <span class="list-type list-type--bundle" translate>Group</span>
    </h4>
    <p translate>Groups can be clusters, sectors or simply working groups that are set up in a specific country to facilitate coordination among humanitarian partners.</p>
    <h4>
      <span class="list-type list-type--disaster" translate>Disaster</span>
    </h4>
    <p translate>Disasters usually refer to sudden-onset emergencies in a country or region. The Nepal Earthquake, Hurricane Matthew in Haiti or the floods in the Balkans are just a few examples.</p>
    <h4>
      <span class="list-type list-type--organization" translate>Organization</span>
    </h4>
    <p translate>You should only check into an organization that you belong to. All organizational lists are moderated, i.e. your check-in will have to be approved by a Humanitarian ID manager.</p>
    <h4>
      <span class="list-type list-type--functional_role" translate>Role</span>
    </h4>
    <p translate>Roles are closely related to your job title. Very common roles are those of Humanitarian Coordinator, Information Management Officer or UNDAC member. As with checking into organizational lists, role check-ins are moderated.</p>
    <h4>
      <span class="list-type list-type--office" translate>Coordination hub</span>
    </h4>
    <p translate>A coordination hub is a location where coordination takes place, usually in or outside a large city. For instance, more often than not an OSOCC set up in a sudden-onset disaster becomes a coordination hub for a few weeks after a disaster strikes.</p>

    <div class="row">
      <div class="col-xs-6 col-sm-4 offset-xs-3 offset-sm-4">
        <button type="button" class="btn-primary btn-block" ng-click="closeListTypesModal()" translate="">Close</button>
      </div>
    </div>
  </div>
</div>
