.list-types {
  background: $light-grey;
  padding: $base-unit/2;
  margin-bottom: $base-unit*1.5;
  display: block;
  column-count: 2;
}

.list-type {
	text-transform: uppercase;
	font-family: $heading-font-light;
	padding: $base-unit/4 $base-unit/2;
	color: $text-light;
	display: inline-block;
	@include font-size($small-font-size);

	&.list-type--all {
		color: $text-dark;
		background: white;
	}

	&.list-type--operation {
		background: $list-color-operation;
	}
	&.list-type--bundle {
		background: $list-color-bundle;
	}
	&.list-type--disaster {
		background: $list-color-disaster;
	}
	&.list-type--organization {
		background: $list-color-organization;
	}
	&.list-type--list {
		background: $list-color-list;
		color: $dark-blue;
	}
	&.list-type--functional_role {
		background: $list-color-functional_role;
	}
	&.list-type--office {
		background: $list-color-office;
	}

	.page-header & {
		margin-top: $base-unit;
	}

	&.clickie-label {
		word-break: break-word;
		@include font-size($small-font-size);
		border-radius: $base-unit/2;
    margin: $base-unit/2 $base-unit $base-unit/2 0;
    width: 100%;
    height: auto;
    line-height: 1.2;
    padding: $base-unit $base-unit*.75 $base-unit*.75 $base-unit*3.75;

		&:before {
			left: $base-unit/2;
		}
	}
}
input:checked + .clickie-label.list-type {
	&:after {
		left: $base-unit;
	}
}


@include media-query(sm) {

	.list-types {
		display: flex;
	}

	.list-type {
		@include font-size($base-font-size);

		&.clickie-label {
			padding: $base-unit/4 $base-unit*.75 $base-unit/4 $base-unit*3.5;
			height: $base-unit*3;
			border-radius: $base-unit*2 0 0 $base-unit*2;
			line-height: inherit;
			width: auto;

			&:before {
				left: $base-unit/4;
			}
		}
	}

	input:checked + .clickie-label.list-type {
		&:after {
			left: $base-unit*.75;
		}
	}

}
