<div ng-controller="ListsController" class="t-all-lists">
  <loader ng-if="!listsLoaded"></loader>
  <div class="list-actions">

    <div>
      <div class="list-actions__current-filters t-list-current-filters" ng-if="currentFilters.length">
        <ul class="tag-list ">
          <li class="tag-list__heading" translate>Filters applied:</li>
          <li class="tag-list__item tag-list__item--has-button" ng-repeat="filter in currentFilters">
            <span class="tag-list__text">{{filter.label}}</span>
            <button type="button" class="btn-transparent tag-list__button" ng-click="removeFilter(filter)">
              <icon name="cancel" text="Remove {{filter.type}} filter"></icon>
            </button>
          </li>
        </ul>
      </div>
      <div class="list-actions__count">
        {{totalItems}} <span translate>lists found</span>
      </div>
    </div>

    <ul class="pagination list-actions__pagination">
      <li class="pagination-page"><span>Show</span></li>
      <li class="pagination-page" ng-class="{'active' : itemsPerPage === 50}">
        <button type="button" ng-click="setLimit(50)">50</button>
      </li>
      <li class="pagination-page" ng-class="{'active' : itemsPerPage === 100}">
        <button type="button" ng-click="setLimit(100)" ng-disabled="!isOnline">100</button>
      </li>
      <li class="pagination-page" ng-class="{'active' : itemsPerPage === 150}">
        <button type="button" ng-click="setLimit(150)" ng-disabled="!isOnline">150</button>
      </li>
      <li class="pagination-page" ng-class="{'active' : itemsPerPage === 200}">
        <button type="button" ng-click="setLimit(200)" ng-disabled="!isOnline">200</button>
      </li>
    </ul>
  </div>

  <ng-include src="'app/components/list/lists-filters.html'"></ng-include>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Type</th>
        <th translate>Created by</th>
        <th translate>Number of contacts</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="list in lists">
        <td class="table__td-primary"><a ng-href="/lists/{{list._id}}" ng-click="saveSearch(list)">{{list.name}}</a></td>
        <td>
          <span class="list-type list-type--{{list.type}}">
            {{list.displayType || list.type}}
          </span>
          <span ng-if="currentUser.is_admin && list.visibility === 'me'" class="list-type list-type--private">PRIVATE</span>
        </td>
        <td><a ng-if="list.owner.name" ng-href="/users/{{list.owner._id}}">{{list.owner.name}}</a></td>
        <td>{{list.count}} contacts</a></td>
      </tr>
    </tbody>
  </table>

  <ul uib-pagination boundary-link-numbers="true" total-items="totalItems" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination" direction-links="false"></ul>
</div>
