<div class="sidebar collapse" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.admin}">
  <div ng-if="sidebar.sidebars.admin" class="sidebar__inner">

    <h2 class="sidebar__heading" translate>List admin</h2>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="closeSidebar()">
      <icon name="times" text="close"></icon>
    </button>

    <div ng-if="isManager || isOwner || currentUser.is_admin">
      <form class="sidebar-section"  ng-submit="addMemberToList()">
          <label for="member" class="sidebar-section__heading" translate>Add new Member</label>
          <ui-select ng-model="usersAdded.users" multiple name="member">
            <ui-select-match placeholder="Select some people">{{$item.name}}</ui-select-match>
            <ui-select-choices refresh="getUsers($select.search)" repeat="person.id as person in newMembers">
              {{person.name}}
            </ui-select-choices>
          </ui-select>
        <button type="submit" class="btn-primary btn-block" translate>Add Member</button>
      </form>

      <div class="sidebar-section">
        <h2 class="sidebar-section__heading" translate>List Settings</h2>

        <a class="btn-primary btn-block" href="lists/{{list._id}}/edit">
          <icon name="pencil"></icon>
          <span translate>Edit List Settings</span>
        </a>

        <button type="button" class="btn-danger btn-block" ng-click="deleteList();">
          <icon name="trash"></icon>
          <span translate>Delete List</span>
        </button>
      </div>
    </div>

    <div ng-if="(list.joinability == 'public' || list.joinability == 'moderated') && !isMember" class="sidebar-section">
      <h2 class="sidebar-section__heading" translate>Check in</h2>
      <form ng-submit="checkIn()">
        <div class="form-group">
          <label for="checkoutDate" translate>Checkout date</label>
          <input type="date" name="checkoutDate" ng-model="checkinUser.checkoutDate">
          <p translate>Select a checkout date if you would like to be checked out automatically (you will receive emails from the system beforehand)</p>
        </div>
        <button type="submit" class="btn-primary btn-block">
          <icon name="check"></icon>
          <span translate>Check in</span>
        </button>
      </form>
    </div>

    <div ng-if="isMember" class="sidebar-section">
      <h2 class="sidebar-section__heading" translate>Check out</h2>
      <p ng-if="currentListUser && currentListUser.checkoutDate">You will be checked out of this list automatically on <span ng-bind="currentListUser.checkoutDate | date:'longDate'"></span></p>
      <button type="submit" class="btn-primary" ng-click="checkOut();">
        <icon name="times"></icon>
        <span translate>Check out</span>
      </button>
    </div>

    <div class="sidebar-section">
      <h2 class="sidebar-section__heading" translate>Export</h2>
      <button type="button" class="btn-primary btn-block" ng-click="exportEmails()">
        <icon name="clone"></icon>
        <span translate>Copy Email Addresses</span>
      </button>
      <script type="text/ng-template" id="exportEmailsModal.html">
        <div class="modal-header">
          <h3 class="modal-title" id="modal-title" translate>Copy Email Addresses</h3>
        </div>
        <div class="modal-body" id="modal-body">
          <p><span translate>Please email responsibly. Follow our</span> <a href="https://humanitarian.id/code-of-conduct" target="_blank" translate>Code of conduct</a></p>
          <textarea rows="15" cols="100">{{emailsText}}</textarea>
        </div>
      </script>

      <button type="button" class="btn-primary btn-block">
        <icon name="file-pdf-o"></icon>
        <span translate>View PDF</span>
      </button>

      <button type="button" class="btn-primary btn-block">
        <icon name="users"></icon>
        <span translate>Meeting Attendance</span>
      </button>

      <button type="button" class="btn-primary btn-block">
        <icon name="download"></icon>
        <span translate>Export Results</span>
      </button>
    </div>

    <div class="sidebar-section">
      <h2 class="sidebar-section__heading" translate>Favorite</h2>
      <button type="button" class="btn-primary btn-block" ng-click="star()" ng-if="!isFavorite">
        <icon name="star"></icon>
        <span translate>Star</span>
      </button>
      <button type="button" class="btn-primary btn-block" ng-click="unstar()" ng-if="isFavorite">
        <icon name="times"></icon>
        <span translate>Unstar</span>
      </button>
    </div>
  </div>

</div>
