<ng-include src="'app/components/list/list-admin.html'"></ng-include>

<div class="page-header">

  <div class="page-header__primary">
    <h1 class="page-header__heading">{{list.name}}</h1>
  </div>

  <div class="page-header__secondary">

    <div class="page-header__actions">

      <button class="btn-icon" type="button" ng-click="toggleSidebar('userFilters')" ng-class="{'active' : sidebar.sidebars.userFilters && sidebar.open}">
        <icon name="filter" text="Filter"></icon>
      </button>

      <button class="btn-icon" type="button" ng-click="toggleSidebar('admin')" ng-class="{'active' : sidebar.sidebars.admin && sidebar.open}">
        <icon name="cog" text="Actions"></icon>
      </button>

    </div>

  </div>

</div>

<hid-users></hid-users>
