<div sidebar class="sidebar" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.listsFilters}">

  <form ng-if="sidebar.sidebars.listsFilters" class="sidebar__inner">

    <h2 class="sidebar__heading">Filter</h2>

    <div class="sidebar__current-filters" ng-if="currentFilters.length">
      <ul class="tag-list tag-list--sidebar">
        <li class="tag-list__item tag-list__item--has-button" ng-repeat="filter in currentFilters">
          <span class="tag-list__text">{{filter.label}}</span>
          <button type="button" class="btn-transparent tag-list__button" ng-click="removeFilter(filter)">
            <icon name="cancel" text="Remove {{filter.type}} filter"></icon>
          </button>
        </li>
      </ul>
    </div>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="sidebar.close()">
      <icon name="cancel" text="close"></icon>
    </button>

    <div class="filters-group filter__search">
      <label for="name" class="sr-only" translate>Search by name</label>
      <input type="text" class="filter__search__input" ng-model="selectedFilters['name']" name="name" id="name" placeholder="{{'Search by name' | translate}}">
      <icon name="search"></icon>
    </div>

    <div class="filter">
      <label for="type" class="sr-only" translate>Filter by type</label>
      <ui-select ng-model="selectedFilters['type']" name="type">
        <ui-select-match allow-clear="true" placeholder="{{'Type' | translate}}">{{$select.selected.val}}</ui-select-match>
        <ui-select-choices repeat="type.key as type in listTypes">
          {{type.val}}
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="filter">
      <label for="sort" class="sr-only" translate>Sort by</label>
      <ui-select ng-model="request['sort']" name="sort" class="always-show-placeholder">
        <ui-select-match placeholder="{{'Sort by' | translate}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="sort.label as sort in sortBy | filter: $select.search">
            {{sort.name}}
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="row filter__buttons">
      <div class="col-xs-6">
        <button type="button" class="btn btn-secondary" ng-click="resetFilters()">Clear</button>
      </div>
      <div class="col-xs-6">
        <button type="submit" class="btn btn-primary" ng-click="applyFilters()">Apply</button>
      </div>
    </div>

  </form>

</div>
