<ng-include src="'app/components/list/list-admin.html'" ng-if="list.visible"></ng-include>

<loader ng-if="!listLoaded"></loader>

<div class="page-header" ng-if="list.visible">
  <h1 class="page-header__heading">{{list.name}}</h1>
  <p><span class="list-type list-type--{{list.type}}">{{list.displayType}}</span></p>


  <div class="page-header__buttons page-header__buttons--list">
    <button class="btn-icon btn-toggle-filters btn-toggle-filters--has-admin" type="button" ng-click="toggleSidebar('userFilters')">
      <icon name="filter" text="Filter"></icon>
    </button>

    <button class="btn-icon btn-toggle-admin" type="button" ng-click="toggleSidebar('admin')" ng-class="{'active' : sidebar.sidebars.admin && sidebar.open}" ng-disabled="!isOnline" ng-if="list.visible">
      <icon name="wheel" text="Actions"></icon>
    </button>
  </div>

</div>

<div class="row" ng-if="listLoaded && !list.visible">
  <div class="page-header page-header--alert col-md-8" >

    <icon name="lock" class="page-header__alert-icon"></icon>

    <div class="page-header__content">
      <h1 class="page-header__heading">
        {{list.name}}
      </h1>

      <p class="page-header__alert-info">
        <span translate>This contact list can only be viewed by verified users. Please contact us at</span>
        <a href="mailto:info@humanitarian.id">info@humanitarian.id</a>
        <span translate>if you wish to access the list.</span>
      </p>
    </div>
  </div>
</div>

<div ng-if="isPending" class="alert alert-warning">
  <p translate>Your request for check-in is pending. We will get back to you soon.</p>
</div>

<users-list ng-show="list.visible"></users-list>
