<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <p class="alert alert--inline alert--danger" translate>Humanitarian ID platform and its contacts management features will be decommissioned on 1 Jan 2021. Note that this will not affect the HID Authentication service, your HID account will remain active  to access integrated platforms. More info available in the <a href="https://about.humanitarian.id/faqs#contacts-decommissioning">FAQs section</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="page-header">
      <h1 class="page-header__heading" ng-if="!list._id" translate>Create a new list</h1>
      <h1 class="page-header__heading" ng-if="list._id">{{list.name}}</h1>
    </div>
    <form ng-submit="listSave()">
      <div class="form-field">
        <label for="name" translate>Name</label>
        <input type="text" id="name" ng-model="list.label" placeholder="{{'List name' | translate}}" required>
      </div>

      <fieldset class="form-field">
        <legend translate>Who can view this list?</legend>
        <p ng-repeat="option in visibility">
          <input type="radio" id="visibility-{{option.value}}" name="visibility" ng-model="list.visibility" value="{{option.value}}" />
          <label class="clickie-label t-visibility-{{option.value}}" for="visibility-{{option.value}}" required>{{option.label}}</label>
        </p>
      </fieldset>

      <fieldset class="form-field">
        <legend translate>Who can join this list?</legend>
        <p ng-repeat="option in joinability">
          <input type="radio" id="joinability-{{option.value}}" name="joinability" ng-model="list.joinability" value="{{option.value}}" />
          <label class="clickie-label t-joinability-{{option.value}}" for="joinability-{{option.value}}" required>{{option.label}}</label>
        </p>
      </fieldset>

      <div class="form-field">
        <label for="managers" translate>Managers</label>
        <ui-select ng-model="list.managers" multiple name="managers">
          <ui-select-match placeholder="{{'Select some people' | translate}}">{{$item.name}}</ui-select-match>
          <ui-select-choices refresh="getManagers($select.search)" repeat="person.id as person in newManagers" minimum-input-length="3">
            {{person.name}}
          </ui-select-choices>
        </ui-select>
      </div>

      <div class="form-field" ng-if="list._id">
        <label translate>Created on</label>
        <p><span ng-bind="list.createdAt | date:'longDate'"></span></p>
      </div>

      <div class="form-field" ng-if="list._id">
        <label translate>Created by</label>
        <p ng-if="list.owner.id"><a href="/user/{{list.owner.id}}">{{list.owner.name}}</a></p>
        <p ng-if="!list.owner.id"><a href="/user/5b2128e754a0d6046d6c69f2">Humanitarian ID</a></p>
      </div>

      <button type="submit" class="btn-primary t-save-list-btn" ng-class="{'saving' : saving}">
        <loader type="inline" text="" ng-if="saving"></loader>
        <span ng-if="!saving" translate>Save</span>
      </button>
    </form>
  </div>
</div>
