<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="page-header">
      <h1 class="page-header__heading" ng-if="!list._id" translate>Create a new list</h1>
      <h1 class="page-header__heading" ng-if="list._id" translate>{{list.name}}</h1>
    </div>
    <form ng-submit="listSave()">
      <div class="form-group">
        <label for="name" translate>Name</label>
        <input type="text" id="name" ng-model="list.name" placeholder="{{'List name' | translate}}" required>
      </div>

      <fieldset class="form-group">
        <legend translate>Who can view this list?</legend>
        <p ng-repeat="option in visibility">
          <input type="radio" id="visibility-{{option.value}}" name="visibility" ng-model="list.visibility" value="{{option.value}}" />
          <label class="clickie-label" for="visibility-{{option.value}}" required translate>{{option.label}}</label>
        </p>
      </fieldset>

      <fieldset class="form-group">
        <legend translate>Who can join this list?</legend>
        <p ng-repeat="option in joinability">
          <input type="radio" id="joinability-{{option.value}}" name="joinability" ng-model="list.joinability" value="{{option.value}}" />
          <label class="clickie-label" for="joinability-{{option.value}}" required translate>{{option.label}}</label>
        </p>
      </fieldset>

      <div class="form-group">
        <label for="managers" translate>Managers</label>
        <ui-select ng-model="list.managers" multiple name="managers">
          <ui-select-match placeholder="Select some people">{{$item.name}}</ui-select-match>
          <ui-select-choices refresh="getManagers($select.search)" repeat="person.id as person in newManagers">
            {{person.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <button type="submit" class="btn-primary" translate>Save</button>
    </form>
  </div>
</div>
