<div>
  <h2 class="form-section__heading" translate>All subscriptions</h2>
  <div class="form-field">
    <label for="searchLists" class="sr-only" translate>Search</label>
    <input type="search" id="searchLists" placeholder="{{'Search for a subscription' | translate}}" ng-model="subscriptionSearchTerm.list.name" />
  </div>
  <ul class="list list--has-buttons list--has-dividers">
    <li class="list__item">
      Subscription name
      <button type="button" class="btn-transparent list__button">
        <icon name="cancel" text="Remove subscription"></icon>
      </button>
    </li>
    <li class="list__item">
      Subscription name
      <button type="button" class="btn-transparent list__button">
        <icon name="cancel" text="Remove subscription"></icon>
      </button>
    </li>
  </div>