<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="page-header">
      <h1 class="page-header__heading">{{service.name ? service.name : 'Create a new service'}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <form name="editService" ng-submit="editService.$valid && saveService()" novalidate>
      <div class="form-field" ng-class="{'has-error': editService.name.$touched && editService.name.$invalid}">
        <label for="name" translate>Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="{{'The service name'|translate}}" ng-model="service.name" required>
        <div class="clearfix">
          <div ng-messages="editService.name.$error" ng-show="editService.name.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label for="description" translate>Description</label>
        <textarea ng-model="service.description" class="form-control" name="description" id="description" rows="5" cols="20"></textarea>
      </div>
      <fieldset class="form-field">
        <legend translate>Service Type</legend>
        <p ng-repeat="option in serviceTypes">
          <input type="radio" id="service-type-{{option.value}}" name="visibility" ng-model="service.type" value="{{option.value}}" />
          <label class="clickie-label" for="service-type-{{option.value}}" required translate>{{option.label}}</label>
        </p>
      </fieldset>
      <div class="form-field" ng-show="service.type === 'mailchimp'">
        <label for="mailchimp-api-key" translate>Mailchimp API key</label>
        <input type="text" name="name" class="form-control" id="mailchimp-api-key" placeholder="{{'Mailchimp API Key'|translate}}" ng-model="service.mailchimp.apiKey" ng-required="service.type === 'mailchimp'" ng-blur="getMailchimpLists()">
      </div>
      <div class="form-field" ng-if="service.type === 'mailchimp' && service.mailchimp.apiKey" ng-init>
        <label for="mailchimpList" translate>Mailchimp list</label>
        <div class="styled-select">
          <select name="mailchimpList" ng-model="service.mailchimp.list" ng-options="list.name for list in mailchimpLists track by list.id">
          </select>
        </div>
      </div>
      <div class="form-field" ng-if="service.type === 'googlegroup'" ng-init>
        <label for="ggDomain" translate>Domain</label>
        <div class="styled-select">
          <select name="ggDomain" ng-model="service.googlegroup.domain" ng-blur="getGoogleGroups()">
            <option ng-repeat="cred in credentials" ng-value="cred.googlegroup.domain">{{cred.googlegroup.domain}}</option>
          </select>
        </div>
      </div>
      <div class="form-field" ng-if="service.type === 'googlegroup' && service.googlegroup.domain" ng-init>
        <label for="googleGroup" translate>Group</label>
        <select name="googleGroup" ng-model="service.googlegroup.group" ng-options="group.name for group in googleGroups track by group.id">
        </select>
      </div>
      <div class="form-field">
        <input type="checkbox" ng-model="service.hidden" name="hidden" id="hidden" />
        <label for="hidden" class="clickie-label" translate>Hide the service - HID users will not be able to search for it</label>
      </div>

      <fieldset class="form-field">
        <legend translate>Associated lists</legend>
        <select-lists></select-lists>
      </fieldset>

      <fieldset class="form-field">
        <legend translate>Service manager</legend>
        <ui-select ng-model="selectedManager" on-select="service.managers.push(selectedManager)" name="managers" class="ui-select--has-border">
          <ui-select-match placeholder="{{'Select managers'|translate}}"><span translate>Select managers</span></ui-select-match>
          <ui-select-choices ui-disable-choice="isSelectedManager(user)" refresh="getUsers($select.search)" repeat="user in newUsers">
            {{user.name}}
          </ui-select-choices>
        </ui-select>
        <ul class="list list--has-buttons list--has-dividers">
          <li ng-repeat="user in service.managers" class="list__item">
            <icon name="check"></icon>
            {{user.name}}
            <button type="button" class="btn-transparent list__button" ng-click="removeManager(user)">
              <icon name="cancel" text="Remove"></icon>
            </button>
          </li>
        </ul>
      </fieldset>
      <button type="submit" class="btn btn-primary" ng-disabled="editService.$invalid || editService.$submitted" translate>Save</button>
    </form>

  </div>
</div>
