<h1 translate>Create a new service</h1>
<form name="editService" ng-submit="editService.$valid && saveService()" novalidate>
  <div class="form-group" ng-class="{'has-error': editService.name.$touched && editService.name.$invalid}">
    <label for="name" translate>Name</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="{{'The service name'|translate}}" ng-model="service.name" required>
    <div class="clearfix">
      <div ng-messages="editService.name.$error" ng-show="editService.name.$touched" ng-messages-multiple="ng-messages-multiple">
        <div ng-messages-include="app/common/messages.html"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description" translate>Description</label>
    <textarea ng-model="service.description" class="form-control" name="description" rows="5" cols="20"></textarea>
  </div>
  <fieldset class="form-group">
    <legend translate>Service Type</legend>
    <p ng-repeat="option in serviceTypes">
      <input type="radio" id="service-type-{{option.value}}" name="visibility" ng-model="service.type" value="{{option.value}}" />
      <label class="clickie-label" for="service-type-{{option.value}}" required translate>{{option.label}}</label>
    </p>
  </fieldset>
  <button type="submit" class="btn btn-primary" ng-disabled="editService.$invalid || editService.$submitted" translate>Save</button>
</form>
