<div class="sidebar collapse" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.admin}">
  <div ng-if="sidebar.sidebars.admin" class="sidebar__inner">

    <h2 class="sidebar__heading" translate>Service admin</h2>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="closeSidebar()">
      <icon name="cancel" text="close"></icon>
    </button>

    <div ng-if="currentUser.is_admin">
      <form class="sidebar-section"  ng-submit="subscribe(userSubscribed.user)">
          <label for="member" class="sidebar-section__heading" translate>Subscribe user</label>
          <ui-select ng-model="userSubscribed.user" name="member">
            <ui-select-match placeholder="Select someone">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getUsers($select.search)" repeat="person in newUsers">
              {{person.name}}
            </ui-select-choices>
          </ui-select>
        <button type="submit" class="btn-primary btn-block" translate>Subscribe</button>
      </form>
    </div>

    <div class="sidebar-section" ng-if="currentUser.is_admin || service.isOwner(currentUser)">
      <h2 class="sidebar-section__heading" translate>List Settings</h2>

      <div>
        <a class="btn btn-primary" href="services/{{service._id}}/edit" translate>Edit Service</a>
      </div>
      <div>
        <a class="btn btn-danger" ng-click="deleteService();" translate>Delete Service</a>
      </div>
    </div>

    <div ng-if="!isSubscribed">
      <a class="btn btn-primary" ng-click="subscribe(currentUser);" translate>Subscribe</a>
    </div>
    <div ng-if="isSubscribed">
      <a class="btn btn-primary" ng-click="unsubscribe();" translate>Unubscribe</a>
    </div>

  </div>

</div>
