<ng-include src="'app/components/service/service-admin.html'"></ng-include>

<button class="btn-icon btn-toggle-admin" type="button" ng-click="toggleSidebar('admin')" ng-class="{'active' : sidebar.sidebars.admin && sidebar.open}" ng-disabled="!isOnline">
  <icon name="wheel" text="Actions"></icon>
</button>

<div class="page-header">
  <h1 class="page-header__heading">{{service.name}}</h1>
</div>
<div id="page-content-wrapper">
  <p>{{service.description}}</p>
  <ul>
    <li><span translate>Type</span>: {{service.type}}</li>
  </ul>
</div>
