<loader ng-if="!servicesLoaded"></loader>
<div class="filters-group filter__search">
  <label for="query" class="sr-only" translate>Search</label>
  <input type="text" class="filter__search__input t-filter-name" ng-model="query" ng-model-options="{debounce: 600}" name="search" id="query" placeholder="{{'Search services'| translate}}" ng-change="search()">
  <icon name="search"></icon>
</div>
<table class="table table-responsive table-responsive--has-actions">
  <thead>
    <tr>
      <th translate>Name</th>
      <th translate>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in services">
      <td><a href="/services/{{service._id}}">{{service.name}}</a></td>
      <td>{{service.type}}</td>
      <td class="table__td-actions">
        <div uib-dropdown>
          <button type="button" class="btn-transparent" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false" title="Edit" ng-disabled="!isOnline">
            <icon name="dots" text="User options"></icon>
          </button>
          <ul class="dropdown-menu dropdown-menu--small" uib-dropdown-menu>
            <li ng-if="currentUser.is_admin || service.isOwner(currentUser) || service.isManager(currentUser)"><a href="/services/{{service._id}}/edit" translate>Edit</a></li>
            <li ng-if="currentUser.is_admin || service.isOwner(currentUser)"><a ng-click="deleteService(service)">Delete</a></li>
            <li ng-if="!service.isSubscribed(currentUser)"><a ng-click="subscribe(service, currentUser)">Subscribe</a></li>
            <li ng-if="service.isSubscribed(currentUser)"><a ng-click="unsubscribe(service, currentUser)">Unsubscribe</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<uib-pagination
  total-items="pagination.totalItems"
  ng-model="pagination.currentPage"
  ng-change="pageChanged()"
  direction-links="false"
  items-per-page=pagination.itemsPerPage
  class="pagination" >
</uib-pagination>
