<div class="sidebar collapse" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.admin}">
  <div ng-if="sidebar.sidebars.admin" class="sidebar__inner">

    <h2 class="sidebar__heading" translate>Service admin</h2>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="closeSidebar()">
      <icon name="cancel" text="close"></icon>
    </button>

    <div class="sidebar-section" ng-if="service.isOwner(currentUser) || service.isManager(currentUser) || currentUser.is_admin">
      <form class="sidebar-section"  ng-submit="subscribe(userSubscribed.user)">
          <label for="member" class="sidebar-section__heading" translate>Subscribe user</label>
          <ui-select ng-model="userSubscribed.user" name="member">
            <ui-select-match placeholder="Select someone">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getUsers($select.search)" repeat="person in newUsers">
              {{person.name}}
            </ui-select-choices>
          </ui-select>
        <button type="submit" class="btn-primary btn-block" translate>Subscribe</button>
      </form>
    </div>

    <div class="sidebar-section" ng-if="service.isOwner(currentUser) || currentUser.is_admin">
      <h2 class="sidebar-section__heading" translate>Service settings</h2>

        <a class="btn-block btn-primary" href="services/{{service._id}}/edit" translate>
          <icon name="edit"></icon>
          <span translate>Edit service</span>
        </a>

        <button type="button" class="btn-block btn-danger" ng-click="deleteService();" translate>
          <icon name="trash"></icon>
          <span translate>Delete service</span>
        </button>
    </div>

  </div>

</div>
