<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <p class="alert alert--inline alert--danger" translate>Humanitarian ID platform and its contacts management features will be decommissioned on 1 Jan 2021. Note that this will not affect the HID Authentication service, your HID account will remain active  to access integrated platforms. More info available in the <a href="https://about.humanitarian.id/faqs#contacts-decommissioning">FAQs section</a>.</p>
  </div>
</div>

<div class="page-header row">
  <div class="col-sm-8">
    <h1 class="page-header__heading" translate>
      Services
    </h1>
  </div>
  <div class="col-sm-4 page-header__actions">
    <a class="btn-primary t-add-service-btn" href="services/new" ng-if="currentUser.is_admin || currentUser.isManager" translate>Add Service</a>
  </div>
</div>

<services-list></services-list>
