node_modules/
src/bower_components
src/app/common/translations.js
.sass-cache/
**/.DS_Store
**/*.map
src/assets/css/*.scss
src/assets/css/*.css
src/assets/css/*.css.map
!src/assets/css/api.scss
src/app/config/config.js
