.footer {
  height: $footer-height;
  background: $primary-color;
  color: $text-light;
  padding-top: $base-unit*3;
  padding-bottom: $base-unit*3;
}

.footer-links {
	margin-bottom: $base-unit;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
}

.footer-links__item {
	margin: 0 $base-unit $base-unit 0;
	position: relative;

	&:after {
		content: "";
		width: 1px;
		height: $base-unit*1.5;
		background: rgba(255,255,255,0.6);
		position: absolute;
		right: 0;
		bottom: $base-unit*.75;
	}

	&:last-child {
		&:after {
			content: none;
		}
	}

	.no-flexbox & {
		display: inline-block;
	}
}

.footer-links__link {
	color: $text-light;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $heading-font-light;
	margin-right: $base-unit;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.footer-social {
	margin-bottom: $base-unit*2;
}

.footer-social__btn {
	margin: 0 $base-unit 0 0;
}

.footer-platforms__heading {
	font-weight: normal;
	@include font-size($small-font-size);
}

.footer-platforms__list {
	display: flex;
	flex-wrap: wrap;
}

.footer-platforms__item {
	position: relative;
	// height: $base-unit*10;
	width: percentage(1/3);
	margin-bottom: $base-unit*2;
	padding: 0 $base-unit*2 0 0;
	

	.no-flexbox & {
		display: inline-block;
	}
}

.footer-platforms__logo {
	display: block;
	width: 100%;
	max-width: 100%;
	height: $base-unit*7;
	text-decoration: none;
	text-indent: -99999px;
	transition: opacity 0.3s ease;
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: contain;
	color: $text-light;	

	.no-svg & {
		text-indent: 0;
		width: auto;
		height: auto;
	}

	&:hover, &:focus {
		opacity: 0.6;
	}

}

.footer-platforms__logo--humanitarian-response {
	background-image: url('../img/platform-logos/humanitarian-response.svg');
}

.footer-platforms__logo--reliefweb {
	background-image: url('../img/platform-logos/reliefweb.svg');
}

.footer-platforms__logo--iasc {
	background-image: url('../img/platform-logos/iasc.svg');
}

.footer-platforms__logo--dart {
	background-image: url('../img/platform-logos/dart.svg');
}

.footer-platforms__logo--acaps {
	background-image: url('../img/platform-logos/acaps.svg');
}

.footer-platforms__logo--factr {
	background-image: url('../img/platform-logos/factr.svg');
}

.footer-platforms__logo--hxl {
	background-image: url('../img/platform-logos/hxl.svg');
}

.footer-platforms__logo--humanitarian-leadership {
	background-image: url('../img/platform-logos/humanitarian-leadership-academy.svg');
}

@include media-query(sm) {

	.footer {
  	height: $footer-height-sm;
  }

	.footer-platforms__heading {
		@include font-size($base-font-size);
	}

	.footer-platforms__item {
		width: 25%;
		padding: 0 $base-unit*3 0 0;
	}

	.footer-platforms__logo {
		margin-right: $base-unit*2;
		height: $base-unit*8.5;
		max-width: 120px;
	}

}

@include media-query(md) {
	
	.footer {
  	height: $footer-height-md;
  	padding-top: $base-unit*4;
  }

  .footer-social {
  	text-align: right;
  }

	.footer-platforms__item {
		width: auto;
		max-width: percentage(1/8);
		margin: 0;
		padding: 0 $base-unit*2;

		&:after {
			content: "";
			width: 1px;
			height: $base-unit*1.5;
			background: rgba(255,255,255,0.6);
			position: absolute;
			right: 0;
			bottom: $base-unit*.75;
		}

		&:first-child {
			padding: 0 $base-unit*2 0 0;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}

	.footer-platforms__logo {
		background-size: 100% auto;
		max-width: 100%;
	}

	.footer-platforms__logo--humanitarian-response {
		width: 108px;
	}

	.footer-platforms__logo--reliefweb {
		width: 130px;
	}

	.footer-platforms__logo--iasc {
		width: 96px;
	}

	.footer-platforms__logo--dart {
		width: 94px;
	}

	.footer-platforms__logo--acaps {
		width: 89px;
	}

	.footer-platforms__logo--factr {
		width: 46px;
	}

	.footer-platforms__logo--hxl {
		width: 115px;
	}

	.footer-platforms__logo--humanitarian-leadership {
		width: 102px;
	}

}

@include media-query(lg) {

	.footer-links__item {
		margin: 0 $base-unit*2 $base-unit 0;
	}

	.footer-links__link {
		margin-right: $base-unit*2;
	}

	.footer-platforms__item {
		&:after {
			bottom: $base-unit*2;
		}
	}

}
