.footer {
	background: $primary-color;
	color: $text-light;
	padding-top: $base-unit*3;
	padding-bottom: $base-unit*3;
}

.footer-links {
	margin-bottom: $base-unit;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	@include font-size($small-font-size);
}

.footer-links__item {
	margin: 0 $base-unit $base-unit 0;
	position: relative;

	&:after {
		content: "";
		width: 1px;
		height: $base-unit*1.25;
		background: rgba(255,255,255,0.6);
		position: absolute;
		right: 0;
		bottom: $base-unit*.75;
	}

	&:last-child {
		&:after {
			content: none;
		}
	}

	.no-flexbox & {
		display: inline-block;
	}
}

.footer-links__link {
	color: $text-light;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $heading-font-light;
	margin-right: $base-unit;

	&:hover, &:focus {
		text-decoration: underline;
	}
}

.footer-social {
	margin-bottom: $base-unit*2;
}

.footer-social__btn {
	margin: 0 $base-unit 0 0;

	.icon {
		fill: $text-light;
	}

	&:hover, &:focus {
		.icon {
			fill: $primary-color;
		}
	}
}

.footer-platforms {
	display: none;
}

@include media-query(md) {

	.footer {
		padding-top: $base-unit*4;
		padding-bottom: $base-unit*4;
	}

	.footer-social {
		text-align: right;
	}

}

@include media-query(lg) {

	.footer {
		height: $footer-height-lg;
	}

	.footer-links__item {
		margin: 0 $base-unit*2 0 0;
	}

	.footer-links__link {
		margin-right: $base-unit*2;
	}

	.footer-platforms {
		display: block;
	}

	.footer-platforms__heading {
		font-weight: normal;
		@include font-size($small-font-size);
	}

	.footer-platforms__list {
		display: flex;
		flex-wrap: wrap;
	}

	.footer-platforms__item {
		position: relative;
		width: 9%;
		margin: 0 $base-unit*2 $base-unit*2 0;
		padding: 0 $base-unit*3 0 0;

		.no-flexbox & {
			display: inline-block;
		}

		&:after {
			content: "";
			width: 1px;
			height: $base-unit*1.5;
			background: rgba(255,255,255,0.6);
			position: absolute;
			right: 0;
			bottom: $base-unit*2;
		}

		&:first-child {
			padding: 0 $base-unit*2 0 0;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}

	.footer-platforms__logo {
		display: block;
		width: 100%;
		max-width: 100px;
		height: $base-unit*6;
		text-decoration: none;
		text-indent: -99999px;
		transition: opacity 0.3s ease;
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: contain;
		color: $text-light;

		.no-svg & {
			text-indent: 0;
			width: auto;
			height: auto;
		}

		&:hover, &:focus {
			opacity: 0.6;
		}

	}

	.footer-platforms__logo--humanitarian-response {
		background-image: url('../img/platform-logos/humanitarian-response.svg');
	}

	.footer-platforms__logo--reliefweb {
		background-image: url('../img/platform-logos/reliefweb.svg');
	}

	.footer-platforms__logo--iasc {
		background-image: url('../img/platform-logos/iasc.svg');
	}

	.footer-platforms__logo--dart {
		background-image: url('../img/platform-logos/dart.svg');
	}

	.footer-platforms__logo--acaps {
		background-image: url('../img/platform-logos/acaps.svg');
	}

	.footer-platforms__logo--factr {
		background-image: url('../img/platform-logos/factr.svg');
	}

	.footer-platforms__logo--hxl {
		background-image: url('../img/platform-logos/hxl.svg');
	}

	.footer-platforms__logo--humanitarian-leadership {
		background-image: url('../img/platform-logos/humanitarian-leadership-academy.svg');
	}

}
