<footer role="contentinfo" class="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-9">
				<ul class="footer-links">
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/" class="footer-links__link" translate>About</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/support/" class="footer-links__link" translate>Support</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/blog/" class="footer-links__link" translate>Blog</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/developers/" class="footer-links__link" translate>Developers</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/code-of-conduct/" class="footer-links__link" translate>Code of conduct</a>
					</li>
					<li class="footer-links__item">
						<a href="mailto:info@humanitarian.id" class="footer-links__link" translate>Contact</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3 footer-social">

				<a href="http://unocha.us2.list-manage.com/subscribe?u=83487eb1105d72ff2427e4bd7&id=0caf68f11d" class="btn-icon btn-icon--inverted footer-social__btn">
					<icon name="mail" text="Sign up to our mailing list"></icon>
				</a>

				<a href="https://twitter.com/HumanitarianID" class="btn-icon btn-icon--inverted footer-social__btn">
					<icon name="twitter" text="Follow us on Twitter"></icon>
				</a>

			</div>

		</div>
		<div class="row">

			<div class="col-xs-12 footer-platforms">
				<h2 class="footer-platforms__heading" translate>See <a href="https://about.humanitarian.id/partners-using-our-authentication-service" target="_blank" style="color: #fff;">here</a> platforms using Humanitarian ID login.</h2>
			</div>
		</div>
	</div>

</footer>
