<footer role="contentinfo" class="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-9">
				<ul class="footer-links">
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/" class="footer-links__link" translate>About</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/support/" class="footer-links__link" translate>Support</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/blog/" class="footer-links__link" translate>Blog</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/developers/" class="footer-links__link" translate>Developers</a>
					</li>
					<li class="footer-links__item">
						<a href="http://about.humanitarian.id/code-of-conduct/" class="footer-links__link" translate>Code of conduct</a>
					</li>
					<li class="footer-links__item">
						<a href="mailto:info@humanitarian.id" class="footer-links__link" translate>Contact</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3 footer-social">
			
				<a href="http://humanitarian.us9.list-manage.com/subscribe?u=c58d447182fca2df4bd9a389b&id=54af906854" class="btn-icon btn-icon--inverted footer-social__btn">
					<icon name="mail" text="Sign up to our mailing list"></icon>
				</a>

				<a href="https://twitter.com/HumanitarianID" class="btn-icon btn-icon--inverted footer-social__btn">
					<icon name="twitter" text="Follow us on Twitter"></icon>
				</a>

			</div>

		</div>
		<div class="row">

			<div class="col-xs-12 footer-platforms">
				<h2 class="footer-platforms__heading" translate>See below for other platforms using Humanitarian ID login:</h2>

				<ul class="footer-platforms__list">
					<li class="footer-platforms__item">
						<a href="https://www.humanitarianresponse.info/" class="footer-platforms__logo footer-platforms__logo--humanitarian-response">HumanitarianResponse.info</a>
					</li>
					<li class="footer-platforms__item">
						<a href="http://reliefweb.int/" class="footer-platforms__logo footer-platforms__logo--reliefweb">ReliefWeb</a>
					</li>
					<li class="footer-platforms__item">
						<a href="https://interagencystandingcommittee.org/" class="footer-platforms__logo footer-platforms__logo--iasc">IASC</a>
					</li>
					
					
					<li class="footer-platforms__item">
						<a href="https://www.acaps.org/" class="footer-platforms__logo footer-platforms__logo--acaps">ACAPS</a>
					</li>
					
					<li class="footer-platforms__item">
						<a href="http://hxlstandard.org/" class="footer-platforms__logo footer-platforms__logo--hxl">HXL</a>
					</li>
					<li class="footer-platforms__item">
						<a href="http://www.humanitarianleadershipacademy.org/" class="footer-platforms__logo footer-platforms__logo--humanitarian-leadership">Humanitarian Leadership Academy</a>
					</li>
					<li class="footer-platforms__item">
						<a href="http://www.dart.jips.org/" class="footer-platforms__logo footer-platforms__logo--dart">DART</a>
					</li>
					<li class="footer-platforms__item">
						<a href="https://factr.com/" class="footer-platforms__logo footer-platforms__logo--factr ">FactR</a>
					</li>
				</ul>
			</div>	
			<p>Cordova: {{isCordova}}</p>
		</div>
	</div>

</footer>
