/**
 * Styles for dashboard component
 */

.dashboard-ctas {
  .btn-block {
    margin-bottom: $base-unit;
  }
}

.dashboard-cache-icon {
  color: $primary-color;
  margin-right: $base-unit/2;
}

@include media-query(sm) {

  .dashboard-ctas {
      display: flex;

    .btn-block {
      margin-bottom: $base-unit*2;

      &+.btn-block {
        margin-left: 4%;
      }
    }
  }

}
