/**
 * Styles for dashboard component
 */

.dashboard-tabs {
    margin-bottom: $base-unit*2;
  }

.dashboard-ctas {
  margin-bottom: $base-unit*2;

  .btn-block {
    margin-bottom: $base-unit;
  }
}

@include media-query(sm) {

  .dashboard-ctas {
      display: flex;

    .btn-block {
      width: 49%;
      margin: 0 2% 0 0;

      &+.btn-block {
        margin-right: 0;
      }
    }
  }

}

@include media-query(md) {

  .dashboard-tabs {
    margin-bottom: 0;
  }

}
