<div class="row">
  <div class="col-xs-12">
    <div class="page-header page-header--no-actions">
      <h1 class="page-header__heading" translate>Dashboard</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-8 block">

    <h2 class="block-heading" translate>My lists</h2>

    <tabset responsive="true">

      <tab heading="{{'My favourite lists' | translate}}">
        <ul class="list list--has-buttons list--has-dividers">
          <li class="list__item" ng-if="!userLists.favoriteLists.length" translate>
            You don't have any favourite lists
          </li>
          <li class="list__item" ng-repeat="list in userLists.favoriteLists track by $index">
            <icon ng-if="list.cacheStatus === 'caching'" name="refresh" class="rotate dashboard-cache-icon" text="Saving list" title="Saving list"></icon>
            <icon ng-if="list.cacheStatus === 'success'" name="inbox-download" class="dashboard-cache-icon" text="List saved" title="List saved"></icon>
            <icon ng-if="list.cacheStatus === 'fail'" name="caution" class="dashboard-cache-icon" text="List saved" title="Could not cache list"></icon>
            <a href="/lists/{{list._id}}">{{list.name}}</a>
            <div uib-dropdown class="list__button">
              <button type="button" class="btn-transparent" ng-disabled="!isOnline" uib-dropdown-toggle>
                <icon name="dots" text="Options"></icon>
              </button>
              <ul class="dropdown-menu dropdown-menu--small" role="menu" uib-dropdown-menu>
                <li><button type="button" ng-click="removeFavorite(list)" class="btn-link" translate>Remove from favourites</button></li>
              </ul>
            </div>
          </li>
        </ul>
      </tab>

      <tab heading="{{'Lists I\'m part of' | translate}}" default="true">
        <ul class="list list--has-buttons list--has-dividers">
          <li class="list__item" ng-if="!userLists.listsMember.length" translate>
            You are not part of any lists
          </li>
          <li class="list__item" ng-repeat="list in userLists.listsMember track by $index">
            <icon ng-if="list.cacheStatus === 'caching'" name="refresh" class="rotate dashboard-cache-icon" text="Saving list" title="Saving list"></icon>
            <icon ng-if="list.cacheStatus === 'success'" name="inbox-download" class="dashboard-cache-icon" text="List saved" title="List saved" ></icon>
            <a href="/lists/{{list._id}}">{{list.name}}</a>
            <div uib-dropdown class="list__button">
              <button type="button" class="btn-transparent" ng-disabled="!isOnline" uib-dropdown-toggle>
                <icon name="dots" text="Options"></icon>
              </button>
              <ul class="dropdown-menu dropdown-menu--small" role="menu" uib-dropdown-menu>
                <li><button type="button" ng-click="leaveList(list)" class="btn-link" translate>Check out of list</button></li>
              </ul>
            </div>
          </li>
        </ul>
      </tab>

      <tab heading="{{'Lists I manage' | translate}}">
        <ul class="list list--has-buttons list--has-dividers">
          <li class="list__item" ng-if="!listsOwnedAndManagedLoaded">
          <loader type="inline" text="Loading lists"></loader>
          </li>
          <li class="list__item" ng-if="listsOwnedAndManagedLoaded && !userLists.listsOwnedAndManaged.length" translate>
            You don't manage any lists
          </li>
          <li class="list__item" ng-repeat="list in userLists.listsOwnedAndManaged track by $index">
            <icon ng-if="list.cacheStatus === 'caching'" name="refresh" class="rotate dashboard-cache-icon" text="Saving list" title="Saving list"></icon>
            <icon ng-if="list.cacheStatus === 'success'" name="inbox-download" class="dashboard-cache-icon" text="List saved" title="List saved"></icon>
            <a href="/lists/{{list._id}}">{{list.name}}</a>
            <div uib-dropdown class="list__button">
              <button type="button" class="btn-transparent" ng-disabled="!isOnline" uib-dropdown-toggle>
                <icon name="dots" text="Options"></icon>
              </button>
              <ul class="dropdown-menu dropdown-menu--small" role="menu" uib-dropdown-menu>
                <li><a href="/lists/{{list._id}}/edit" translate>Access settings</a></li>
                <li><button type="button" ng-click="deleteList(list)" class="btn-link" translate>Delete list</button></li>
              </ul>
            </div>
          </li>
        </ul>
      </tab>
    </tabset>

  </div>

  <div class="col-md-4">

    <div class="dashboard-ctas">
      <a class="btn-block btn-primary" href="/lists/new" translate>Create new List</a>
      <a class="btn-block btn-primary" ng-if="currentUser.is_admin || currentUser.isManager" href="/services" translate>Manage services</a>
    </div>
    <div class="dashboard-ctas">
      <a class="btn-block btn-primary" href="/users/new"  ng-if="currentUser.is_admin || currentUser.isManager" translate>Add new user</a>
      <a class="btn-block btn-primary" href="/clients"  ng-if="currentUser.is_admin" translate>View OAuth Clients</a>
    </div>

    <div class="secondary-block">
      <h2 class="secondary-block__heading" translate>Subscriptions</h2>

      <ul class="secondary-block__list list list--has-buttons">
        <li class="list__item" ng-if="!subscriptions.length"><em>No subscriptions</em></li>
        <li class="list__item" ng-repeat="subscription in filterData = currentUser.subscriptions | limitTo:itemsPerPage:itemsPerPage*(currentPage-1) | orderBy: 'createdAt' : true"">
          {{subscription.service.name}}
          <div uib-dropdown class="list__button">
            <button type="button" class="btn-transparent" uib-dropdown-toggle>
              <icon name="dots" text="Options"></icon>
            </button>
            <ul class="dropdown-menu dropdown-menu--small" role="menu" uib-dropdown-menu>
              <li>
                <button type="button" class="btn-link" ng-click="unsubscribe(subscription)" translate>Unsubscribe</button>
              </li>
              <li ng-if="subscription.isOwner || subscription.isManager">
                <a href="services/{{subscription.service._id}}/edit" translate>Edit Service</a>
              </li>
              <li ng-if="subscription.isOwner">
                <button type="button" class="btn-link" ng-click="deleteService(subscription)" translate>Delete service</button>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>

    <uib-pagination
      ng-show="subscriptions.length > itemsPerPage"
      total-items="subscriptions.length"
      ng-model="currentPage"
      ng-change="pageChanged()"
      direction-links="false"
      items-per-page="itemsPerPage"
      class="pagination" >
    </uib-pagination>

  </div>
</div>
