<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1 class="page-header__heading" translate>Dashboard</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-8">

    <ul class="tabs tabs-3 dashboard-tabs" ng-class="{'tabs--closed' : !tabsActive}">

      <li class="tabs__control-item">
        <button type="button" class="tabs__control-button" ng-class="{'active' : activeTab === 'favorites', 'tabs__control-button--mobile-closed': !tabsActive}" ng-click="toggleTabs('favorites')">
          <span translate>My favorite lists</span>
        </button>

        <div class="tabs__content" ng-if="activeTab === 'favorites'" ng-class="{'tabs__content--mobile-closed' : !tabsActive}">
          <ul class="list-group" ng-if="currentUser.favoriteLists.length">
            <li class="list-group__item" ng-repeat="list in currentUser.favoriteLists track by $index">
              <a href="/lists/{{list._id}}">{{list.name}}</a>
              <div class="list-group__item-actions" uib-dropdown>
                <button type="button" class="btn btn-transparent" uib-dropdown-toggle>
                  <icon name="dots" text="Options"></icon>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                  <li><button type="button" ng-click="removeFavorite(list)" class="btn-link" translate>Remove from favorites</button></li>
                </ul>
              </div>
            </li>
          </ul>
          <div ng-if="!currentUser.favoriteLists.length">
            <p class="list-tabs__empty" translate>You don't have any favorite lists</p>
          </div>
        </div>
      </li>

      <li class="tabs__control-item">
        <button type="button" class="tabs__control-button" ng-class="{'active' : activeTab === 'partof'}" ng-click="toggleTabs('partof')">
          <span translate>Lists I'm part of</span>
        </button>

        <div class="tabs__content" ng-if="activeTab === 'partof'">
          <ul class="list-group" ng-if="listsMember.length">
            <li class="list-group__item" ng-repeat="list in listsMember track by $index">
              <a href="/lists/{{list._id}}">{{list.name}}</a>
              <div class="list-group__item-actions" uib-dropdown>
                <button type="button" class="btn btn-transparent" uib-dropdown-toggle>
                  <icon name="dots" text="Options"></icon>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                  <li><button type="button" ng-click="leaveList(list)" class="btn-link" translate>Leave list</button></li>
                </ul>
              </div>
            </li>
          </ul>
          <div ng-if="!listsMember.length">
            <p class="list-tabs__empty" translate>You are not part of any lists</p>
          </div>
        </div>
      </li>

      <li class="tabs__control-item">
        <button type="button" class="tabs__control-button" ng-class="{'active' : activeTab === 'manage'}" ng-click="toggleTabs('manage')">
          <span translate>Lists I manage</span>
        </button>

        <div class="tabs__content" ng-if="activeTab === 'manage'">
          <ul class="list-group" ng-if="listsOwner.length || listsManager.length">
            <li class="list-group__item" ng-repeat="list in listsOwner track by $index">
              <a href="/lists/{{list._id}}">{{list.name}}</a>
              <div class="list-group__item-actions">
                <button type="button" class="btn btn-transparent">
                  <icon name="dots" text="Options"></icon>
                </button>
              </div>
            </li>
            <li class="list-group__item" ng-repeat="list in listsManager track by $index">
              <a href="/lists/{{list._id}}">{{list.name}}</a>
              <div class="list-group__item-actions" uib-dropdown>
                <button type="button" class="btn btn-transparent" uib-dropdown-toggle>
                  <icon name="dots" text="Options"></icon>
                </button>
                <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                  <li><a href="/lists/{{list._id}}/edit" translate>Edit list</a></li>
                  <li><button type="button" ng-click="deleteList(list)" class="btn-link" translate>Delete list</button></li>
                </ul>
              </div>
            </li>
          </ul>

          <div ng-if="!listsOwner.length && !listsManager.length">
            <p class="list-tabs__empty" translate>You don't manage any lists</p>
          </div>
        </div>
      </li>

    </ul>

  </div>

  <div class="col-md-4">

  <div class="dashboard-ctas">
    <a class="btn-block btn-primary" href="/lists/new" translate>Create new List</a>
    <a class="btn-block btn-primary" href="/checkin" translate>Check In</a>
  </div>
  <div class="dashboard-ctas">
    <a class="btn-block btn-primary" href="/users/new" ng-if="currentUser.is_admin">Add new user</a>
    <a class="btn-block btn-primary" href="/clients" ng-if="currentUser.is_admin">View OAuth Clients</a>
  </div>

  <div class="secondary-block">
    <h2 class="secondary-block__heading">
      <span translate>Notifications</span>
      <a href="/notifications" class="btn-primary btn-small" translate>View all</a>
    </h2>
    <ul class="secondary-block__list">
      <li class="secondary-block__item" ng-repeat="notification in notifications.unread | limitTo: 5">
        <icon name="arrow-right"></icon>
        {{notification.text}}
      </li>
      <li class="secondary-block__item">
        <icon name="arrow-right"></icon>
        <span translate>Last update to your profile</span>: <span ng-bind="currentUser.updatedAt | date:'longDate'"></span></li>
      <li class="secondary-block__item">
        <icon name="arrow-right"></icon>
        <span ng-if="currentUser.verified" translate>Your profile is verified</span>
        <span ng-if="!currentUser.verified" translate>You're not verified yet</span>
      </li>
    </ul>

  </div>

  </div>
</div>
