//——————————————————————————————————————————————————————————————————————————————
// Common Design: Logo
//
// Replace images with your site logo.
//——————————————————————————————————————————————————————————————————————————————

// Wrap the logo in a h1 if it's the main heading for the page (e.g. on homepage).
.cd-site-header h1 {
  margin: 0;
}

.cd-site-logo {
  display: block;
  float: left;
  width: 52px;
  height: $cd-site-header-height;
  background: url('../img/logo-globe.svg') center no-repeat; // HID override

  .cssgrid.flexbox & {
    float: none;
  }

  .no-svg & {
    background: url('../img/logo-globe.png') center no-repeat; // HID override
  }
}

@include tablet {
  .cd-site-logo {
    background: url('../img/logo.svg') center no-repeat; // HID override
    width: 256px; // HID override

    .no-svg & {
      background: url('../img/logo.png') center no-repeat; // HID override
    }
  }
}
