//——————————————————————————————————————————————————————————————————————————————
// Common Design: Global Header
//——————————————————————————————————————————————————————————————————————————————

.cd-global-header {
  &__language-switcher {
    float: right;
  }

  &__user-menu {
    float: right;
  }

  // HID override
  &__notifications { // HID override
    float: right; // HID override
  }
}
