//——————————————————————————————————————————————————————————————————————————————
// Common Design: SVG icon styles
//——————————————————————————————————————————————————————————————————————————————

// SVG sprite placed before end of footer in `footer.html` // HID override
svg.icons-sprite {
  @extend .element-hidden;
  overflow: hidden;
}

svg.icon {
  pointer-events: none;
  display: inline-block;
}
