.global-header {
  background: $primary-color;
  color: $text-light;

  .dropdown-menu {
    top: 30px;
  }
}

.global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: $base-unit;
  padding-bottom: $base-unit;
  height: $global-header-height;
}

.global-header__sites {
  flex-grow: 1;
  position: relative;

  .dropdown-menu {
    left: 0;
    right: auto;
    top: 34px;
    width: $base-unit*20;
  }

  .no-flexbox & {
    float: left;
  }
}

.global-header__sites-btn {
  color: $text-light;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  @include font-size($tiny-font-size);

  &:focus {
    box-shadow: none;
  }
}

@include media-query(sm) {

  .global-header__sites-btn {
    @include font-size($small-font-size);
  }

}

@include media-query(lg) {

  .global-header__inner {

    .no-flexbox & {
      height: auto;
      padding-top: $base-unit;
      padding-bottom: $base-unit;
    }
  }

}
