.global-header {
  background: $primary-color;
  color: $text-light;
  font-family: $body-font;
  @include font-size($small-font-size);

  .dropdown-menu {
    min-width: 106px;
    font-family: $heading-font-light;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);

    a, .btn-link {
      &:hover, &:focus {
        text-decoration: none;
        background: $primary-color;
        color: $text-light;
      }
    }
  }

  .global-header__sites-btn, button, a {
    font-family: $body-font;
  }

  .nav button, a {
    @include font-size($global-nav-font-size);
  }

  .icon {
    fill: white;
  }

  .icon--arrow-down {
    margin-right: 0;
    width: $base-unit*1.75;
    height: $base-unit*1.75;
    vertical-align: middle;

    .open & {
      transform: rotate(180deg)
    }
  }
}

.global-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $global-header-height;

  &:after {
    content: none; // remove container clearfix;
  }

  .no-flexbox & {
    display: block;
    
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.global-header__back {
  margin-left: -$base-unit*1.5;
  width: calc(25% + 12px);

  .btn-transparent {
    color: $text-light;
  }

  .no-calc & {
    width: 25%;
  }
}

.global-header__sites {
  display: none;
}

.global-header__nav {
  margin-right: -$base-unit*1.5;
  width: calc(75% + 12px);

  .no-flexbox & {
    float: right;
  }

  .no-calc & {
    width: 75%;
  }
}

@include media-query(sm) {

  .global-header {
    .dropdown-menu {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .global-header__back {
    display: none;
  }

  .global-header__sites {
    display: block;
    margin-left: 0;
    width: auto;
    position: relative;

    &.global-header__sites--full {
      width: auto;
    }

    .no-flexbox & {
      float: left;
    }

    .no-calc & {
      width: 25%;
    }

    .dropdown-menu {
      top: $base-unit*5;
      left: 0;
      right: auto;
      width: 100%;
      background: $primary-color;
      padding: $base-unit;
      min-width: 230px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
      
      li {
        border-color: rgba(255,255,255,0.5);
      }

      a {
        color: $text-light;
        @include font-size($base-font-size);
        padding: $base-unit*1.5 $base-unit;

        &:hover, &:focus {
          background: $dark-blue;
        }
      }
    }
  }

  .global-header__sites-btn {
    @include font-size($global-nav-font-size);
    color: $text-light;
    text-transform: uppercase;
    text-align: left;
    padding: 0 $base-unit;
    height: $global-header-height;
    width: 100%;
    text-align: center;

    &:hover, &:focus {
      background: darken($primary-color, 10%);
      outline: none;
      text-decoration: none;
    }
  }

  .global-header__sites-arrow {
    .icon {
      margin: 0;
      
      .open & {
        transform: rotate(180deg)
      }
    }
  }

  .global-header__nav {
    margin-right: 0;
    width: auto;
  }

}

@include media-query(lg) {

  .global-header__sites-btn {
    padding-left: $base-unit*1.5;
    padding-right: $base-unit*1.5;
  }

}
