.global-header {
  padding-top: $base-unit;
  padding-bottom: $base-unit;
  background: $primary-color;
  color: $text-light;

  .btn, .dropdown {
    display: inline-block;
  }
}

.site-header {
  padding-top: $base-unit;
  padding-bottom: $base-unit;
  border-bottom: 2px solid $border-grey;
}

.site-header__logo {
  display: block;
  height: $base-unit*5;
  width: $base-unit*5;
  background: url('../img/logo.svg') left center no-repeat;

  .no-svg & {
    background-image: url('../img/logo.png');
  }
}

@include media-query(sm) {

  .site-header {
    padding-top: $base-unit*2;
    padding-bottom: $base-unit*2;
  }

  .site-header__logo {
    width: 250px;
  }

}
