.main-nav {
  font-family: $heading-font;
}

.main-nav__item {
  text-transform: uppercase;
  border-bottom: 1px solid $border-grey;
}

.main-nav__link {
  display: flex;
  align-items: center;
  height: $base-unit*6;
  color: $primary-color;
  line-height: 1;
  padding: 0 $base-unit;
  text-decoration: none;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  .active &, &:hover, &:focus {

    &:after {
      border-color: $primary-color;
    }
  }
}

@include media-query(lg) {

  .main-nav {
    display: flex;
  }

  .main-nav__item {
    display: inline-block;
    border: none;

    &:last-child {
      .main-nav__link:before {
        content: none;
      }
    }
  }

  .main-nav__link {
    height: $base-unit*9;
    @include font-size($small-font-size);

    &:before {
      content: "";
      display: inline-block;
      width: 2px;
      background: $primary-color;
      position: absolute;
      right: -1px;
      top: 29px;
      height: 13px;
    }

  }

}

@include media-query(xl) {

  .main-nav__link {
    padding: 0 $base-unit*2;
    @include font-size($base-font-size);
  }

}
