.site-header {
  border-bottom: 2px solid $border-grey;
}

.site-header__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: $site-header-height-xs;
}

.site-header__logo {
  display: block;
  height: $base-unit*5;
  width: $base-unit*5;
  background: url('../img/logo.svg') left center no-repeat;
  position: relative;

  .no-svg & {
    background-image: url('../img/logo.png');
  }

  &.site-header__logo--loggedout {
    width: $base-unit*32;
  }

  .no-flexbox & {
    float: left;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  &:hover, &:focus, &.active {
    &:after {
      border-color: $medium-blue;
    }
  }
}

.site-header__search {
  flex-grow: 1;

  .no-flexbox & {
    float: left;
  }
}

.site-header__nav-toggle {
  width: $base-unit*5;
  padding: 0;
  @include font-size($large-font-size);
  position: relative;
}

.dropdown-menu.site-header__nav {
  top: 52px;
  width: $base-unit*30;
  right: -$base-unit*2;
}

@include media-query(sm) {

  .site-header__logo {
    width: $base-unit*30;
    margin-right: $base-unit*3;
    background-size: 100%;

    &:after {
      bottom: -12px;
    }
  }

}

@include media-query(md) {

  .site-header__inner {
    height: $site-header-height-md;
  }
}

@include media-query(lg) {

  .site-header__inner {
    .no-flexbox & {
      padding-top: $base-unit*1.5;
      padding-bottom: $base-unit*1.5;
    }
  }

  .site-header__nav-toggle {
    display: none;
  }

  .dropdown-menu.site-header__nav {
    display: block;
    position: relative;
    box-shadow: none;
    top: auto;
    right: auto;
    width: auto;
    background: none;
    z-index: auto;

    .no-flexbox & {
      float: right;
    }
  }

}
