header {
  z-index: map-get($zindex, header);
  position: relative;
}

.site-header {
  border-bottom: 2px solid $border-grey;
}

.site-header__inner {
  display: flex;
  align-items: center;
  position: relative;
  height: $site-header-height-xs;

  .no-flexbox & {
    height: $site-header-height-md;
    padding-top: $base-unit;
    padding-bottom: 0;
  }
}

.site-header__logo {
  display: block;
  height: $base-unit*5;
  width: $base-unit*5;
  background: url('../img/logo.svg') left center no-repeat;
  position: relative;

  .no-svg & {
    background-image: url('../img/logo.png');
  }

  &.site-header__logo--loggedout {
    width: $base-unit*32;
  }

  .no-flexbox & {
    float: left;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  &:hover, &:focus, &.active {
    &:after {
      border-color: $medium-blue;
    }
  }

  &:focus {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: $border-grey;
  }
}

.site-header__search {
  flex-grow: 1;
  height: 100%;

  .no-flexbox & {
    float: left;
  }

  .search-form__input {
    height: $site-header-height-xs;
  }
}

.site-header__nav-toggle {
  width: $base-unit*5;
  height: $base-unit*5;
  padding: $base-unit/2;
  margin-right: -$base-unit/2;
  position: relative;

  .icon {
    margin: 0;
    @include font-size(28);
  }

  &:focus {
    outline: none;
    background: $primary-color;

    .site-header__nav-toggle-inner {
      border-color: $text-light;

      &:before {
        background: $text-light;
      }
    }
  }

  .no-mediaqueries & {
    display: none;
  }
}

.dropdown-menu.site-header__nav {
  top: ($base-unit*6) - 2;
  width: $base-unit*30;
  right: -$base-unit*2;

  .no-flexbox {
    float: right;
  }
}

@include media-query(sm) {

  .site-header__logo {
    width: $base-unit*30;
    margin-right: $base-unit*3;
    background-size: 100%;
  }

  .site-header__nav-toggle {
    margin-right: 0;
  }

}

@include media-query(md) {

  .site-header__inner {
    height: $site-header-height-md;
  }

  .site-header__logo {
    &:after {
      bottom: -12px;
    }
  }

  .dropdown-menu.site-header__nav {
    top: ($base-unit*6) + 4;
  }

  .site-header__search {
    margin-right: $base-unit;
  }
}

@include media-query(lg) {

  .site-header__inner {
    .no-flexbox & {
      padding-top: $base-unit*1.5;
      padding-bottom: $base-unit*1.5;
    }
  }

  .site-header__nav-toggle {
    display: none;
  }

  .dropdown-menu.site-header__nav {
    display: block;
    position: relative;
    box-shadow: none;
    top: auto;
    right: auto;
    width: auto;
    background: none;
    z-index: auto;

    .no-flexbox & {
      float: right;
    }
  }

}
