<a id="skip-to-content" href="#main" class="skip-link" translate>Skip to main content</a>

<header role="banner">

  <div class="global-header">
    <div class="container global-header__inner">
      <div class="global-header__sites" uib-dropdown>
        <button type="button" class="global-header__sites-btn btn btn-transparent" uib-dropdown-toggle>
          Related platforms
          <icon name="arrow-down" text="Change platform"></icon>
        </button>
        <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
          <li><a href="#" translate>TO DO</a></li>
        </ul>
      </div>

      <div class="global-header__nav" ng-if="isAuthenticated">

        <ul class="nav nav--secondary">
          <li class="nav__item">
            <a href="/notifications" class="nav__link">
              <icon name="chat" text="Notifications"></icon>
              <span class="nav__label nav__label--mobile">
                <notifications-count></notifications-count>
              </span>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <icon name="question">?</icon>
              <span class="nav__label">About</span>
            </a>
          </li>

          <li class="nav__item" uib-dropdown>
            <button type="button" class="nav__link btn btn-transparent" uib-dropdown-toggle>
              <span class="nav__label nav__label--mobile">{{getCurrentLanguage()}}</span>
              <icon name="arrow-down" text="Change language"></icon>
            </button>

            <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
              <li><a href="#" ng-click="changeLanguage('en')" translate>English</a></li>
              <li><a href="#" ng-click="changeLanguage('fr')" translate>Français</a></li>
            </ul>
          </li>

          <li class="nav__item" uib-dropdown>
            <button type="button" class="nav__link btn btn-transparent" uib-dropdown-toggle>
              <icon name="user"></icon>
              <span class="nav__label">{{currentUser.name}}</span>
              <icon name="arrow-down" text="Open user menu"></icon>
            </button>

            <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
              <li><a href="/dashboard" translate>Dashboard</a></li>
              <li><a href="/users/{{currentUser.id}}" translate>Profile</a></li>
              <li><a href="/settings" translate>Preferences</a></li>
              <li><a href="/logout" translate>Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="site-header">
    <div class="container site-header__inner">

      <a href="/" class="site-header__logo" ng-class="{'site-header__logo--loggedout': !isAuthenticated, 'active' : activeNav('/landing')}">
        <span class="sr-only">Humanitarian ID</span>
      </a>

      <div class="site-header__search" ng-if="isAuthenticated">
        <ng-include src="'app/components/search/search-form.html'"></ng-include>
      </div>

      <div uib-dropdown on-toggle="toggled(open)" ng-if="isAuthenticated">

        <nav role="navigation" id="nav" class="site-header__nav dropdown-menu" uib-dropdown-menu aria-labelledby="navToggle" >
          <ul class="nav nav--primary">
            <li class="nav__item" ng-class="{'active' : activeNav('/dashboard')}"><a href="/dashboard" class="nav__link" translate>Dashboard</a></li>
            <li class="nav__item" ng-class="{'active' : activeNav('/users/'+currentUser.id)}"><a href="/users/{{currentUser.id}}" class="nav__link" translate>My profile</a></li>
            <li class="nav__item" ng-class="{'active' : activeNav('/search')}"><a href="/search" class="nav__link" translate>Humanitarian contacts</a></li>
            <li class="nav__item" ng-class="{'active' : activeNav('/checkin/{{currentUser.id}}')}" ng-if="isOnline"><a href="/checkin/{{currentUser.id}}" class="nav__link" translate>Check in</a></li>
          </ul>
        </nav>

        <button type="button" id="navToggle" class="site-header__nav-toggle btn btn-transparent" uib-dropdown-toggle>
          <icon name="menu" text="Open main menu"></icon>
        </button>

      </div>
    </div>
  </div>
</header>
