.alert {
  padding: $base-unit 0;
  @include font-size($small-font-size);
  font-style: italic;
  margin-bottom: $base-unit/2;
}

.alert--inline {
  padding: $base-unit;
}

.alert--dismissable {
  padding-right: $base-unit*6;
}

.alert--danger {
  color: #474747;
  background-color: #F4AEB0;

  .alert__icon {
    color: #A42834;
  }
  svg.alert__icon {
    fill: #A42834;
  }

  a {
    color: #474747;
  }
}

.alert--success {
  background-color: $light-blue;
  color: $dark-blue;
}

.alert--warning {
  background-color: $light-blue;
  color: $dark-blue;
}

.alert__inner {
  display: flex;
  position: relative;
}

.alert__close {
  position: absolute;
  right: 0;
  top: -$base-unit;
  
  &.btn-transparent {
    padding: $base-unit;
  }
}

.alert__icon {
  float: left;
  @include font-size(20);
  flex-shrink: 0;
  margin-right: $base-unit;
}

svg.alert__icon {
  width: $base-unit*3;
  height: $base-unit*3;
}

@include media-query(md) {

  .alert {
    @include font-size($base-font-size);
    margin-bottom: $base-unit;
  }

  .alert__inner {
    align-items: center;
  }

  .alert__close {
    top: -$base-unit*.75;
  }

}
