.alert {
  padding: $base-unit*2;
  border: 1px solid transparent;

  .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    background: 0 0;
    border: 0;
    color: inherit;
  }
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-danger {
  color: $error-color;
  background-color: white;
  border-color: $error-color;
}

.alert-success {
  background-color: lighten($light-blue, 5%);
  border-color: $light-blue;
  color: $dark-blue;
}

.alert-warning {
  color: #8a6d3b;
  background-color: lighten($light-blue, 5%);
  border-color: $light-blue;
  color: $dark-blue;
}
