/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 60px;
}

body.toggled {
  padding-left: 350px;
}

.alert {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0;
  text-align: center;
}

.alert .close {
  display: none;
}

#admin {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  height: 100% !important;
  width: 350px;
}

.admin-icon {
  color: #fff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
}

.admin-background {
  color: #2b5e82;
}
