.block-heading {
  background: $primary-color;
  color: $text-light;
  text-transform: uppercase;
  padding: $base-unit;
  font-family: $heading-font;
  font-weight: normal;
  display: block;
}

.secondary-block {
  border-bottom: 1px solid $primary-color;
  margin-bottom: $base-unit*2;
  padding-bottom: $base-unit*2;
}

.secondary-block__heading {
  text-transform: uppercase;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding: $base-unit;
  font-family: $heading-font;
  font-weight: normal;
}

.secondary-block__item {
  padding: $base-unit*1.5 $base-unit*2;

  .fa {
    @include font-size(12);
    margin-right: $base-unit/2;
  }

}

.page-header {
  position: relative;
  margin: $base-unit*2 0 $base-unit 0;
  padding-right: $base-unit*14;
}

.page-header__heading {
  line-height: 1.2;
  margin-bottom: 0;
  word-break: break-word;
}

.page-header__sub-heading {
  font-weight: bold;
}

.page-header__actions {
  position: absolute;
  right: 0;
  top: -$base-unit*5;
}

@include media-query(sm) {

  .page-header__actions {
    top: 0;
  }

}
