.block {
  margin-bottom: $base-unit*2;
}

.block-heading {
  background: $light-blue;
  color: $dark-blue;
  text-transform: uppercase;
  padding: $base-unit;
  font-family: $heading-font;
  font-weight: normal;
  display: block;
  margin-bottom: $base-unit/2;
  display: flex;
  justify-content: space-between;

  .tabs__section & {
    margin-bottom: $base-unit*2;
  }
}

.block-heading__action {

}

.secondary-block {
  border-bottom: 1px solid $primary-color;
  margin-bottom: $base-unit*2;
}

.secondary-block__heading {
  text-transform: uppercase;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding: $base-unit;
  font-family: $heading-font;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.secondary-block__item {
  padding: $base-unit*1.5 $base-unit*2;
}

@include media-query(md) {

  .block {
    margin-bottom: $base-unit*4;
  }

}
