.block {
  margin-bottom: $base-unit*2;
}

.block-heading {
  background: $light-blue;
  color: $dark-blue;
  text-transform: uppercase;
  padding: $base-unit;
  font-family: $heading-font;
  font-weight: normal;
  display: block;
  margin-bottom: $base-unit/2;
  display: flex;
  justify-content: space-between;

  .tabs__section & {
    margin-bottom: $base-unit*2;
  }
}

.secondary-block {
  border-bottom: 1px solid $primary-color;
  margin-bottom: $base-unit*2;
}

.secondary-block__heading {
  text-transform: uppercase;
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  padding: $base-unit;
  font-family: $heading-font;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.secondary-block__item {
  padding: $base-unit*1.5 $base-unit*2;
}

@include media-query(md) {

  .block {
    margin-bottom: $base-unit*4;

    .no-flexbox & {
      overflow: auto;
    }
  }

  .block-thumbnail {
    display: flex;
    margin-bottom: $base-unit*2;
  }

  .block-thumbnail__inner {
    width: 100%;
    padding-top: $base-unit;

    .no-flexbox & {
      float: left;
      width: 85%;
    }
  }

  .block-thumbnail__image {
    width: $base-unit*10;
    height: $base-unit*10;
    margin-right: $base-unit*2;
    flex-shrink: 0;

    .no-svg & {
      display: none;
    }

    .no-flexbox & {
      float: left;
      width: 15%;
      margin-right: 0;
    }
  }

  .block-thumbnail__image--contacts {
    background: url('../img/contacts-illustration.svg') left center no-repeat;
    background-size: contain;
  }

  .block-thumbnail__image--lists {
    background: url('../img/lists-illustration.svg') left center no-repeat;
    background-size: contain;
  }

}

@include media-query(lg) {
  .block-thumbnail__image {
    width: $base-unit*15;
    height: $base-unit*15;
  }
}
