.breadcrumbs {
  display: block;
  @include font-size($small-font-size);
  height: $base-unit*3 +4;
  padding-right: $base-unit*14;
  padding-top: $base-unit;
  padding-bottom: $base-unit;
  text-transform: uppercase;

    a {
    text-decoration: none;

    &:hover, &:focus {

      span {
        text-decoration: underline;
      }
    }
  }

  .icon {
    fill: $primary-color;
  }
}
