.breadcrumbs {
  display: none;
}

@include media-query(sm) {

  .breadcrumbs {
    display: block;
    @include font-size($small-font-size);
    height: $base-unit*3 +4;
    padding-right: $base-unit*14;
    padding-top: $base-unit;
    padding-bottom: $base-unit;
    text-transform: uppercase;

    a {
    text-decoration: none;

    &:hover, &:focus {

      span:not(.iconholder) {
        text-decoration: underline;
      }
    }
  }

    .icon {
      @include font-size($base-font-size);
    }
  }
}
