button, input[type="submit"] {
  @include font-size($base-font-size);
  font-family: $body-font;
  -webkit-appearance: none;
  cursor: pointer;
}

button[disabled] {
  background: $light-grey;
  border-color: $light-grey;
  color: $text-dark;
  cursor: initial;

  &:hover, &:focus {
    background: $light-grey;
    border-color: $light-grey;
    color: $text-dark;
  }
}

.btn {
  border: 2px solid $border-grey;
  border-radius: $base-border-radius;
  background: $light-grey;
  padding: $base-unit*1.5;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  color: $text-dark;
  min-width: $base-unit*5.5;

  &:hover, &:focus {
    background: white;
  }
}

.btn-primary {
  background: $primary-color;
  border-color: $primary-color;
  color: white;
  transition: background 0.3s ease;

  &:hover, &:focus {
    background: white;
    color: $primary-color;
  }
}

.btn-secondary {
  background: white;
  border-color: $primary-color;
  color: $primary-color;
  transition: background 0.3s ease;

  &:hover, &:focus {
    background: $primary-color;
    color: white;
  }
}

.btn-transparent {
  background: none;
  border: none;
  color: $primary-color;

  &:hover, &:focus {
    background: none;
  }
}

.btn-icon {
  @extend .btn-secondary;
  border: 1px solid;
  border-radius: 100%;
  min-width: $base-unit*5;
  width: $base-unit*5;
  height: $base-unit*5;
  padding: 0;
  vertical-align: middle;
}

.btn-link {
  background: none;
  padding: 0;
  text-decoration: underline;
  border: none;
  color: $primary-color;
}




.icon-inline {
  display: inline-block;
  min-width: $base-unit*4;
  text-align: center;
}
