button, input[type="submit"] {
  @include font-size($base-font-size);
  font-family: $body-font;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 0;
  line-height: 1;
  display: inline-block;
}

button[disabled], a.disabled {
  background: $light-grey;
  border: 1px solid $border-grey;
  color: $text-dark;
  cursor: initial;
  opacity: 0.8;

  .icon {
    fill: $text-dark;
  }

  &.btn-transparent {
    border: none;
    background: none;
  }

  &:hover, &:focus {
    background: $light-grey;
    border-color: $border-grey;
    color: $text-dark;

    .icon {
      fill: $text-dark;
    }
  }
}

.btn-primary {
  @include btn();
  border: 1px solid $primary-color;
  color: $primary-color;

  .icon {
    vertical-align: bottom;
    fill: $primary-color;
  }

  &:hover, &:focus, &.active {
    background: $primary-color;
    color: white;

    .icon {
      fill: white;
    }
  }

  &.saving {
    &:hover, &:focus {
      border: 1px solid $primary-color;
      background: transparent;
      color: $primary-color;
    }
  }
}

.btn-secondary {
  @include btn();
  border: 1px solid $text-dark;
  color: $text-dark;

  .icon {
    position: absolute;
  }

  &:hover, &:focus, &.active {
    background: $text-dark;
    color: white;

    .icon {
      fill: white;
    }
  }
}

.btn-body-font {
  font-family: $body-font;
  font-weight: bold;
  text-transform: none;
}

.btn-danger {
  @include btn();
  border: 1px solid $error-color;
  color: $error-color;

  .icon {
    position: absolute;
  }

  &:hover, &:focus, &.active {
    background: $error-color;
    color: white;

    .icon {
      fill: white;
    }
  }
}

.btn-icon {
  @include btn();
  border: 1px solid $primary-color;
  border-radius: 100%;
  min-width: $base-unit*5;
  width: $base-unit*5;
  height: $base-unit*5;
  padding: 0;
  vertical-align: middle;

  &:hover, &:focus, &.active {
    background: $primary-color;

    .icon {
      fill: $text-light;
    }
  }

  .icon {
    position: relative;
    margin: 0;
    width: $base-unit*3;
    height: $base-unit*3;
    fill: $primary-color;
  }

  &.btn-secondary {
    background: white;
    border: 1px solid $text-dark;
    
    .icon {
      fill: $text-dark;
    }

    &:hover, &:focus, &.active {
      background: $text-dark;

      .icon {
        fill: $text-light;
      }
    }
  }
}

a.btn-icon {
  line-height: $base-unit*4.5;
  text-align: center;
}

.btn-icon--inverted {
  border-color: $text-light;
  color: $text-light;

  &:hover, &:focus, &.active {
    background: $text-light;
    color: $primary-color;

    .icon {
      fill: white;
    }
  }

}

.btn-transparent {
  @include btn();
  padding: $base-unit*1.5 $base-unit;
  border: none;
  color: $primary-color;

  .icon {
    fill: $primary-color;
  }

  &:hover, &:focus {
    background: none;
    text-decoration: underline;
  }

  &[disabled], &.active {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &:focus {
    background: $primary-color;
    color: $text-light;
    box-shadow: none;

    .icon {
      fill: white;
    }
  }

  &.active {
    background: $primary-color;
    color: white;

    .icon {
      fill: white;
    }
  }
}

.btn-link {
  background: none;
  padding: 0;
  text-decoration: underline;
  border: none;
  color: $primary-color;

  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

.btn-rounded {
  height: $base-unit*5;
  border-radius: $base-unit*2.5;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.btn-small {
  padding: $base-unit/2;
  @include font-size($small-font-size);

  .icon {
    width: $base-unit*1.5;
    height: $base-unit*1.5;
    vertical-align: baseline;
    fill: $primary-color;
  }
}

a.btn-small {
  text-decoration: none;
  padding: 0;

  &:hover, &:focus {
    span {
      text-decoration: underline;
    }
  }
}

.btn-toggle {
  display: flex;
  z-index: 1;

  .btn-primary {
    width: 50%;
    padding: $base-unit;
    border-radius: 21px 0 0 21px;

    &:focus {
      position: relative;
      z-index: 2;
    }

    &[disabled] {
      background: $primary-color;
      border-color: $primary-color;
      opacity: 1;

      &:hover {
        color: $text-light;
      }

    }

    & + .btn-primary {
      border-radius: 0 21px 21px 0;
    }
  }
}

//bootstrap focus style used when not using actual focusable elements
.btn-default-focus {
  outline: none;
  border-color: black;
  box-shadow: 0px 0px 0px 1px black;
}
