.uib-datepicker-popup {
  position: absolute;
  z-index: map-get($zindex, dropdown);
  width: $base-unit*38;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  background: white;

  &.dropdown-menu {
    left: auto!important;
    right: 0;

    li {
      border-bottom: none;
    }
  }

  button {
    @include btn;
    padding: $base-unit;
    border: none;
    border-radius: $base-unit*2;
    background: none;
    text-transform: none;
    color: $text-dark;

    .text-muted {
      opacity: 0.6;
    }
  }
}

.uib-datepicker {

  table {
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  th {
    text-align: center;
    padding: $base-unit $base-unit/4;
  }

  td {
    padding: $base-unit/4;
  }

  small {
    @include font-size($small-font-size);
  }

  button:not(:disabled) {
    &:hover, &:focus {
      background: $light-blue;
    }
  }

  button.active {
    background: $primary-color;
    color: $text-light;
  }

  button.uib-right, button.uib-left {
    font-family: 'icomoon';

    &:hover, &:focus {
      background: $primary-color;
      border: none;
      box-shadow: none;
      color: $text-light;
    }
  }

  .uib-right {
    @extend .icon-arrow-right;
  }

  .uib-left {
    @extend .icon-arrow-left;
  }
}

.uib-button-bar {
  text-align: center;
  @include clearfix;
  padding: $base-unit 0;

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }

  button {
    color: $primary-color;
    @include font-size($small-font-size);

    &:hover, &:focus {
      background: $primary-color;
      color: $text-light;
    }
  }
}
