.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;

  .open > & {
    display: block;
    position: absolute;
    background: white;
    z-index: map-get($zindex, dropdown);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    right: 0;
    top: 100%;
    min-width: $base-unit*20;
    text-align: left;
  }

  li {
    border-bottom: 1px solid $border-grey;

    &:last-child {
      border-bottom: none;
    }
  }

  a, .btn-link {
    display: block;
    text-decoration: none;
    color: $text-dark;
    padding: $base-unit*1.5;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .btn-link {
    width: 100%;
    text-align: left;
    line-height: 1.5;
  }
}

.dropdown-menu--small {
  a, .btn-link {
    @include font-size($small-font-size);
  }
}
