.filters-group {
  margin: 0 0 $base-unit*3 0;
}

.filters-group__heading {
  background: none;
  color: $text-grey;
  padding: $base-unit*1.5 $base-unit/2;
  text-transform: none;
  width: 100%;
  text-align: left;
  position: relative;
  border: none;
  border-bottom: 1px solid $border-grey;
  font-family: $heading-font-light;

  &.active {
    color: $primary-color;
    border-color: $primary-color;
  }

  .icon {
    position: absolute;
    right: 0;
  }
}

.filter {
  border-bottom: 1px solid $border-grey;

  .filters-group & {
    padding-left: $base-unit*4;
  }

  .ui-select-bootstrap {
    margin: $base-unit/2 0;
    color: $text-grey;

    .caret {
      color: $text-grey;
    }
  }

  .ui-select-placeholder {
    color: $text-grey;
    text-transform: none;
  }
}

.filter__heading {
  position: relative;
  width: 100%;
  text-align: left;
  text-transform: none;
  padding: $base-unit*1.5 $base-unit*3 $base-unit*1.5 0;
  color: $dark-blue;

  &.btn-transparent {
    color: $text-grey;
  }

  .icon {
    position: absolute;
    right: 0;
    @include font-size(12);
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

.filter__inner {
  padding-bottom: $base-unit;
}

.filter__search {
  position: relative;

  .icon {
    position: absolute;
    left: $base-unit/2;
    top: $base-unit;
    color: $text-grey;
  }
}

.filter__search__input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid $border-grey;
  border-radius: 0;
  padding-left: $base-unit*4;
}

.filter__buttons {
  margin-top: $base-unit*2;

  .btn {
    width: 100%;
  }
}

@include media-query(md) {

  .filter__heading {
    padding: $base-unit*2 $base-unit*3 $base-unit*2 0;
  }

  .filter__buttons {
    margin-top: $base-unit*6;
  }

}
