.filters-group {
  margin: 0 0 $base-unit*3 0;
}

.filters-group__heading {
  background: none;
  color: $text-dark;
  padding: $base-unit*1.5 $base-unit/2;
  text-transform: none;
  width: 100%;
  text-align: left;
  position: relative;
  border: none;
  border-bottom: 1px solid $border-grey;
  font-family: $heading-font-light;

  &.active {
    color: $primary-color;
    border-color: $primary-color;
  }

  .icon {
    position: absolute;
    right: 0;
  }

  &:focus {
    border-color: transparent;
    border-bottom-color: $primary-color;
    color: $primary-color;
    font-weight: bold;
    outline: none;
  }
}

.filter {
  border-bottom: 1px solid $border-grey;

  .filters-group & {
    padding-left: $base-unit*4;
  }

  .ui-select-container {
    font-family: $heading-font-light;
    border-bottom: transparent;

    input[type="search"] {
      &:focus {
        @include filter-input-focus-style();
      }
    }
  }

  .ui-select-match {

    &.btn-default-focus {
      @include filter-input-focus-style();
    }
  }
}

.filter__heading {
  position: relative;
  width: 100%;
  text-align: left;
  text-transform: none;
  padding: $base-unit*1.5 $base-unit*3 $base-unit*1.5 0;
  color: $dark-blue;

  &.btn-transparent {
    color: $text-dark;

    &:focus {
      padding-left: $base-unit;
      background: white;
      border: none;
      box-shadow: none;
    }
  }

  .icon {
    position: absolute;
    right: 0;
    @include font-size(12);
  }

  &:hover, &:focus {
    text-decoration: none;
  }
}

.filter__inner {
  padding-bottom: $base-unit;
}

.filter__search {
  position: relative;

  .iconholder {
    position: absolute;
    left: $base-unit/2;
    top: $base-unit*1.5;
    color: $text-dark;
  }
}

.filter__search__input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid $border-grey;
  border-radius: 0;
  padding-left: $base-unit*3;

  &:focus {
    padding-left: $base-unit*4;
  }
}

.filter__buttons {
  margin-top: $base-unit*2;

  .btn {
    width: 100%;
  }
}

@include media-query(md) {

  .filter__heading {
    padding: $base-unit*2 $base-unit*3 $base-unit*2 0;
  }

  .filter__buttons {
    margin-top: $base-unit*6;
  }

}
