input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
textarea,
select {
  @include font-size($base-font-size);
  font-family: $body-font;
  padding: $base-unit*1.5;
  width: 100%;
  box-shadow: none;
  -webkit-appearance: none;
  transition: padding 0.3s ease;
  color: $text-dark;
  border-radius: 0;
  background: transparent;

  &:focus {
    @include input-focus-style();
  }

  &.input-no-border {
    border: none;
  }

  .has-error & {
    border-color: $error-color;
    &:focus {
      border-color: transparent;
    }
  }

  &.small {
    width: 50%;
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="date"],
select {
  border: none;
  border-bottom: 1px solid $primary-color;
  padding: $base-unit*1.5 $base-unit*1.5 $base-unit*1.5 0;

  &:focus {
    padding-left: $base-unit;
  }
}

textarea {
  border: 1px solid $border-grey;
  border-bottom: 1px solid $primary-color;
  min-height: $base-unit*10;
  display: block;
}

.text-danger {
  color: $error-color;

  .has-error & {
    @include font-size($small-font-size);
  }
}

.input-group {
  position: relative;
  display: table;
}

.input-group-btn {
  display: table-cell;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text-dark;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $text-dark;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $text-dark;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: $text-dark;
  font-style: italic;
}

label {
  color: $dark-blue;
  font-weight: bold;
}

legend {
  font-weight: bold;
}

.form-group {
  margin-bottom: $base-unit*3;
}

.form-group--compact {
  margin-bottom: $base-unit*1.5;
}

.form-field {
  position: relative;
  margin-bottom: $base-unit*3;
}

.form-field--compact {
  margin-bottom: $base-unit*1.5;
}

.form-section {
  padding: $base-unit 0;
  margin-bottom: $base-unit;
  border-bottom: 1px solid $light-blue;
  position: relative;

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &.form-section--editing {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.form-section__heading {
  font-family: $heading-font-light;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: $base-unit*1.5;
  color: $dark-blue;
}

.form-section__sub-heading {
  font-weight: normal;
  font-style: italic;
  color: $text-dark;
  display: block;
  margin-bottom: $base-unit;
}

.form-section__edit {
  background: $light-grey;
  padding: $base-unit*2;
  margin-bottom: $base-unit/2;

  .list__item .clickie-label {
    font-style: italic;
    color: $dark-blue;
  }

  .list__item {
    @include font-size($small-font-size);
  }
}

.form-section__info {
  margin-bottom: $base-unit;
}

.form-section__edit-btn, .form-section__close-btn  {
  position: absolute;
  top: 0;
  right: 0;
  min-width: $base-unit*5;
  height: $base-unit*5;
  padding: 0;
}

.form-hint {
  @include font-size($small-font-size);
  line-height: 1.4;
}

.form-inline-fields {
  display: flex;

  .no-flexbox & {
    overflow: auto;
  }

  .btn-transparent {
    width: $base-unit*4;
    height: $base-unit*4;
    line-height: $base-unit*4;
    padding: 0;
    margin-top: $base-unit;
  }
}

.form-inline-fields--clickies {
  flex-wrap: wrap;

  .clickie-label {
    margin-right: $base-unit*1.5;
  }
}

.form-inline-fields__item {
  margin-right: $base-unit;
  margin-bottom: 0;
  flex-grow: 2;

  .no-flexbox & {
    float: left;
  }
}

.form-inline-fields__item--short {
  flex-grow: 1;
  max-width: 120px;
}

.glyphicon-remove {
  position: relative;
  width: $base-unit;
  height: $base-unit;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:before, &:after {
    position: absolute;
    left: $base-unit/2;
    content: ' ';
    height: $base-unit;
    width: 2px;
    background-color: $dark-blue;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

@include media-query(sm) {
  .form-field--short {
    width: 50%;
  }
}

@include media-query(md) {
  .form-section:not(.form-section--compact) {
    padding-bottom: $base-unit*3;
    margin-bottom: $base-unit*3;
  }
}
