.list-group__item {
  list-style: none;
  position: relative;
  border-bottom: 1px solid $border-grey;
  padding: $base-unit*1.5 $base-unit*6 $base-unit*1.5 $base-unit;

  a {
    display: block;
    text-decoration: none;
    word-break: break-word;

    &:hover, &:focus {
      text-decoration: underline;
      background: lighten($light-grey, 16%);
    }
  }
}

.list-group__item-actions {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;

  .btn-transparent {
    padding: $base-unit*1.5;
    height: 100%;
  }
}
