.list-actions {
  padding: $base-unit/2 0 $base-unit 0;

  .tabs & {
    margin-top: $base-unit*3;
  }
}

.list-actions__count {
  @include font-size($small-font-size);
}

.list-actions__current-filters {
  display: none;
}

@include media-query(sm) {

  .list-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $base-unit*2 0;

    .tabs & {
      margin-top: 0;
    }
  }

  .list-actions__count {
    @include font-size($base-font-size);
    font-family: $heading-font-light;
    color: $dark-blue;
    font-style: italic;
  }

}

@include media-query(md) {

  .list-actions {
    align-items: center;

  }

  .list-actions__current-filters {
    display: inline-block;
    margin-right: $base-unit*2;
    @include font-size($small-font-size);

    .tag-list {
      display: inline-block;
    }
  }

  .list-actions__count {
    display: inline-block;
    margin-right: $base-unit*2;
    @include font-size($small-font-size);
  }

  .list-actions__pagination {
    flex-shrink: 0;
  }

}
