.list.secondary-block__list {
  padding-left: $base-unit*2;
}

.list--small {
  @include font-size($small-font-size);
}

.list__item {
  list-style: none;
  position: relative;
  padding: $base-unit 0;

  .list--has-dividers & {
    border-bottom: 1px solid $border-grey;
    padding: $base-unit*1.5 0;
  }

  .list--has-buttons & {
    padding-right: $base-unit*5;
  }

  .list--has-buttons-left & {
    padding-right: 0;
    padding-left: $base-unit*5;
  }

  .list--has-primary & {
    padding-left: $base-unit*3;
  }

  &:last-child {
    margin-bottom: $base-unit;
  }

  > .iconholder {
    margin-right: $base-unit;
  }

  .clickie-label {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    line-height: 1;
  }

  a, .btn-link {
    text-decoration: none;
    word-break: break-word;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  .primary-icon {
    position: absolute;
    left: 0;
    margin-top: 3px;
  }
}

.list__button {
  width: $base-unit*4;
  height: $base-unit*4;
  line-height: $base-unit*4;
  padding: 0;
  position: absolute;
  top: $base-unit;
  right: 0;

  .btn-transparent {
    width: $base-unit*4;
    height: $base-unit*4;
    line-height: $base-unit*4;
    padding: 0;
  }

  .list--has-buttons-left & {
    right: auto;
    left: 0;
  }

  .list--small & {
    top: 2px;
  }
}

.list__meta {
  display: block;
  @include font-size($small-font-size);

  .btn-link {
    @include font-size($small-font-size);
  }
}

@include media-query(md) {
  .list-2-cols {
    display: flex;
    flex-wrap: wrap;

    .list__item {
      width: 50%;
    }
  }
}
