@keyframes loaderAnimation {
  0% { 
  	transform: scale(1);
  }
  50% { 
  	transform: scale(1.1); 
  }
  100% { 
  	transform: scale(1); 
  }
}

.loader {
	font-family: $heading-font-light;
	@include font-size($medium-font-size);
	color: $dark-blue;
	display: flex;
	align-items: center;
	font-style: italic;
}

.loader__icon {
	display: block;
	width: $base-unit*5;
	height: $base-unit*5;
	margin-right: $base-unit;
	background: url('../img/logo-globe.svg') center no-repeat;
	background-size: 100%;
	animation:  loaderAnimation 1s infinite; 

	.no-svg & {
		background-image: url('../img/logo-globe.png')
	}	
}