.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: hidden;
  outline: 0;
  &.fade .modal-dialog {
    transform: translate(0, -25%);
  }
  &.show .modal-dialog,
  &.in .modal-dialog {
    transform: translate(0, 0);
  }

  .fade {
    transition: opacity .15s linear;
  }
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: $base-unit;
}

.modal-content {
  position: relative;
  outline: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  padding: $base-unit*2;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;

  &.fade {
    opacity: 0;
  }

  &.show,
  &.in,
  &.fade.in {
    opacity: 0.5;
  }
}

.modal-header {
  padding-bottom: $base-unit;
  border-bottom: 1px solid $primary-color;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  position: relative;
  padding: 0 0 $base-unit 0;
  @include font-size($medium-font-size);
  text-align: center;

  h2 {
    line-height: 1.2;
  }
}

.modal-footer {
  padding-top: $base-unit;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-footer {
  text-align: center;
    button {
      margin: 0 $base-unit;
      width: $base-unit*12;
    }
  }

.modal-close {
  position: absolute;
  top: $base-unit;
  right: $base-unit;
}

.modal-icon {
  display: inline-block;
  margin-bottom: $base-unit;
  @include font-size(30);

  .modal-success & {
    color: green;
  }
  .modal-danger & {
    color: $error-color;
  }
}

@include media-query(sm) {

  .modal-dialog {
    max-width: 600px;
    margin: $base-unit*5 auto;
  }

  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    padding: $base-unit*4;
  }

  .modal-sm {
    max-width: 400px;
  }

  .modal-body {
    padding: 0 0 $base-unit*2 0;
  }

  .modal-footer {
    padding-top: $base-unit*2;
  }

  .modal-icon {
    @include font-size(40);
    margin-bottom: $base-unit*2;
  }
}
