/*
 * Modified styles for http://github.hubspot.com/offline/
 * Language is set as a class on the body, this is used to show the correct offline messages via css
 * Supporting languages: English and French
 */

@charset "UTF-8";
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  box-sizing: border-box;
}

.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 2000;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.offline-ui .offline-ui-content:before {
  display: inline;
}
.offline-ui .offline-ui-retry {
  user-select: none;
  display: none;
}
.offline-ui .offline-ui-retry:before {
  display: inline;
}
.offline-ui.offline-ui-up.offline-ui-up-5s {
  display: block;
}
.offline-ui.offline-ui-down {
  display: block;
}
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-retry {
  display: block;
}
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}

@keyframes offline-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes offline-fadeout-and-hide {
  0% {
    opacity: 1;
    display: block;
  }

  99% {
    opacity: 0;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes offline-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.offline-ui {
  border-radius: 4px;
  padding: 1em;
  bottom: 1em;
  width: 38em;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 38em) {
  .offline-ui {
    border-radius: 0;
    bottom: 0;
  }
}
.offline-ui .offline-ui-content:before {
  line-height: 1.25em;
}
.offline-ui .offline-ui-retry {
  position: absolute;
  right: 3em;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  line-height: 3.5em;
  height: 3.5em;
  margin: auto;
  padding: 0 1em;
}
.offline-ui.offline-ui-up {
  animation: offline-fadeout-and-hide forwards 0.5s 2s;
  -webkit-backface-visibility: hidden;
  background: #d6e9c6;
  color: #468847;
}
.offline-ui.offline-ui-down {
  animation: offline-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  background: #ec8787;
  color: #551313;
}
.offline-ui.offline-ui-down.offline-ui-connecting, .offline-ui.offline-ui-down.offline-ui-waiting {
  background: #f8ecad;
  color: #7c6d1f;
  padding-right: 3em;
}
.offline-ui.offline-ui-down.offline-ui-connecting:after, .offline-ui.offline-ui-down.offline-ui-waiting:after {
  animation: offline-rotation 0.7s linear infinite;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  width: 1em;
  border: 2px solid rgba(0, 0, 0, 0);
  border-top-color: #7c6d1f;
  border-left-color: #7c6d1f;
  opacity: 0.7;
}
.offline-ui.offline-ui-down.offline-ui-waiting {
  padding-right: 11em;
}
.offline-ui.offline-ui-down.offline-ui-waiting.offline-ui-reconnect-failed-2s {
  padding-right: 0;
}

.lang-en {
  .offline-ui .offline-ui-retry:before {
    content: "Reconnect";
  }
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Your computer is connected to the internet.";
  }
  @media (max-width: 1024px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Your device is connected to the internet.";
    }
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Your device is connected.";
    }
  }
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Your computer lost its internet connection.";
  }
  @media (max-width: 1024px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Your device lost its internet connection.";
    }
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Your device isn't connected.";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
    content: "Attempting to reconnect...";
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " seconds...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
      content: "Reconnecting in " attr(data-retry-in-value) "s...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " second...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
      content: "Reconnecting in " attr(data-retry-in-value) "s...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " minutes...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
      content: "Reconnecting in " attr(data-retry-in-value) "m...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " minute...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
      content: "Reconnecting in " attr(data-retry-in-value) "m...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " hours...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
      content: "Reconnecting in " attr(data-retry-in-value) "h...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Connection lost. Reconnecting in " attr(data-retry-in-value) " hour...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
      content: "Reconnecting in " attr(data-retry-in-value) "h...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
    display: none;
  }
  .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
    content: "Connection attempt failed.";
  }

}

.lang-fr {
  .offline-ui .offline-ui-retry:before {
    content: "Reconnecter";
  }
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Votre ordinateur est connecté à Internet.";
  }
  @media (max-width: 1024px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Votre appareil est connecté à Internet.";
    }
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-up .offline-ui-content:before {
      content: "Votre appareil est connecté.";
    }
  }
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Votre ordinateur a perdu sa connexion Internet.";
  }
  @media (max-width: 1024px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Votre appareil a perdu sa connexion Internet.";
    }
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down .offline-ui-content:before {
      content: "Votre appareil n'est pas branché.";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
    content: "Tentative de reconnexion...";
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Connexion perdue. Reconnexion dans " attr(data-retry-in-value) " secondes...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
      content: "Reconnexion dans " attr(data-retry-in-value) "s...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Connexion perdue. Reconnexion dans " attr(data-retry-in-value) " seconde...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
      content: "Reconnexion dans " attr(data-retry-in-value) "s...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Connexion perdue. Reconnexion dans " attr(data-retry-in-value) " minutes...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
      content: "Reconnexion dans " attr(data-retry-in-value) "m...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Connexion perdue. Reconnexion dans " attr(data-retry-in-value) " minute...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
      content: "Reconnexion dans " attr(data-retry-in-value) "m...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Connexion perdue. Reconnexion dans " attr(data-retry-in-value) " heures...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
      content: "Reconnexion dans " attr(data-retry-in-value) "h...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Connexion perdue. Reconnexion dans " attr(data-retry-in-value) " heure...";
  }
  @media (max-width: 568px) {
    .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
      content: "Reconnexion dans " attr(data-retry-in-value) "h...";
    }
  }
  .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
    display: none;
  }
  .offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
    content: "La tentative de connexion a échoué.";
  }
}
