.pagination {
  text-align: center;
  @include font-size($small-font-size);
}

.list-actions__pagination {
  margin: $base-unit 0 0 0;
  text-align: left;

  span {
    margin-left: 0;
  }
}

.pagination-page, .pagination-prev, .pagination-next, .pagination-first, .pagination-last {
  display: inline-block;
  font-family: $heading-font-light;
  text-align: center;

  a, button, span {
    background: none;
    -webkit-appearance: none;
    border: none;
    color: $primary-color;
    display: block;
    padding: $base-unit/2 $base-unit*1.5;
    text-decoration: none;
    border-right: 1px solid lighten($primary-color, 50%);
    min-width: $base-unit*4;
    font-family: $heading-font-light;
    margin: $base-unit/2 0;

    &:hover, &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &:first-child  {
    a, button {
      border-left: 1px solid lighten($primary-color, 50%);
    }

    span {
      padding-left: 0;
    }
  }

  &.active {
    a, button {
      font-family: $heading-font;
    }
  }

  span {
    color: $text-dark;
    text-transform: uppercase;
  }

}

@include media-query(sm) {

  .pagination-page, .pagination-prev, .pagination-next, .pagination-first, .pagination-last {
    a, button, span {
      margin: 0;
      padding: 0 $base-unit;
    }
  }

  .list-actions__pagination {
    margin: 0
  }
}

@include media-query(md) {

  .list-actions__pagination {
    .toggled & {
      display: none;
    }
  }

}
