.page {
  position: relative;
  height: calc(100% - #{$header-height-xs});
  transition: $sidebar-transition;
  width: 100%;

  .toggled & {
    transform: translateX($sidebar-width-xs);
    position: fixed;
  }

  .no-calc & {
    height: auto;
  }

  .no-csstransforms & {
    .toggled & {
      padding-left: $sidebar-width-xs;
    }
  }
}

.container[role="main"] {
  min-height: calc(100% - #{$footer-plus-breadcrumbs});
  padding-bottom: $base-unit*4;
}

.page-header {
  margin-top: $base-unit*2;
  margin-bottom:$base-unit;
}

.page-header__heading {
  line-height: 1.2;
  margin-bottom: 0;
  word-break: break-word;
  padding-right: $base-unit*11;
}

@include media-query(sm) {

  .page-header {
    display: flex;
    justify-content: space-between;
  }

  .page-header__heading {
    padding-right: 0;
  }

}

@include media-query(md) {

  .page {
    height: calc(100% - #{$header-height-md});

    .toggled & {
      transform: translateX($sidebar-width-md);
    }
    .no-csstransforms & {
      .toggled & {
        padding-left: $sidebar-width-md;
      }
    }
  }

  .page-header__heading {
    padding-right: $base-unit*11;
  }
}

@include media-query(xl) {

  .page-header__heading {
    .col-xl-4 & {
      padding-right: 0;
    }
  }

}

@include media-query(xxl) {

  .page {
    .toggled & {
      transform: translateX($sidebar-width-xxl);
    }
    .no-csstransforms & {
      .toggled & {
        padding-left: $sidebar-width-xxl;
      }
    }
  }
}



.list-actions__count {
  @include font-size($small-font-size);
  font-family: $heading-font-light;
  color: $dark-blue;
  font-style: italic;
}

.page-actions__toggle-admin, .page-actions__toggle-filters {
  position: absolute;
  top: $base-unit*2;
  right: $base-unit;
}

.page-actions__toggle-filters--has-admin {

  right: $base-unit*6.5;
}

@include media-query(sm) {

  .list-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: $base-unit 0;
  }

    .list-actions__count {
      @include font-size($medium-font-size);
    }

    .page-actions__toggle-admin, .page-actions__toggle-filters {
      top: $base-unit/2;
    }

    .page-actions__toggle-admin, .page-actions__toggle-filters {
      right: $base-unit*2;
    }

  .page-actions__toggle-filters--has-admin {
    right: $base-unit*8;
  }

}

@include media-query(md) {

  .list-actions {
    padding: $base-unit*2 0 $base-unit 0;
  }

  .page-actions__toggle-admin, .page-actions__toggle-filters {
    top: $base-unit*5 + 3;
    transition: $sidebar-transition;
    .toggled & {
      transform: translateX(-$sidebar-width-md);
    }
  }

}

@include media-query(xl) {

  .page-actions__toggle-admin, .page-actions__toggle-filters {
    right: $base-unit*5;
  }

  .page-actions__toggle-filters--has-admin {
    right: $base-unit*11;
  }

}

@include media-query(xxl) {
  .page-actions__toggle-admin, .page-actions__toggle-filters {
    .toggled & {
      transform: translateX(-$sidebar-width-xxl);
    }
  }
}
