//——————————————————————————————————————————————————————————————————————————————
// Pages and Containers
//——————————————————————————————————————————————————————————————————————————————

.container[role="main"] {
  min-height: 500px;
  padding-bottom: $base-unit*4;

  // @include media-query(lg) {
  //   min-height: calc(100% - #{$footer-height-lg} - #{$breadcrumbs-height});
  // }
}

.page {
  width: 100%;
  max-width: 1210px; // CD max-width
  margin: 0 auto;
}

.page-header {
  margin-top: $base-unit*1.5;
  margin-bottom:$base-unit;
  position: relative;
  min-height: $base-unit*4.5;

  &.page-header--no-actions {
    min-height: 0;
  }
}

.page-header--login {
  margin-top: $base-unit*2;
  margin-bottom:$base-unit*3;
}

.page-header__heading {
  line-height: 1.2;
  margin-bottom: 0;
  word-break: break-word;
  color: $dark-blue;
  display: inline-block;
}

.page-header__actions {
  margin-top: $base-unit;
}

.page-header__buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;

  button {
    margin-left: $base-unit/2;
  }

  .toggled & {
    display: none;
  }
}

.page-header__buttons--list {
  bottom: -$base-unit*4;
}

.page-header__buttons--profile {
  bottom: auto;
  top: 0;
  width: $base-unit*5;

  button {
    margin-bottom: $base-unit/2;
  }
}

.page-header__buttons--search-results {
  bottom: -$base-unit*12;
}

.page-header--alert {
  display: flex;
}

.page-header__alert-icon {
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;

  svg {
    fill: $primary-color;
    width: $base-unit*7;
    height: $base-unit*7;
  }

  .no-flexbox & {
    float: left;
  }
}

.page-header__alert-info {
  @include font-size($small-font-size);
  margin-top: $base-unit/2;
}

.page-header-mobile {
  display: none;

  &.sticky {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 9999;
    padding: $base-unit*.75 $base-unit;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
    animation:fadein 0.6s 1 forwards;
  }

  .toggled & {
    display: none;
  }

  .btn-icon {
    border: none;
  }
}

.page-header-mobile__heading {
  @include font-size($small-font-size);
  font-weight: normal;
  color: $dark-blue;
  font-family: $body-font;
  margin: 0 $base-unit*1.5 0 0;
  max-height: $base-unit*2.5;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.page-header-mobile__buttons {
  flex-shrink: 0;
}

@include media-query(sm) {

  .page-header {
    margin-top: $base-unit*2;
  }

  .page-header__heading {
    margin-right: 0;
  }

  .page-header__actions {
    text-align: right;
    margin-top: 0;
  }

  .page-header__buttons {
    bottom: auto;
    top: -$base-unit*5;

    .toggled & {
      display: block;
    }
  }

  .page-header__buttons--profile {
    width: auto;
  }

  .page-header__alert-icon {
    margin-right: $base-unit;

    svg {
      width: $base-unit*11;
      height: $base-unit*11;
    }
  }

  .page-header__alert-info {
    @include font-size($base-font-size);
  }

  .page-header-mobile.sticky {
    display: none;
  }

}

@include media-query(md) {

  .page-header {
    margin-top: $base-unit*3;
  }

  .page-header__heading {
    margin-right: $base-unit*11;
  }

  .page-header__buttons {
    top: 0;
  }
}

@include media-query(lg) {

  .page {
    // height: calc(100% - #{$header-height-md});
    transition: $sidebar-transition;

    .toggled & {
      // transform: translate3d($sidebar-width-md, 0, 0);
      // position: fixed;
    }

    .no-calc & {
      height: auto;
    }

    .no-csstransforms & {
      .toggled & {
        padding-left: $sidebar-width-md;
      }
    }
  }

  .page-header__heading {
    .toggled & {
      margin-right: $sidebar-width-md + ($base-unit*11)
    }
  }

  .page-header__buttons {
    transition: $sidebar-transition;

    .toggled & {
      // transform: translateX(-$sidebar-width-md);
    }
  }


}

@include media-query(xl) {

  // .page {
  //   height: calc(100% - #{$header-height-md});
  // }

  .page-header__heading {
    .col-xl-4 & {
      margin-right: 0;
    }
  }

}

@include media-query(xxl) {

  .page {
    .toggled & {
      // transform: translate3d($sidebar-width-xxl, 0 ,0);
    }
    .no-csstransforms & {
      .toggled & {
        padding-left: $sidebar-width-xxl;
      }
    }
  }

  .page-header__heading {
    .toggled & {
      margin-right: $sidebar-width-xxl + ($base-unit*11);
    }
    .col-xl-4 & {
      margin-right: 0;
    }
  }

  .page-header__buttons {
    .toggled & {
      // transform: translateX(-$sidebar-width-xxl);
    }
  }
}
