.sidebar {
  position: absolute;
  top: 0;
  left: -$sidebar-width-xs;
  height: 100%;
  width: $sidebar-width-xs;

  &.collapse {
    display: block;
    visibility: visible;
  }

  .no-csstransforms & {
    left: 0;

    &.collapse {
      display: none;
      visibility: hidden;
    }
  }

  &.active {
    z-index: map-get($zindex, sidebar);
  }
}

.sidebar__inner {
  background: $light-grey;
  padding: $base-unit*2 $base-unit*3;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
}

.sidebar__heading {
  font-family: $heading-font-light;
  text-transform: uppercase;
  color: $dark-blue;
  @include font-size($medium-font-size);
  font-weight: 100;
  margin-bottom: $base-unit;
}

.sidebar__close {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar-section {
  margin-bottom: $base-unit*3;  

  .btn-block {
    margin-bottom: 16px;
    position: relative;
    padding-left: 40px;

    .iconholder {
      position: absolute;
      left: $base-unit;
      margin-top: -2px;
    }
  }

  .ui-select-multiple input.ui-select-search {
    width: 100%!important;
  }
}

.sidebar-section__heading {
  padding-bottom: $base-unit;
  font-family: $heading-font-light;
  font-weight: normal;
  text-transform: uppercase;
  color: $dark-blue;
  border-bottom: 1px solid $border-grey;
  display: block;

  &+ .btn-block {
    margin-top: $base-unit*2;
  }
}

.sidebar-section__button {
  display: block;
  width: 100%;
  position: relative;
  padding: $base-unit*3 $base-unit (($base-unit*3) - 2) $base-unit*4.5;
  text-align: left;
  border-bottom: 1px solid $border-grey;
  line-height: 1.2;

  .iconholder {
    position: absolute;
    left: $base-unit/2;
  }

  &:hover, &:focus {
    text-decoration: none;
    background: $primary-color;
    color: $text-light;
  }
}

.sidebar-section__text {
  @include font-size($small-font-size);
  margin-bottom: $base-unit*2;
}

.sidebar-section__form-field {
  margin: $base-unit*2 0; 
}

.sidebar-section__form-label {
  font-weight: normal;
  font-family: $heading-font-light;
}

@include media-query(md) {

  .sidebar {
    width: $sidebar-width-md;
    left: -$sidebar-width-md;
  }

  .sidebar__inner {
    padding: $base-unit*3 $base-unit*5;
  }

  .sidebar__heading {
    margin-bottom: $base-unit*4;
  }

}

@include media-query(xxl) {

  .sidebar {
    width: $sidebar-width-xxl;
    left: -$sidebar-width-xxl;
  }

}
