.sg-body-font {
  font-family: $body-font;
}
.sg-heading-font {
  font-family: $heading-font;
}
.sg-heading-font-light {
  font-family: $heading-font-light;
}
.sg-tiny-font-size {
  @include font-size($tiny-font-size);
}
.sg-small-font-size {
  @include font-size($small-font-size);
}
.sg-base-font-size {
  @include font-size($base-font-size);
}
.sg-medium-font-size {
  @include font-size($medium-font-size);
}
.sg-large-font-size {
  @include font-size($large-font-size);
}

