.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $base-unit*2;
}

.table {
  th {
    @extend .block-heading;
    display: table-cell;
    text-align: left;
    border-left: 2px solid white;

    &:first-child {
      border-left: none;
    }
  }

  td {
    padding: $base-unit*1.5 $base-unit;
  }

  tbody tr {
    border-bottom: 1px solid $border-grey;
  }

  a {
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }
}

.table-responsive {
  table-layout: fixed;

  th {
    display: none;
  }

  td {
    display: block;
    padding: 1px 0;
    @include font-size($small-font-size);
    
    &:empty, &.table__td-empty {
      display: none;
    }

    &:not(.table__td-actions) {
      height: $base-unit*3;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }


  tbody {
    border-top: 1px solid $primary-color;

    tr {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: $base-unit*1.5 0;
      min-height: $base-unit*9;
    }
  }

  .table__td-icon {
    position: absolute;
    padding: 0;
    margin: $base-unit/4 0 0 $base-unit/2;
  }

  
}

.table-responsive--has-icon {
  td:not(.table__td-icon) {
    padding-left: $base-unit*3.5;
  }
}

.table__td-primary {
  @include font-size($base-font-size);
  color: $dark-blue;
  font-weight: bold;

  a {
    color: $dark-blue;
  }
}

.table__td-secondary {
  font-style: italic;
}


.table-responsive--has-actions {

  td:not(.table__td-actions), td:not(.table__td-icon)  {
    padding-right: $base-unit*5;
  }

}

.table__td-actions {

  .dropdown {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -$base-unit*2;
  }

  .btn-transparent {
    width: $base-unit*4;
    height: $base-unit*4;
    padding: 0;

    .icon {
      width: $base-unit*4;
      height: $base-unit*4;
      margin: 0;
    }
  }

  .table__td-icon-2 {
    position: absolute;
    top: $base-unit*5;
    left: $base-unit/2;

    .icon {
      width: $base-unit*2;
      height: $base-unit*2;
    }
  }
}

.table-striped {
  tr:nth-child(even) {
    background: $light-grey;
  }
}

@include media-query(md) {

  .table-responsive {

    table-layout: initial;

    th, td {
      max-width: 300px;
    }

    th {
      display: table-cell;
    }

    td {
      display: table-cell;
      padding: $base-unit*1.5 $base-unit;
      height: auto;


      &:empty, &.table__td-empty {
        display: table-cell;
        
      }

    }

    td:not(.table__td-actions) {
      height: auto;
      overflow: auto;
      white-space: normal;
      text-overflow: initial;
      padding: $base-unit*1.5 $base-unit;
    }

    .table__td-icon {
      position: relative;
      padding: $base-unit*1.5 0 0 0;
      width: $base-unit*5;
    }

    .table__td-primary {
      @include font-size($base-font-size);
    }

    tbody {
      border: none;

      tr {
        padding: 0;
        display: table-row;
        min-height: 0;
      }
    }
  }

  .table-responsive--has-actions {
    td:not(.table__td-icon) {
      padding: $base-unit*1.5 $base-unit;
    } 
  }

  .table__td-actions {
    padding: 0;
    vertical-align: middle;

    .dropdown, .table__td-icon-2 {
      position: relative;
      margin: 0;
      top: auto;
      right: auto;
      left: auto;
    }

    .table__td-icon-2 {
      width: $base-unit*4;
      text-align: center;
      display: inline-block;
      margin: $base-unit/2 0;
    }
    
  }

  .table__td-primary {
    font-weight: normal;
    color: $primary-color;

    a {
      color: $primary-color;
    }
  }

  .table__td-secondary {
    font-style: normal;
  }
}

@include media-query(lg) {

  .table-responsive--has-actions {

    td.table__td-actions {
      white-space: nowrap;

      .table__td-icon-2 {
        width: auto;
        margin: 0 $base-unit 0 0;
        vertical-align: sub;

        .icon {
          width: $base-unit*2.25;
          height: $base-unit*2.25;
        }
      }
    }
  }
}
