.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $base-unit*2;
}

.table {
  th {
    @extend .block-heading;
    display: table-cell;
    text-align: left;
    border-left: 2px solid white;

    &:first-child {
      border-left: none;
    }
  }

  td {
    padding: $base-unit*1.5 $base-unit;
  }

  tbody tr {
    border-bottom: 1px solid $border-grey;
  }

  a {
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: underline;
  }
}

.table-responsive {

  th {
    display: none;
  }

  td {
    display: block;
    padding: 0 0 $base-unit/4 0;
    @include font-size($small-font-size);

    &:empty {
      display: none;
    }
  }

  td:first-child:not(.table-icon) {
    @include font-size($base-font-size);
  }

  td:first-child.table-icon {
    position: absolute;
    padding-top: 2px;

    &:empty {
      display: none;

      &+ td {
        padding-left: 0;
      }
    }

    &+ td {
      padding-left: $base-unit*2.5;
      @include font-size($base-font-size);
    }
  }

  tbody {
    border-top: 2px solid $primary-color;

    tr {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: $base-unit*1.5 0;
    }
  }
}

.table-responsive--has-actions {
  td:first-child:not(.table-icon) {
    padding-right: $base-unit*9;
  }

  td:first-child.table-icon {
    &+ td {
      padding-right: $base-unit*9;
    }
  }
}

td.table-actions {
  text-align: right;
  position: absolute;
  top: $base-unit;
  right: 0;
  padding: 0;
  white-space: nowrap;

  .dropdown {
    display: inline-block;
  }

  .btn-transparent {
    width: $base-unit*4;
    height: $base-unit*4;
    padding: 0;
  }

  .iconholder {
    width: $base-unit*4;
    display: inline-block;
    text-align: center;
  }

  .icon {
    @include font-size(24);
    margin: -1px 0 0 0;
  }
}

.table-striped {
  tr:nth-child(even) {
    background: $light-grey;
  }
}

@include media-query(md) {

  .table-responsive {

    th, td {
      max-width: 300px;
    }

    th {
      display: table-cell;
    }

    td {
      display: table-cell;
      padding: $base-unit*1.5 $base-unit;

      &:empty {
        display: table-cell;
        
      }

      &:first-child {
        padding-right: $base-unit;
      }

    }

    td:first-child.table-icon {
      position: relative;
      padding-top: $base-unit*1.5;

      &:empty {
        display: table-cell;

        &+ td {
          padding-left: $base-unit;
        }
      }

      &+ td {
        padding-left: $base-unit;
      }
    }

    tbody {
      border: none;

      tr {
        padding: 0;
        display: table-row;
      }
    }
  }

  .table-responsive--has-actions {
    td:first-child:not(.table-icon) {
      padding-right: $base-unit;
    }

    td:first-child.table-icon {
      &+ td {
        padding-right: $base-unit;
      }
    }
  }

  td.table-actions {
    position: static;
    padding: 0;
    vertical-align: middle;
  }
}
