.tabs--responsive {
  position: relative;
  @include clearfix;

  .list__item {
    padding-left: $base-unit;
  
    &:last-child {
      border: none;
      margin-bottom: 0;
    }
  }
}

.tabs-nav {
  border-bottom: 2px solid $border-grey;
  display: flex;

  .tabs--responsive & {
    display: none;
  }
}

.tabs__section {
  border-bottom: 1px solid $border-grey;

  .tabs--vertical & { 
    border: none;
  }
}

.tabs-nav__button {
  @include btn;
  @include font-size($small-font-size);
  border: none;
  border-bottom: 2px solid transparent;
  position: relative;
  width: auto;
  // padding: $base-unit*2.5 $base-unit $base-unit*2 $base-unit;
  padding: $base-unit*2 $base-unit $base-unit*1.5 $base-unit;
  margin-bottom: -2px;
  color: $text-dark;
  text-align: left;

  &:hover, &:focus, &:disabled:hover, &:disabled:focus, &.mobile-active, &.mobile-active:focus, &:disabled {
    color: $primary-color;
    font-weight: bold;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $primary-color;
    background: $light-grey;
  }

  &.mobile-active {
    .iconholder {
      transform: rotate(180deg);
    }
  }

  .tabs--responsive & {
    @include font-size($base-font-size);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $base-unit*2.5 $base-unit $base-unit*2 $base-unit;
  }

  .tabs--vertical & { 
    border-bottom: 1px solid $border-grey;
  }

}

.tabs__content {
  display: none;

  &.mobile-active {
    display: block;
  }

  .tabs--vertical & { 
    padding: $base-unit 0;
  }
}

.tabs:not(.tabs--responsive) {

  .tabs-nav {
    padding-top: $base-unit/2;
  }

  .tabs-nav__button {
    max-width: 50%;
    flex-grow: 1;
    text-align: center;


    &.desktop-active {
      color: $primary-color;
      font-weight: bold;
      box-shadow: none;
      border: none;
      border-bottom: 2px solid $primary-color;
      background: $light-grey;
    }
  }

  .tabs__content.desktop-active {
    display: block;
  }

  .tabs__section {
    border: none;
  }

}

@include media-query(sm) {

  .tabs:not(.tabs--responsive) {
    .tabs-nav {
      margin-top: $base-unit;
    }

    .tab-nav__button {
      padding-left: $base-unit*4;
      padding-right: $base-unit*4;
    }
  }

}

@include media-query(md) {

  .tabs-nav {

    .tabs--responsive & {
      display: flex;
    }

    .tabs--vertical & {
      flex-direction: column;
      border: none;
    }
    
  }

  .tabs__section {
    border: none;
  }

  .tabs-nav__button {
    
    .tabs--responsive & {
      display: inline-block;
      width: auto;
      padding: $base-unit*1.5 $base-unit $base-unit $base-unit;
    }

    .tabs--vertical & { 
      border-bottom: none;
      border-left: 2px solid transparent;
      padding: $base-unit*2.5 $base-unit;
      @include font-size($small-font-size);
    }
  
    .tabs__section & {
      display: none;
    }

    .iconholder { 
      display: none;
    }

    &.mobile-active {
      background: none;
      color: $text-dark;
      border-bottom: 2px solid transparent;
      font-weight: normal;
    }

    &.desktop-active, &.desktop-active.mobile-active, &.mobile-active:focus, &.mobile-active:hover,  &.desktop-active:focus,  &.desktop-active:hover {
      color: $primary-color;
      font-weight: bold;
      box-shadow: none;
      border: none;
      border-bottom: 2px solid $primary-color;
      background: $light-grey;

      .tabs--vertical & { 
        border-bottom-color: transparent;
        border-left: 2px solid $primary-color;
      }
    }
  }

  .tabs:not(.tabs--responsive) {
    .tabs-nav__button {
      flex-grow: 0;
      padding: $base-unit*1.5 $base-unit*5 $base-unit $base-unit*5;
    }
  }

  .tabs__content {

    &.mobile-active {
      display: none;
    }

    &.desktop-active, &.desktop-active.mobile-active {
      display: block;     
    } 

    .tabs--vertical & { 
      padding: 0;
    }
  }
}

@include media-query(lg) {

  .tabs:not(.tabs--responsive) {
    .tabs-nav {
      margin-top: $base-unit*3;
    }
  }

  .tabs-nav__button, .tabs--responsive .tabs-nav__button {
    @include font-size($base-font-size);
    padding-left: $base-unit*5;
    padding-right: $base-unit*5;

    .tabs--vertical & { 
      padding-right: $base-unit;
      @include font-size($small-font-size);
    }
  }

}
