.tag-list--sidebar {
  @include font-size($small-font-size);
  margin-bottom: $base-unit*1.5;
}

.tag-list__heading {
  display: inline-block;
  margin-right: $base-unit;
}

.tag-list__item {
  position: relative;
  display: inline-block;
  margin: $base-unit/4 $base-unit/2 $base-unit/4 0;
  background: $light-grey;

  a, .tag-list__text {
    display: block;
    color: $dark-blue;
    padding: $base-unit/4 $base-unit*2;
    border: 1px solid $light-grey;
    text-decoration: none;
    font-style: italic; 
  }

  a {
    &:hover, &:focus {
      background: $primary-color;
      color: $text-light;
      text-decoration: none;
    }
  }

  .tag-list--sidebar & {
    background: white;

    a, .tag-list__text {
      border-color: white;
      padding: $base-unit/4 $base-unit/2;
    }
  }
}

.tag-list__item--has-button {
  padding-right: $base-unit*3;
}

.tag-list__button {
  position: absolute;
  padding: $base-unit/2;
  right: 0;
  top: 0;
  bottom: 0;

  .icon {
    margin: 0;
  }

  &:hover, &:focus {
    background: $primary-color;
    
    .icon {
      fill: $text-light;
    }
  }
}

@include media-query(md) {
  .tag-list--sidebar {
    display: none;
  }
}
