.tag-list__item {
  display: inline-block;
  margin: 0 $base-unit/2 $base-unit/2 0;

  a {
    display: block;
    background: $light-grey;
    color: $dark-blue;
    padding: $base-unit/4 $base-unit*2;
    border: 1px solid $light-grey;
    text-decoration: none;
    font-style: italic; 

    &:hover, &:focus {
      border-color: $primary-color;
      color: $dark-blue;
      text-decoration: none;
    }
  }
}
