/*
 * Temporary styles
 * I will delete you all!
 */

.pull-right, .pull-left {
  float: none;
}




.nav-tabs {
  width: 100%;

  li {
    display: table-cell;
  }

  a {
    padding: $base-unit*2;
    display: block;
  }

  .active a {
    border: 1px solid #ccc;
    border-bottom: none;
  }
}

.tab-pane {
  display: none;

  &.active {
    display: block;
  }
}


#admin {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid black;
    height: 100%!important;
    width: $sidebarWidth;
    overflow: scroll;
}

.collapse {
    display: none;
    visibility: hidden;
}
.collapse.in {
    display: block;
    visibility: visible;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin: $base-unit*2;
    padding: $base-unit*2;
    @include clearfix;
}

.pagination-page, .pagination-prev, .pagination-next, .pagination-first, .pagination-last {
  display: inline-block;
  padding: $base-unit;
}
