/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.18.1 - 2016-07-10T00:18:11.107Z
 * License: MIT
 */


/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}


.ui-select-choices-row:hover {
  background-color: #f5f5f5;
}

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices ,.ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  // margin-top: -1px;
}

.ui-select-multiple input.ui-select-search {
  background-color: transparent; /* To prevent double background when disabled */
}

.ui-select-multiple .ui-select-match-item {
  position: relative;
  outline: 0;
  margin: 0 $base-unit/2 $base-unit/2 0;
  background: $primary-color;
  color: $text-light;
  padding: $base-unit/2;
  border-radius: $base-border-radius;
  display: inline-block;
  text-transform: none;
}

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-container {
  min-width: 100px!important;
  width: 100%;
  line-height: 1;
  border-bottom: 1px solid $primary-color;
  color: $text-dark;

  .ui-select-search {
    border: transparent;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  &[disabled] {
    opacity: 0.5;
    cursor: auto;
  }
}

.ui-select-container:not(.ui-select-multiple) {
  .ui-select-search {
    width: 100% !important; //override inline style
  }
}

.ui-select-placeholder {

  .always-show-placeholder & {
    display: inline-block!important;

    &:after {
      content: ":";
    }
  }
}

.ui-select-toggle {
  position: relative;
  padding: $base-unit*2 $base-unit*2 $base-unit*2 0;
  display: block;
  min-height: $base-unit*5;
  font-style: italic;

  .caret {
    position: absolute;
    top: 50%;
    right: 0;
    height: 12px;
    margin-top: -6px;
  }
}

.ui-select-choices-row {

  > a {
    border-bottom: 1px solid $border-grey;
    padding: $base-unit*1.5 $base-unit;
    
    &:hover, &:focus {
      text-decoration: none;
      color: $dark-blue;
      background-color: $light-grey;
    }
  }

  &.active {
    > a {
      color: #fff;
      text-decoration: none;
      outline: 0;
      background-color: $primary-color;;
    }
  }

  &.disabled {
    > a {
      color: $text-dark;
      background: $light-grey;
      cursor: not-allowed;
    }
  }
}

.ui-select-match {
  transition: padding 0.3s ease;

  &.btn-default-focus {
    @include input-focus-style();
    box-shadow: none;
    padding-left: $base-unit;
  }
}

.ui-select--has-border {
  border: 1px solid $light-blue;
  margin: $base-unit/2 0;

  .ui-select-toggle {
    padding: $base-unit*1.5;
    font-style: italic;
    color: $primary-color;

    .caret {
      right: $base-unit*1.5;
      color: $text-dark;
    }
  }

}

.editable-ui-select {
  white-space: normal;
  display: block;
}
