<div class="page-header row">
  <div class="col-sm-8">
    <h1 class="page-header__heading" translate>
      Clients
    </h1>
  </div>
  <div class="col-sm-4 page-header__actions">
    <a class="btn-primary" href="clients/new" translate>Add Client</a>
  </div>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th translate>ID</th>
      <th translate>Name</th>
      <th translate>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients">
      <td>{{client.id}}</td>
      <td><a ng-href="/clients/{{client._id}}">{{client.name}}</a></td>
      <td>{{client.url}}</td>
    </tr>
  </tbody>
</table>
<ul uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

