<div class="page-header row">
  <div class="col-sm-8">
    <h1 class="page-header__heading" translate>
      Clients
    </h1>
  </div>
  <div class="col-sm-4 page-header__actions">
    <a class="btn-primary" href="clients/new" translate>Add Client</a>
  </div>
</div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th translate>ID</th>
      <th translate>Name</th>
      <th translate>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="client in clients">
      <td>{{client.id}}</td>
      <td><a ng-href="/clients/{{client._id}}">{{client.name}}</a></td>
      <td>{{client.url}}</td>
    </tr>
  </tbody>
</table>

<uib-pagination 
  total-items="pagination.totalItems" 
  ng-model="pagination.currentPage"
  ng-change="pageChanged()" 
  direction-links="false" 
  items-per-page=pagination.itemsPerPage
  class="pagination" >    
</uib-pagination>
