<div sidebar class="sidebar" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.admin}">
  <div ng-if="sidebar.sidebars.admin" class="sidebar__inner">

    <h2 class="sidebar__heading" translate>Client admin</h2>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="sidebar.close()">
      <icon name="cancel" text="close"></icon>
    </button>

    <div class="sidebar-section">
      <a class="btn-transparent sidebar-section__button" href="clients/{{client._id}}/edit">
        <icon name="edit"></icon>
        <span translate>Edit client</span>
      </a>

      <button type="button" class="btn-transparent sidebar-section__button" ng-click="deleteClient();">
        <icon name="trash"></icon>
        <span translate>Delete client</span>
      </button>
    </div>

  </div>

</div>

<div class="page-header">
  <h1 class="page-header__heading">{{client.name}}</h1>

  <div class="page-header__buttons">
    <button class="btn-icon btn-toggle-admin" type="button" ng-click="sidebar.toggle('admin')" ng-class="{'active' : sidebar.sidebars.admin && sidebar.open}" ng-disabled="!isOnline">
      <icon name="wheel" text="Actions"></icon>
    </button>
  </div>
</div>

<div class="block">
  <h2 class="block-heading" translate>Details</h2>
  <ul>
    <li><span translate>ID</span>: {{client.id}}</li>
    <li><span translate>URL</span>: {{client.url}}</li>
    <li><span translate>Redirect URL</span>: {{client.redirectUri}}</li>
    <li><span translate>Login URL</span>: {{client.loginUri}}</li>
    <li><span translate>Secret</span>: {{client.secret}}</li>
    <li><span translate>Description</span>: {{client.description}}</li>
  </ul>
</div>

