<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="page-header">
      <h1 class="page-header__heading" translate>Create a new client</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <form name="editClient" ng-submit="editClient.$valid && saveClient()" novalidate>
      <div class="form-field" ng-class="{'has-error': editClient.clientId.$touched && editClient.clientId.$invalid}">
        <label for="clientId" translate>ID</label>
        <input type="text" name="clientId" class="form-control" id="clientId" placeholder="{{'The client ID'|translate}}" ng-model="client.id" required>
        <div class="clearfix">
          <div ng-messages="editClient.clientId.$error" ng-show="editClient.clientId.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-field" ng-class="{'has-error': editClient.name.$touched && editClient.name.$invalid}">
        <label for="name" translate>Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="{{'The client name'|translate}}" ng-model="client.name" required>
        <div class="clearfix">
          <div ng-messages="editClient.name.$error" ng-show="editClient.name.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label for="url" translate>URL</label>
        <input type="text" class="form-control" id="url" placeholder="{{'Client URL'|translate}}" ng-model="client.url">
      </div>
      <div class="form-field" ng-class="{'has-error': editClient.redirectUrls.$touched && editClient.redirectUrls.$invalid}">
        <label for="redirectUrls" translate>Redirect URLs</label>
        <textarea ng-model="client.redirectUrls" class="form-control" name="redirectUrls" rows="5" cols="20" required></textarea>
        <div class="clearfix">
          <div ng-messages="editClient.redirectUrls.$error" ng-show="editClient.redirectUrls.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-field" ng-class="{'has-error': editClient.login_url.$touched && editClient.login_url.$invalid}">
        <label for="login_url" translate>Login URL</label>
        <input type="text" name="login_url" class="form-control" id="login_url" placeholder="{{'Login URL'|translate}}" ng-model="client.loginUri">
        <div class="clearfix">
          <div ng-messages="editClient.login_url.$error" ng-show="editClient.login_url.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-field">
        <label for="description" translate>Description</label>
        <textarea ng-model="client.description" class="form-control" name="description" rows="5" cols="20"></textarea>
      </div>
      <div class="form-field" ng-class="{'has-error': editClient.secret.$touched && editClient.secret.$invalid}">
        <label for="secret" translate>Secret</label>
        <input type="text" name="secret" class="form-control" id="secret" placeholder="{{'Client secret'|translate}}" ng-model="client.secret" required>
        <div class="clearfix">
          <div ng-messages="editClient.secret.$error" ng-show="editClient.secret.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="editClient.$invalid || editClient.$submitted" translate>Save</button>
    </form>
  </div>
</div>
