/**
 * Styles for user component
 */

.profile-header {
  display: flex;
  padding: 0 0 $base-unit 0;
  margin-bottom: $base-unit*2;
  border-bottom: 1px solid $border-grey;
  position: relative;

  .no-flexbox & {
    @include clearfix;
  }

  .btn-toggle-admin {
    top: 0;
    right: 0;
  }

  .page-header__heading {
    padding-right: 0;
    margin-bottom: $base-unit/2;
  }
}

.profile-header--admin {
  min-height: $base-unit*12;
}

.profile-header__primary {
  display: flex;
  padding-right: $base-unit*6;
}

.profile-header__image {
  max-width: $base-unit*5;
  width: 100%;
  position: relative;
  margin-right: $base-unit;
  flex-shrink: 0;

  .no-flexbox & {
    float: left;
  }

  .active & {
    display: none;
  }
}

.profile-header__verified {
  position: absolute;
  top: -$base-unit + 2;
  right: $base-unit/2;
  color: $primary-color;

  .icon {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: white;
    border-radius: 100%;
    width: ($base-unit*2) - 2;
    height: ($base-unit*2) - 2;
  }
}

.profile-header__content {
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;

  .no-flexbox & {
    float: left;
    width: 80%;
  }

  textarea {
    margin: $base-unit 0;
  }
}

.profile-header__info {
  margin-top: $base-unit/2;
  @include font-size($small-font-size);

  .iconholder {
    display: inline-block;
    width: $base-unit*2;
    margin-right: $base-unit/2;
    text-align: center;
  }
}

.profile-header__controls {
  position: absolute;
  top: $base-unit*6;
  right: 0;
  width: $base-unit*5;

  .btn-icon {
    margin-bottom: $base-unit;
  }
}

.profile-header__upload, .profile-header__upload--mobile {
  font-weight: normal;

  .icon {
    font-weight: normal;
    position: relative;
  }
}

.profile-header__upload {
  display: none;
}

.profile-alert {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  height: 0;

  transition: height 0.3s ease;
}
.profile-alert--show {
  height: 48px;
}

.profile-alert__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4px;
  background: white;
  text-align: center;
  border: none;
  border-top: 1px solid $primary-color;
  height: $base-unit*6;
  transform: translateY(48px);
  transition: transform 0.3s ease;
  @include font-size($medium-font-size);
  color: $primary-color;
  text-transform: uppercase;
  font-family: $heading-font-light;

  .profile-alert--show & {
    transform: translateY(0);
  }

  &.profile-alert__inner--success {
    .icon {
      margin-right: $base-unit/2;
      @include font-size(28);
    }
  }
  &.profile-alert__inner--saving {

  }

  svg {
    vertical-align: text-bottom;
    margin-right: $base-unit/2;
  }
}

.profile-header__status {
  font-style: italic;
  @include font-size($small-font-size);
}



@include media-query(sm) {

  .profile-header {
    border-bottom: none;
  }

  .profile-header__primary {
    padding-right: $base-unit*12;
  }

  .profile-header__image {
    margin-right: $base-unit*2;
  }

  .profile-header__content {
    max-width: $base-unit*100;
  }

  .profile-header__controls {
    top: 0;
    right: $base-unit*6;
    width: auto;

    .btn-icon {
      margin-bottom: 0;

      &:first-child {
        margin-right: $base-unit/2;
      }
    }
  }

  .profile-header__info {
    border-bottom: 1px solid $border-grey;
    @include font-size($base-font-size);
    margin: $base-unit 0;

    li {
      display: inline-block;
      padding: 0 $base-unit*2 $base-unit 0;
    }
  }

  .profile-header__status {
    @include font-size($base-font-size);
  }

}

.profile-permissions {
  text-transform: capitalize;
}

@include media-query(md) {

  .profile-header__image {
    margin-right: $base-unit*4;
    max-width: $base-unit*12;

    .active & {
      display: block;
    }
  }

  .profile-header__verified {
    @include font-size($large-font-size);
    top: -$base-unit*1.5;
    right: $base-unit*1.5;

    &:before {
      width: $base-unit*3.5;
      height: $base-unit*3.5;
    }
  }

  .profile-header__upload {
    display: block;
    @include font-size($small-font-size);
    text-align: center;
    padding: $base-unit/2 $base-unit $base-unit $base-unit;
    margin-bottom: $base-unit/2;

    .iconholder {
      display: block;
    }
  }

  .profile-header__upload--mobile, .profile-header__upload-info--mobile {
    display: none;
  }

  .profile-header__info {
    li {
      padding-right: $base-unit*3;
    }
  }

}
