/**
 * Styles for user component
 */

.profile-header {
  display: flex;
  padding: 0 0 $base-unit 0;
  margin-bottom: $base-unit*2;
  border-bottom: 1px solid $border-grey;

  .no-flexbox & {
    @include clearfix;
  }

  .page-actions__toggle-admin {
    top: 0;
    right: 0;
  }

  .page-header__heading {
    padding-right: 0;
  }
}

.profile-header__primary {
  display: flex;
}

.profile-header__image {
  min-width: $base-unit*12;
  max-width: $base-unit*25;
  width: 25%;
  position: relative;

  .icon {
    position: absolute;
    top: -$base-unit*1.5;
    right: $base-unit*1.5;
    @include font-size($large-font-size);
    color: $primary-color;
    line-height: 1;
    background: white;
    border-radius: 100%;
    height: $base-unit*3.5;
  }

  .no-flexbox & {
    float: left;
  }
}

.profile-header__content {
  flex-direction: column;
  margin-left: $base-unit;
  padding-right: $base-unit*5;
  width: 100%;

  .no-flexbox & {
    float: left;
    width: 80%;
  }
}

.profile-header__info {
  margin-top: $base-unit/2;
  @include font-size($small-font-size);
}

.profile-header__controls {
  position: absolute;
  top: $base-unit*6;
  right: 0;
  width: $base-unit*5;

  .btn-icon {
    margin-bottom: $base-unit;
  }
}

@include media-query(sm) {

  .profile-header {
    border-bottom: none;
  }

  .profile-header__content {
    margin-left: $base-unit*2;
    padding-right: $base-unit*12;
    max-width: $base-unit*100;
  }

  .profile-header__controls {
    top: 0;
    right: $base-unit*6;
    width: auto;

    .btn-icon {
      margin-bottom: 0;

      &:first-child {
        margin-right: $base-unit/2;
      }
    }
  }

  .profile-header__info {
    border-bottom: 1px solid $border-grey;
    @include font-size($base-font-size);
    margin: $base-unit 0;

    li {
      display: inline-block;
      padding: 0 $base-unit*2 $base-unit 0;

    }
  }

  .profile-header__status {
    font-style: italic;
  }

}

@include media-query(md) {

  .profile-header__content {
    margin-left: $base-unit*4;
  }

  .profile-header__info {
    li {
      padding-right: $base-unit*3;
    }
  }

}
