<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <p class="alert alert--inline alert--danger" translate>Humanitarian ID platform and its contacts management features will be decommissioned on 1 Jan 2021. Note that this will not affect the HID Authentication service, your HID account will remain active  to access integrated platforms. More info available in the <a href="https://about.humanitarian.id/faqs#contacts-decommissioning">FAQs section</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="page-header">
      <h1 class="page-header__heading">Create a new user</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <ng-include src="'app/components/user/new-user.html'"></ng-include>
  </div>
</div>
