<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1 class="page-header__heading" translate>Account preferences</h1>
    </div>
  </div>
</div>

<tabset responsive="true" vertical="true">
  <tab heading="{{'Your connections' | translate}}">
    <div class="block">
        <h2 class="block-heading" translate>Pending approval</h2>
        <ul class="connections-list">
          <li class="t-no-pending-connections" ng-if="!pendingConnections.length"><em translate>No pending connections</em></li>
          <li class="connection" ng-repeat="connection in pendingConnections">
            <a ng-href="/users/{{connection.user._id}}" class="connection__name">{{connection.user.name}}</a>
            <button class="btn-transparent connection__btn t-approve-connection" ng-disabled="!isOnline" ng-click="approveConnection(connection)" translate>
              Approve
            </button>
            <button class="btn-transparent connection__btn" ng-disabled="!isOnline" ng-click="removeConnection(connection)" translate>
              Deny
            </button>
          </li>
        </ul>
      </div>
      <div class="block">
        <h2 class="block-heading" translate>Current connections</h2>
        <ul class="list">
          <li class="" ng-if="!approvedConnections.length"><em translate>No approved connections</em></li>
          <li class="connection" ng-repeat="connection in approvedConnections">
            <a ng-href="/users/{{connection.user._id}}" class="connection__name">{{connection.user.name}}</a>
            <button class="btn-transparent connection__btn t-remove-connection" ng-disabled="!isOnline" ng-click="removeConnection(connection)" translate>
              Cancel
            </button>
          </li>
        </ul>
      </div>
    </div>
  </tab>

  <tab heading="{{'Change password' | translate}}">
    <form name="changePassword" ng-submit="changePassword.$valid && savePassword(changePassword)" autocomplete="off" novalidate>
      <fieldset class="block">
        <legend class="block-heading" translate>Change password</legend>
        <p class="form-field" translate>Passwords must be at least <strong>8 characters</strong> long, contain at least one <strong>number</strong>, one <strong>uppercase character</strong> and one <strong>lowercase character</strong>.</p>
        <div class="form-field" ng-class="{'has-error': changePassword.oldPassword.$touched && changePassword.oldPassword.$invalid}">
          <label for="oldPassword" translate>Current password</label>
          <input name="oldPassword" id="oldPassword" type="password" class="form-control" placeholder="{{'Your current password' | translate}}" ng-model="password.old" required>
          <div ng-messages="changePassword.oldPassword.$error" ng-show="changePassword.oldPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
        <div class="form-field" ng-class="{'has-error': changePassword.newPassword.$touched && changePassword.newPassword.$invalid}">
          <label for="newPassword" translate>New password</label>
          <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="{{'Your new password' | translate}}" ng-model="password.new" validate-password required>
          <div ng-messages="changePassword.newPassword.$error" ng-show="changePassword.newPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>

        <div class="form-field" ng-class="{'has-error': changePassword.confirmPassword.$touched && changePassword.confirmPassword.$invalid}">
          <label for="confirmPassword" translate>Confirm new password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" match-password="newPassword" placeholder="{{'Your new password' | translate}}" ng-model="confirmPassword" required>
          <div ng-messages="changePassword.confirmPassword.$error" ng-show="changePassword.confirmPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>

        <button type="submit" class="btn-primary" ng-disabled="!isOnline || changePassword.$invalid || changePassword.$submitted" translate>Update password</button>
      </fieldset>
    </form>
  </tab>

  <tab heading="{{'Authorized applications' | translate}}">
    <div class="block">
      <h2 class="block-heading" translate>Authorized Applications</h2>
      <p class="form-section__info" ng-if="!user.authorizedClients.length"><em translate>No applications currently have access to your Humanitarian ID account.</em></p>
      <p class="form-section__info" ng-if="user.authorizedClients.length" translate>You have granted the following applications access to your Humanitarian ID account.</p>
      <ul class="list list--has-buttons">
        <li class="list__item" ng-repeat="client in user.authorizedClients">
          {{client.name}}
          <button class="btn-transparent" ng-disabled="!isOnline" ng-click="revokeClient(client)">
            <icon name="cancel" text="Revoke access for {{client.name}}"></icon>
          </button>
        </li>
      </ul>
    </div>
  </tab>

  <tab heading="Settings">
    <form name="settings" ng-submit="settings.$valid && saveSettings(settings)" autocomplete="off" novalidate>
      <fieldset class="block">
        <legend class="block-heading" translate>Change settings</legend>

        <div class="form-field">
          <label for="locale" translate>Locale</label>
          <div class="styled-select">
            <select name="locale" id="locale" ng-model="user.locale">
              <option value="en">English</option>
              <option value="fr">Français</option>
              <option value="es">Español</option>
              <option value="ar">العربية</option>
            </select>
          </div>
        </div>
        <div class="form-field">
          <label for="zoneinfo" translate>Timezone</label>
          <ui-select ng-model="user.zoneinfo" name="zoneinfo" id="zoneinfo">
            <ui-select-match placeholder="{{'Timezone'|translate}}">
              {{$select.selected}}
            </ui-select-match>
            <ui-select-choices repeat="timezone in timezones | filter: $select.search track by $index">
              {{timezone}}
            </ui-select-choices>
          </ui-select>
        </div>
        <button type="submit" class="btn-primary" ng-disabled="!isOnline" translate>Save settings</button>
      </fieldset>
    </form>

    <div class="block">
      <h2 class="block-heading" translate>Delete account</h2>
      <p class="form-section__info" translate>Deleting your account means that you will lose your access to Humanitarian ID.</p>
      <button type="button" class="btn-danger" ng-disabled="!isOnline" ng-click="deleteAccount()" translate>Delete account</button>
    </div>
  </tab>

  <tab heading="API keys">
    <div class="block">
    <div class="block-heading">
      <h2 translate>Your API keys</h2>
      <button type="button" class="btn-primary btn-small" ng-click="newToken()">
        <icon name="plus"></icon>
        <span translate>Add new key</span>
      </button>
      </div>

      <ul class="api-keys">
        <li class="api-keys__item" ng-repeat="token in tokens" ng-class="{'api-keys__item--new': token.new}">
          <textarea disabled="disabled" class="api-keys__textarea">{{token.token}}</textarea>
          <button class="btn-primary btn-small" ng-disabled="!isOnline" ng-click="deleteToken(token)">
            <icon name="cancel"></icon>
            Delete key
          </button>
        </li>
      </ul>

    </div>
  </tab>

  <tab heading="Additional security">
    <div class="block">
      <div class="block-heading">
        <h2 translate>Two-Factor Authentication</h2>
      </div>

      <div ng-if="twoFactorAuthStep === 1">
        <p class="form-section__info" translate>TO DO Description of what 2FA is and why should enable</p>

        <div class="form-inline-fields">
          <strong class="form-inline-fields__item">
            <span translate>Status: </span>
            <span ng-if="!user.totp" translate>Off</span>
            <span ng-if="user.totp" translate>On</span>
          </strong>
          <button type="button" class="btn-primary" ng-if="!user.totp" ng-click="getQRCode()">
            <span translate>Activate</span>
          </button>
          <button type="button" class="btn-primary" ng-if="user.totp" ng-click="disableTwoFactorAuth()">
            <span translate>Deactivate</span>
          </button>
        </div>
      </div>


      <div ng-if="twoFactorAuthStep === 2" class="row">
        <div class="col-md-6">
          <p translate><strong>1. Scan the QR Code:</strong></p>
          <img src="{{qrCode}}" />
        </div>
        <div class="col-md-6">
          <form ng-submit="enableTFA(tfaCode)">
            <label for="tfaCode" translate>2. Enter the code given:</label>
            <div class="form-inline-fields">

              <span class="form-inline-fields__item">
                <input type="text" id="code" name="code" ng-model="tfaCode" required />
              </span>
              <button type="submit" class="btn-primary" translate>Submit</button>
            </div>
          </form>
        </div>
      </div>

      <div ng-if="twoFactorAuthStep === 3">
        <div ng-if="recoveryCodes">
          <p class="form-section__info" translate><strong>3. Save your recovery codes:</strong></p>
          <p class="form-section__info recovery-codes__info">
            <icon name="caution"></icon>
            <span translate>Download and save your recovery codes in a safe place. They will allow you to access your account if you ever lose your phone.</span>
          </p>
          <ul class="recovery-codes__list">
            <li class="recovery-codes__item" ng-repeat="code in recoveryCodes">{{code}}</li>
          </ul>
          <div class="form-field">
            <button type="button" class="btn-primary" ng-click="downloadRecoveryCodes()" translate>Download</button>
            <button clipboard supported="supported" text="recoveryCodes" class="btn-primary" translate>Copy</button>
          </div>
        </div>

        <button type="button" class="btn-primary" ng-click="resetTFAForm()" ng-if="twoFactorAuthStep === 3">Done</button>
      </div>

    </div>
  </div>

    <div class="block recovery-codes" ng-if="user.totp">
      <div class="block-heading">
        <h3 translate>Recovery codes</h3>
      </div>

      <p class="form-section__info recovery-codes__info">
        <icon name="caution"></icon>
        <span translate>Download and save your recovery codes in a safe place. They will allow you to access your account if you ever lose your phone.</span>
      </p>

      <button type="button" class="btn-primary" ng-click="getRecoveryCodes()" ng-if="!recoveryCodes || !recoveryCodes.length" translate>Get recovery codes</button>

      <div ng-if="recoveryCodes && recoveryCodes.length">
        <ul class="recovery-codes__list">
          <li class="recovery-codes__item" ng-repeat="code in recoveryCodes">{{code}}</li>
        </ul>
        <button type="button" class="btn-primary" ng-click="downloadRecoveryCodes()" translate>Download</button>
        <button clipboard supported="supported" text="recoveryCodes" class="btn-primary" translate>Copy</button>
      </div>

    </div>

    <div class="block" ng-if="user.totp && user.totpTrusted.length">
      <div class="block-heading">
        <h3 translate>Trusted devices</h3>
      </div>

      <ul class="list list--has-dividers list--has-buttons">
        <li class="list__item" ng-repeat="device in user.totpTrusted">
          {{device.ua}}
          <button type="button" class="btn-transparent list__button" ng-click="deleteTrustedDevice()">
            <icon name="cancel" text="Remove"></icon>
          </button>
        </li>
      </ul>
    </div>

  </tab>
</tabset>
