<div class="modal-header">
  <h3 class="modal-title" id="modal-title" translate>
    2fa
  </h3>
  <button type="button" class="btn-transparent modal-close" ng-click="closeListTypesModal()">
    <icon name="cancel" text="Close"></icon>
  </button>
</div>
<div class="modal-body" id="modal-body">
  <div class="modal-body__content">
    <p translate>Please enter your 2fa code</p>

    <form ng-submit="login(theCode)">
      <p>
        <label for="theCode">Code</label>
        <input type="text" id="code" name="code" ng-model="theCode" required />
        <button type="submit">Confirm</button>
      </p>
    </form>

    <!-- <div class="row">
      <div class="col-xs-6 col-sm-4 offset-xs-3 offset-sm-4">
        <button type="button" class="btn-primary btn-block" ng-click="closeListTypesModal()" translate="">Close</button>
      </div>
    </div> -->
  </div>
</div>
