<label class="btn-secondary btn-upload" for="fileUpload">
  <span ng-if="!uploadStatus">
    <icon name="cloud-upload"></icon>
    Upload
  </span>
  <span ng-if="uploadStatus === 'uploading'">
    <icon class="rotate" name="refresh"></icon>
    Uploading
  </span>
  <span ng-if="uploadStatus === 'success'">
    <icon name="check"></icon>
    Uploaded
  </span>
  <input name="fileUpload" id="fileUpload" type="file" accept='image/jpeg, image/png' onchange="angular.element(this).scope().doUpload(this.files)" />
</label>
<p class="form-hint"><em translate>Use JPEG, up to 5 MB</em></p>
