<loader ng-if="!usersLoaded"></loader>

<div class="list-actions">

  <div>
    <div class="list-actions__current-filters" ng-if="currentFilters.length">
      <!-- <h3 translate>Filters applied:</h3> -->
      <ul class="tag-list ">   
        <li class="tag-list__heading" translate>Filters applied:</li>
        <li class="tag-list__item tag-list__item--has-button" ng-repeat="filter in currentFilters">
          <span class="tag-list__text">{{filter.label}}</span>
          <button type="button" class="btn-transparent tag-list__button" ng-click="removeFilter(filter)">
            <icon name="cancel" text="Remove {{filter.type}} filter"></icon>
          </button>
        </li>
      </ul>
    </div>
    <div class="list-actions__count">
      {{totalItems}} <span translate>contacts found</span>
    </div>
  </div>

  <ul class="pagination list-actions__pagination">
    <li class="pagination-page"><span>Show</span></li>
    <li class="pagination-page" ng-class="{'active' : itemsPerPage === 50}">
      <button type="button" ng-click="setLimit(50)" ng-disabled="!isOnline">50</button>
    </li>
    <li class="pagination-page" ng-class="{'active' : itemsPerPage === 100}">
      <button type="button" ng-click="setLimit(100)" ng-disabled="!isOnline">100</button>
    </li>
    <li class="pagination-page" ng-class="{'active' : itemsPerPage === 150}">
      <button type="button" ng-click="setLimit(150)" ng-disabled="!isOnline">150</button>
    </li>
    <li class="pagination-page" ng-class="{'active' : itemsPerPage === 200}">
      <button type="button" ng-click="setLimit(200)" ng-disabled="!isOnline">200</button>
    </li>
  </ul>

</div>

<button class="btn-icon btn-toggle-filters btn-toggle-filters--has-admin" type="button" ng-click="toggleSidebar('userFilters')">
  <icon name="filter" text="Filter"></icon>
</button>

<ng-include src="'app/components/user/user-filters.html'"></ng-include>

<table class="table table-responsive table-responsive--has-actions">
  <thead>
    <tr>
      <th><span class="sr-only" translate>Verified</th>
      <th ng-click="sortList('name')" translate>Name</th>
      <th ng-click="sortList('role')" translate>Job title</th>
      <th ng-click="sortList('organization')" translate>Organization</th>
      <th ng-click="sortList('cluster')" translate>Cluster</th>
      <th ng-click="sortList('country')" translate>Country</th>
      <th translate><span class="sr-only">Info / actions</span></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td class="table-icon"><icon name="check-circle" text="Verified" title="Verified" ng-if="user.verified"></icon></td>
      <td><a ng-href="/users/{{user._id}}" ng-click="saveSearch(user)">{{user.name}}</a></td>
      <td>
        {{user.job_title}}
      </td>
      <td><a ng-href="/lists/{{user.organization.list}}" ng-if="user.organization.list">{{user.organization.acronym || user.organization.name}}</a></td>
      <td>
        <span ng-if="list.type === 'operation'" ng-repeat="bundle in user.operationBundles">
          <a ng-href="/lists/{{bundle.list}}">{{bundle.displayName}}</a><span ng-if="$index +1 < user.operationBundles.length">,&nbsp;</span>
        </span>
        <span ng-if="list.type !== 'operation'" ng-repeat="bundle in user.bundles">
          <a ng-href="/lists/{{bundle.list}}">{{bundle.name}}</a><span ng-if="$index +1 < user.bundles.length">,&nbsp;</span>
        </span>

      </td>
      <td>{{user.location.country.name}}</td>

      <td class="table-actions">
        <icon name="caution" text="Pending" title="Pending" ng-if="user.pending"></icon>
        <ng-include src="'app/components/user/userOptions.html'"></ng-include>
      </td>
    </tr>
  </tbody>
</table>
<ul uib-pagination boundary-link-numbers="true" total-items="totalItems" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination" direction-links="false"></ul>
