<div class="sidebar collapse" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.userFilters}"
tabIndex="{{ sidebar.open ? '-1' : ''}}"">

  <div ng-if="sidebar.sidebars.userFilters" class="sidebar__inner">

    <h2 class="sidebar__heading">Filter</h2>

    <ul class="tag-list tag-list--sidebar" ng-if="currentFilters.length">     
      <li class="tag-list__item tag-list__item--has-button" ng-repeat="filter in currentFilters">
        <span class="tag-list__text">{{filter.label}}</span>
        <button type="button" class="btn-transparent tag-list__button" ng-click="removeFilter(filter)">
          <icon name="cancel" text="Remove {{filter.type}} filter"></icon>
        </button>
      </li>
    </ul>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="closeSidebar()">
      <icon name="cancel" text="close"></icon>
    </button>

    <div class="filters-group filter__search">
      <label for="name" class="sr-only">Search by name</label>
      <input type="text" class="filter__search__input" ng-model="selectedFilters['name']" name="name" id="name" placeholder="Search by name">
      <icon name="search"></icon>
    </div>

    <div class="filters-group">
      <h3>
        <button type="button" class="filters-group__heading" ng-click="filterGroup1 = !filterGroup1" ng-class="{'active' : filterGroup1}" translate>
          Location filters
          <icon name="plus" text="Toggle location filters"></icon>
        </button>
      </h3>

      <div uib-collapse="!filterGroup1" class="filters-group__inner">

        <div class="filter" ng-if="!list || list.type !== 'disaster'">
          <label for="disasters" class="sr-only" translate>Filter by disaster</label>
          <ui-select ng-model="selectedFilters['disasters.list']" name="disasters">
            <ui-select-match allow-clear="true" placeholder="Disaster">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getDisasters($select.search)" repeat="disaster._id as disaster in disasters | filter: $select.search" minimum-input-length="3">
              {{disaster.name}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="filter">
          <label for="country" class="sr-only" translate>Filter by country</label>

          <ui-select ng-model="selectedFilters['country']" name="country">
            <ui-select-match allow-clear="true" placeholder="Country">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getCountries($select.search)" repeat="country.id as country in countries | filter: $select.search" minimum-input-length="3">
              {{country.name}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="filter" ng-if="!list || list.type !== 'operation'">
          <label for="operations" class="sr-only" translate>Filter by operation</label>
          <ui-select ng-model="selectedFilters['operations.list']" name="operations">
            <ui-select-match allow-clear="true" placeholder="Operation">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getOperations($select.search)" minimum-input-length="3" repeat="operation._id as operation in operations | filter: $select.search">
              {{operation.name}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="filter" ng-if="!list || list.type !== 'office'">
          <label for="office" class="sr-only" translate>Filter by co-ordination hub</label>
           <ui-select ng-model="selectedFilters['offices.list']" name="offices">
            <ui-select-match allow-clear="true" placeholder="Co-ordination hub">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getOffices($select.search)" repeat="office._id as office in offices | filter: $select.search" minimum-input-length="3">
              {{office.name}}
            </ui-select-choices>
          </ui-select>
        </div>

      </div>
    </div>

    <div class="filters-group">
      <h3>
        <button type="button" class="filters-group__heading" ng-click="filterGroup2 = !filterGroup2" ng-class="{'active' : filterGroup2}" translate>
          Occupation filters
          <icon name="plus" text="Toggle occupation filters"></icon>
        </button>
      </h3>

      <div uib-collapse="!filterGroup2" class="filters-group__inner">

        <div class="filter" ng-if="!list || list.type !== 'bundle'">
          <label for="bundles" class="sr-only" translate>Filter by group</label>
          <ui-select ng-model="selectedFilters['bundles.list']" name="bundles">
            <ui-select-match allow-clear="true" placeholder="Group">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getBundles($select.search)" repeat="bundle._id as bundle in bundles | filter: $select.search" minimum-input-length="3">
              {{bundle.name}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="filter" ng-if="!list || list.type !== 'organization'">
          <label for="orgType" class="sr-only" translate>Filter by organization type</label>
          <ui-select ng-model="selectedFilters['organizations.orgTypeId']" name="orgType">
            <ui-select-match allow-clear="true" placeholder="Organization Type">{{$select.selected.label}}</ui-select-match>
            <ui-select-choices repeat="orgType.value as orgType in orgTypes | filter: $select.search">
              {{orgType.label}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="filter" ng-if="!list || list.type !== 'organization'">
          <label for="organizations" class="sr-only" translate>Filter by organization</label>
          <ui-select ng-model="selectedFilters['organizations.list']" name="organizations">
            <ui-select-match allow-clear="true" placeholder="Organization">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices refresh="getOrganizations($select.search)" repeat="organization._id as organization in organizations | filter: $select.search" minimum-input-length="3">
              {{organization.name}}
            </ui-select-choices>
          </ui-select>
        </div>

        <div class="filter" ng-if="!list || list.type !== 'role'">
          <label for="roles" class="sr-only" translate>Filter by role</label>
          <ui-select ng-model="selectedFilters['functional_roles.list']" name="roles">
            <ui-select-match allow-clear="true" placeholder="Role">{{$select.selected.label}}</ui-select-match>
            <ui-select-choices refresh="getRoles($select.search)" minimum-input-length="3" repeat="role._id as role in roles | filter: $select.search">
              {{role.label}}
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="filter" ng-if="currentUser.is_admin || currentUser.isManager">
          <label for="userTypes" class="sr-only" translate>Type of user</label>
          <ui-select ng-model="selectedFilters.user_type" name="userTypes" id="userTypes">
            <ui-select-match allow-clear="true" placeholder="Type of user">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="type.value as type in userTypes | filter: $select.search">
                {{type.label}}
            </ui-select-choices>
          </ui-select>
        </div>

      </div>
    </div>

    <div class="filters-group">
      <h3>
        <button type="button" class="filters-group__heading" ng-click="filterGroup3 = !filterGroup3" ng-class="{'active' : filterGroup3}" translate>
          Sort
          <icon name="plus" text="Toggle location filters"></icon>
        </button>
      </h3>

      <div uib-collapse="!filterGroup3" class="filters-group__inner">
        <div class="filter">
          <label for="sort" class="sr-only" translate>Sort by</label>
          <ui-select ng-model="request['sort']" name="sort">
            <ui-select-match placeholder="Sort by">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="sort.label as sort in sortBy | filter: $select.search">
                {{sort.name}}
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>

    <div class="row filter__buttons">
      <div class="col-xs-6">
        <button type="button" class="btn btn-secondary" ng-click="resetFilters()">Clear</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary" ng-click="applyFilters()">Apply</button>
      </div>
    </div>

  </div>
</div>
