<div class="sidebar collapse" ng-class="{'in' : sidebar.open, 'active' : sidebar.sidebars.userFilters}">

  <div ng-if="sidebar.sidebars.userFilters" class="sidebar__inner">

    <h2 class="sidebar__heading">Filter</h2>

    <button type="button" class="btn btn-transparent sidebar__close" ng-click="closeSidebar()">
      <icon name="times" text="close"></icon>
    </button>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter1Collapsed = !isFilter1Collapsed">
          <span translate>Organisation</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter1Collapsed" class="filter__inner">
        <label for="organizations" class="sr-only" translate>Filter by organization</label>
        <ui-select ng-model="filters['organizations.list']" name="organizations" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
          <ui-select-match allow-clear="true" placeholder="Filter by organization">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices refresh="getOrganizations($select.search)" repeat="organization._id as organization in organizations | filter: $select.search" minimum-input-length="3">
            {{organization.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter2Collapsed = !isFilter2Collapsed">
          <span translate>Operation</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter2Collapsed" class="filter__inner">
        <label for="operations" class="sr-only" translate>Filter by operation</label>
        <ui-select ng-model="filters['operations.list']" name="operations" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
          <ui-select-match allow-clear="true" placeholder="Filter by operation">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="operation._id as operation in operations | filter: $select.search">
            {{operation.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter3Collapsed = !isFilter3Collapsed">
          <span translate>Group</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter3Collapsed" class="filter__inner">
        <label for="bundles" class="sr-only" translate>Filter by group</label>
        <ui-select ng-model="filters['bundles.list']" name="bundles" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
          <ui-select-match allow-clear="true" placeholder="Filter by group">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices refresh="getBundles($select.search)" repeat="bundle._id as bundle in bundles | filter: $select.search" minimum-input-length="3">
            {{bundle.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter4Collapsed = !isFilter4Collapsed">
          <span translate>Role</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter4Collapsed" class="filter__inner">
        <label for="roles" class="sr-only" translate>Filter by role</label>
        <ui-select ng-model="filters['roles.id']" name="roles" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
          <ui-select-match allow-clear="true" placeholder="Filter by role">{{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="role.id as role in roles | filter: $select.search">
            {{role.label}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter5Collapsed = !isFilter5Collapsed">
          <span translate>Country</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter5Collapsed" class="filter__inner">
        <label for="country" class="sr-only" translate>Filter by country</label>
        <ui-select ng-model="filters['country']" name="country" theme="bootstrap" on-select="filter()" on-remove="filter()">
          <ui-select-match allow-clear="true" placeholder="Filter by country">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="country.id as country in countries | filter: $select.search">
            {{country.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter6Collapsed = !isFilter6Collapsed">
          <span translate>Disaster</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter6Collapsed" class="filter__inner">
        <label for="disasters" class="sr-only" translate>Filter by disaster</label>
        <ui-select ng-model="filters['disasters.list']" name="disasters" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
          <ui-select-match allow-clear="true" placeholder="Filter by disaster">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices refresh="getDisasters($select.search)" repeat="disaster._id as disaster in disasters | filter: $select.search" minimum-input-length="3">
            {{disaster.name}}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter7Collapsed = !isFilter7Collapsed">
          <span translate>Type of user</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter7Collapsed" class="filter__inner">
        <p>
          <label><input type="checkbox" ng-model="filters.is_orphan" name="is_orphan" ng-change="filter()" /> Orphan</label>
        </p>

        <p>
          <label><input type="checkbox" ng-model="filters.is_ghost" name="is_ghost" ng-change="filter()" /> Ghost</label>
        </p>

        <p>
          <label><input type="checkbox" ng-model="filters.verified" name="verified" ng-change="filter()" /> Verified</label>
        </p>

        <p>
          <label><input type="checkbox" ng-model="filters.is_admin" name="is_admin" ng-change="filter()" /> Administrator</label>
        </p>
      </div>
    </div>

    <div class="filter">
      <h3>
        <button type="button" class="btn btn-transparent filter__heading" ng-click="isFilter8Collapsed = !isFilter8Collapsed">
          <span translate>Sort</span>
          <icon name="chevron-down"></icon>
        </button>
      </h3>
      <div uib-collapse="!isFilter8Collapsed" class="filter__inner">
        <label for="sort" class="sr-only" translate>Sort by</label>
        <select ng-model="request['sort']" name="sort" id="sort" class="form-control" ng-change="filter()">
          <option value="name" translate>Name</option>
          <option value="job_title" translate>Job title</option>
          <option value="organization" translate>Organization</option>
          <option value="verified" translate>Verification</option>
        </select>
      </div>
    </div>

    <div class="row filter__buttons">
      <div class="col-xs-6">
        <button type="button" class="btn btn-secondary">Clear</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-secondary" ng-click="closeSidebar()">Apply</button>
      </div>
    </div>

  </div>
</div>
