/*
 * Styles required for the api (forms and pdfs)
 * Usage:
 * Run `grunt sass:api` to generate the css
 * Copy the generated css into the api css file https://github.com/UN-OCHA/hid_api/blob/dev/assets/css/main.css
 */

@import '../../app/common/cd/_cd-tools';
@import '../../app/common/variables/_breakpoints';
@import '../../app/common/variables/_colors';
@import '../../app/common/variables/_font-sizes';
@import '../../app/common/variables/_fonts';
@import '../../app/common/variables/_measurements';
@import '../../app/common/variables/_transitions';
@import '../../app/common/variables/_zindex';
@import '../../app/common/mixins/_buttons';
@import '../../app/common/mixins/_clearfix';
@import '../../app/common/mixins/_font-size';
@import '../../app/common/mixins/_form-styles';
@import '../../app/common/mixins/_media-queries';
@import '../../app/common/base/_a-reset';
@import '../../app/common/base/_base';
@import '../../app/common/base/_grid';
// @import '../../app/common/forms/_bc-phone-number';
// @import '../../app/common/forms/_clickies';
// @import '../../app/common/forms/_datepicker';
@import '../../app/common/forms/_forms';
// @import '../../app/common/forms/_selects';
// @import '../../app/common/forms/_ui-select';
@import '../../app/common/_animations';
// @import '../../app/common/_block-lists';
@import '../../app/common/_blocks';
// @import '../../app/common/_breadcrumbs';
@import '../../app/common/_buttons';
// @import '../../app/common/_carousel';
// @import '../../app/common/_dropdown';
// @import '../../app/common/_filters';
@import '../../app/common/_icons';
// @import '../../app/common/_list-actions';
// @import '../../app/common/_lists';
// @import '../../app/common/_modal';
@import '../../app/common/_page';
// @import '../../app/common/_pagination';
// @import '../../app/common/_skip-link';
// @import '../../app/common/_styleguide';
@import '../../app/common/_tables';
// @import '../../app/common/_tags';
@import '../../app/components/alerts/_alerts';
@import '../../app/components/auth/_login';
// @import '../../app/components/checkin/_checkin';
// @import '../../app/components/dashboard/_dashboard';
// @import '../../app/components/footer/_footer';
// @import '../../app/components/landing/_recent-searches';
// @import '../../app/components/list/_lists';
// @import '../../app/components/loader/_loader';
@import '../../app/components/offlineStatus/_offline-status';
// @import '../../app/components/search/_search-form';
// @import '../../app/components/sidebar/_sidebar';
// @import '../../app/components/start/_start-form';
// @import '../../app/components/tabs/_tabs';
// @import '../../app/components/user/_connections';
// @import '../../app/components/user/_keys';
// @import '../../app/components/user/_tfa';
// @import '../../app/components/user/_user';
// @import '../../app/components/video/_video';
@import '../../app/common/cd/_cd';

.api-page {
  width: 100%;
  padding-top: $base-unit*2;
  padding-bottom: $base-unit*2;
}

.pdf {
  background-color: white;

  .col-xs-8 {
    float: left;
    width: 66.66667%;
  }

  .col-xs-4 {
    float: left;
    width: 33.33333%;
  }

  .page-header {
    padding-top: $base-unit*3;
    margin-bottom: $base-unit*2;

    img {
      height: auto;
    }
  }
}

.table {
  @include font-size($small-font-size);
}

.table-compact {
  @include font-size(13);
  td {
    padding: 0 $base-unit;
  }
}

.filters-param-list {
  @include font-size($small-font-size);
  background: $primary-color;
  color: $text-light;
  margin-bottom: $base-unit*2;
  padding: $base-unit;
}

.filters-param, .filters-param-label {
  display: inline-block;
  padding: $base-unit/2 $base-unit;
  margin: 0 $base-unit 0 0;
}

.filters-param {
  background: white;
  color: $primary-color;
}

.print-footer {
  font-weight: bold;
  @include font-size($small-font-size);
  width: 100%;
  text-align: left;
  padding-bottom: $base-unit/2;
}

.title-humanitarian {
  font-family: $heading-font;
  text-transform: uppercase;
  color: $dark-blue;
}

.title-id {
  font-family: $heading-font;
  text-transform: uppercase;
  color: $primary-color;
}

@include media-query(sm) {
  .api-page {
    padding-bottom: $base-unit*5;
  }
}
