/**
 * Variables
 */
/**
 * Clearfix  mixin
 *
 * Usage:
 * .my-class {
 *   @include clearfix;
 * }
 *
 * Results in:
 * .my-class {
 *    &:after {
 *     content: " ";
 *     display: table;
 *     clear: both;
 *   }
 * }
 *
 */
/**
 * Font size mixin
 *
 * Converts pixel size to rems with pixel fallback.
 *
 * Requires the $base-font-size variable to be set for the project, this should be the body font size.
 *
 * Usage:
 * @include font-size(14);
 *
 * Results in (with a $base-font-size of 18):
 * font-size: 14px;
 * font-size: 0.77777778rem
 *
 */
/**
 * Media query mixin
 *
 * Sets min-width media queries at specified breakpoints
 *
 * Usage:
 * @include media-query(sm) {
 *   // content
 * }
 *
 * Results in:
 * @media min-width: 1200px {
 *   // content
 * }
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Fonts
 */
@font-face {
  font-family: 'exo_2regular';
  src: url("../fonts/exo/Exo2-Regular-webfont.eot");
  src: url("../fonts/exo/Exo2-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo2-Regular-webfont.woff") format("woff"), url("../fonts/exo/Exo2-Regular-webfont.ttf") format("truetype"), url("../fonts/exo/Exo2-Regular-webfont.svg#exo_2regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'exo_2semi_bold';
  src: url("../fonts/exo/Exo2-SemiBold-webfont.eot");
  src: url("../fonts/exo/Exo2-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo2-SemiBold-webfont.woff") format("woff"), url("../fonts/exo/Exo2-SemiBold-webfont.ttf") format("truetype"), url("../fonts/exo/Exo2-SemiBold-webfont.svg#exo_2semi_bold") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Base styles
 */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

html, input {
  font-size: 100%; }

body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #404040;
  line-height: 1.5;
  background: white; }

body.toggled {
  padding-left: 350px; }

img {
  max-width: 100%;
  display: inline-block; }

a {
  text-decoration: underline; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

h1 {
  font-size: 24px;
  font-size: 1.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.sr-only, .nav__label:not(.nav__label--mobile) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

button, input[type="submit"] {
  font-size: 16px;
  font-size: 1rem;
  font-family: sans-serif;
  -webkit-appearance: none;
  cursor: pointer; }

button[disabled] {
  background: #CFD1D2;
  border-color: #CFD1D2;
  color: #404040;
  cursor: initial; }
  button[disabled]:hover, button[disabled]:focus {
    background: #CFD1D2;
    border-color: #CFD1D2;
    color: #404040; }

.btn {
  border: 2px solid #CFD1D2;
  border-radius: 4px;
  background: #CFD1D2;
  padding: 12px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  color: #404040;
  min-width: 44px; }
  .btn:hover, .btn:focus {
    background: white; }

.btn-primary {
  background: #2D6282;
  border-color: #2D6282;
  color: white;
  transition: background 0.3s ease; }
  .btn-primary:hover, .btn-primary:focus {
    background: white;
    color: #2D6282; }

.btn-secondary {
  background: white; }

.btn-transparent {
  background: none;
  border: none;
  color: #2D6282; }
  .btn-transparent:hover, .btn-transparent:focus {
    background: none; }

.dropdown-menu {
  display: none; }
  .open > .dropdown-menu {
    display: block;
    position: absolute;
    background: white;
    z-index: 9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); }
  .dropdown-menu li {
    border-bottom: 1px solid #CFD1D2; }
    .dropdown-menu li:last-child {
      border-bottom: none; }
  .dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #404040;
    padding: 8px; }
    .dropdown-menu a:hover, .dropdown-menu a:focus {
      text-decoration: underline; }

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea,
select {
  font-size: 16px;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 12px;
  width: 100%;
  box-shadow: none;
  border: 1px solid #CFD1D2;
  border-radius: 4px;
  -webkit-appearance: none; }
  input[type="text"].input-no-border,
  input[type="number"].input-no-border,
  input[type="password"].input-no-border,
  input[type="email"].input-no-border,
  input[type="search"].input-no-border,
  textarea.input-no-border,
  select.input-no-border {
    border: none; }
  .has-error input[type="text"], .has-error
  input[type="number"], .has-error
  input[type="password"], .has-error
  input[type="email"], .has-error
  input[type="search"], .has-error
  textarea, .has-error
  select {
    border-color: red; }

select {
  height: 36px;
  -webkit-appearance: menulist;
  background: white; }

label {
  font-weight: bold; }
  .has-error label {
    color: red; }

.form-group {
  margin-bottom: 16px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #2D6282;
  font-style: italic; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #2D6282;
  font-style: italic; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #2D6282;
  font-style: italic; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #2D6282;
  font-style: italic; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  margin-right: -16px;
  margin-left: -16px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col-xs, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 16px;
  padding-left: 16px; }

@media (min-width: 0) {
  .col-xs-1 {
    float: left;
    width: 8.33333%; }

  .col-xs-2 {
    float: left;
    width: 16.66667%; }

  .col-xs-3 {
    float: left;
    width: 25%; }

  .col-xs-4 {
    float: left;
    width: 33.33333%; }

  .col-xs-5 {
    float: left;
    width: 41.66667%; }

  .col-xs-6 {
    float: left;
    width: 50%; }

  .col-xs-7 {
    float: left;
    width: 58.33333%; }

  .col-xs-8 {
    float: left;
    width: 66.66667%; }

  .col-xs-9 {
    float: left;
    width: 75%; }

  .col-xs-10 {
    float: left;
    width: 83.33333%; }

  .col-xs-11 {
    float: left;
    width: 91.66667%; }

  .col-xs-12 {
    float: left;
    width: 100%; }

  .pull-xs-0 {
    right: auto; }

  .pull-xs-1 {
    right: 8.33333%; }

  .pull-xs-2 {
    right: 16.66667%; }

  .pull-xs-3 {
    right: 25%; }

  .pull-xs-4 {
    right: 33.33333%; }

  .pull-xs-5 {
    right: 41.66667%; }

  .pull-xs-6 {
    right: 50%; }

  .pull-xs-7 {
    right: 58.33333%; }

  .pull-xs-8 {
    right: 66.66667%; }

  .pull-xs-9 {
    right: 75%; }

  .pull-xs-10 {
    right: 83.33333%; }

  .pull-xs-11 {
    right: 91.66667%; }

  .pull-xs-12 {
    right: 100%; }

  .push-xs-0 {
    left: auto; }

  .push-xs-1 {
    left: 8.33333%; }

  .push-xs-2 {
    left: 16.66667%; }

  .push-xs-3 {
    left: 25%; }

  .push-xs-4 {
    left: 33.33333%; }

  .push-xs-5 {
    left: 41.66667%; }

  .push-xs-6 {
    left: 50%; }

  .push-xs-7 {
    left: 58.33333%; }

  .push-xs-8 {
    left: 66.66667%; }

  .push-xs-9 {
    left: 75%; }

  .push-xs-10 {
    left: 83.33333%; }

  .push-xs-11 {
    left: 91.66667%; }

  .push-xs-12 {
    left: 100%; }

  .offset-xs-1 {
    margin-left: 8.33333%; }

  .offset-xs-2 {
    margin-left: 16.66667%; }

  .offset-xs-3 {
    margin-left: 25%; }

  .offset-xs-4 {
    margin-left: 33.33333%; }

  .offset-xs-5 {
    margin-left: 41.66667%; }

  .offset-xs-6 {
    margin-left: 50%; }

  .offset-xs-7 {
    margin-left: 58.33333%; }

  .offset-xs-8 {
    margin-left: 66.66667%; }

  .offset-xs-9 {
    margin-left: 75%; }

  .offset-xs-10 {
    margin-left: 83.33333%; }

  .offset-xs-11 {
    margin-left: 91.66667%; } }
@media (min-width: 576px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%; }

  .col-sm-2 {
    float: left;
    width: 16.66667%; }

  .col-sm-3 {
    float: left;
    width: 25%; }

  .col-sm-4 {
    float: left;
    width: 33.33333%; }

  .col-sm-5 {
    float: left;
    width: 41.66667%; }

  .col-sm-6 {
    float: left;
    width: 50%; }

  .col-sm-7 {
    float: left;
    width: 58.33333%; }

  .col-sm-8 {
    float: left;
    width: 66.66667%; }

  .col-sm-9 {
    float: left;
    width: 75%; }

  .col-sm-10 {
    float: left;
    width: 83.33333%; }

  .col-sm-11 {
    float: left;
    width: 91.66667%; }

  .col-sm-12 {
    float: left;
    width: 100%; }

  .pull-sm-0 {
    right: auto; }

  .pull-sm-1 {
    right: 8.33333%; }

  .pull-sm-2 {
    right: 16.66667%; }

  .pull-sm-3 {
    right: 25%; }

  .pull-sm-4 {
    right: 33.33333%; }

  .pull-sm-5 {
    right: 41.66667%; }

  .pull-sm-6 {
    right: 50%; }

  .pull-sm-7 {
    right: 58.33333%; }

  .pull-sm-8 {
    right: 66.66667%; }

  .pull-sm-9 {
    right: 75%; }

  .pull-sm-10 {
    right: 83.33333%; }

  .pull-sm-11 {
    right: 91.66667%; }

  .pull-sm-12 {
    right: 100%; }

  .push-sm-0 {
    left: auto; }

  .push-sm-1 {
    left: 8.33333%; }

  .push-sm-2 {
    left: 16.66667%; }

  .push-sm-3 {
    left: 25%; }

  .push-sm-4 {
    left: 33.33333%; }

  .push-sm-5 {
    left: 41.66667%; }

  .push-sm-6 {
    left: 50%; }

  .push-sm-7 {
    left: 58.33333%; }

  .push-sm-8 {
    left: 66.66667%; }

  .push-sm-9 {
    left: 75%; }

  .push-sm-10 {
    left: 83.33333%; }

  .push-sm-11 {
    left: 91.66667%; }

  .push-sm-12 {
    left: 100%; }

  .offset-sm-0 {
    margin-left: 0%; }

  .offset-sm-1 {
    margin-left: 8.33333%; }

  .offset-sm-2 {
    margin-left: 16.66667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.33333%; }

  .offset-sm-5 {
    margin-left: 41.66667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.33333%; }

  .offset-sm-8 {
    margin-left: 66.66667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.33333%; }

  .offset-sm-11 {
    margin-left: 91.66667%; } }
@media (min-width: 768px) {
  .col-md-1 {
    float: left;
    width: 8.33333%; }

  .col-md-2 {
    float: left;
    width: 16.66667%; }

  .col-md-3 {
    float: left;
    width: 25%; }

  .col-md-4 {
    float: left;
    width: 33.33333%; }

  .col-md-5 {
    float: left;
    width: 41.66667%; }

  .col-md-6 {
    float: left;
    width: 50%; }

  .col-md-7 {
    float: left;
    width: 58.33333%; }

  .col-md-8 {
    float: left;
    width: 66.66667%; }

  .col-md-9 {
    float: left;
    width: 75%; }

  .col-md-10 {
    float: left;
    width: 83.33333%; }

  .col-md-11 {
    float: left;
    width: 91.66667%; }

  .col-md-12 {
    float: left;
    width: 100%; }

  .pull-md-0 {
    right: auto; }

  .pull-md-1 {
    right: 8.33333%; }

  .pull-md-2 {
    right: 16.66667%; }

  .pull-md-3 {
    right: 25%; }

  .pull-md-4 {
    right: 33.33333%; }

  .pull-md-5 {
    right: 41.66667%; }

  .pull-md-6 {
    right: 50%; }

  .pull-md-7 {
    right: 58.33333%; }

  .pull-md-8 {
    right: 66.66667%; }

  .pull-md-9 {
    right: 75%; }

  .pull-md-10 {
    right: 83.33333%; }

  .pull-md-11 {
    right: 91.66667%; }

  .pull-md-12 {
    right: 100%; }

  .push-md-0 {
    left: auto; }

  .push-md-1 {
    left: 8.33333%; }

  .push-md-2 {
    left: 16.66667%; }

  .push-md-3 {
    left: 25%; }

  .push-md-4 {
    left: 33.33333%; }

  .push-md-5 {
    left: 41.66667%; }

  .push-md-6 {
    left: 50%; }

  .push-md-7 {
    left: 58.33333%; }

  .push-md-8 {
    left: 66.66667%; }

  .push-md-9 {
    left: 75%; }

  .push-md-10 {
    left: 83.33333%; }

  .push-md-11 {
    left: 91.66667%; }

  .push-md-12 {
    left: 100%; }

  .offset-md-0 {
    margin-left: 0%; }

  .offset-md-1 {
    margin-left: 8.33333%; }

  .offset-md-2 {
    margin-left: 16.66667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.33333%; }

  .offset-md-5 {
    margin-left: 41.66667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.33333%; }

  .offset-md-8 {
    margin-left: 66.66667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.33333%; }

  .offset-md-11 {
    margin-left: 91.66667%; } }
@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
    width: 8.33333%; }

  .col-lg-2 {
    float: left;
    width: 16.66667%; }

  .col-lg-3 {
    float: left;
    width: 25%; }

  .col-lg-4 {
    float: left;
    width: 33.33333%; }

  .col-lg-5 {
    float: left;
    width: 41.66667%; }

  .col-lg-6 {
    float: left;
    width: 50%; }

  .col-lg-7 {
    float: left;
    width: 58.33333%; }

  .col-lg-8 {
    float: left;
    width: 66.66667%; }

  .col-lg-9 {
    float: left;
    width: 75%; }

  .col-lg-10 {
    float: left;
    width: 83.33333%; }

  .col-lg-11 {
    float: left;
    width: 91.66667%; }

  .col-lg-12 {
    float: left;
    width: 100%; }

  .pull-lg-0 {
    right: auto; }

  .pull-lg-1 {
    right: 8.33333%; }

  .pull-lg-2 {
    right: 16.66667%; }

  .pull-lg-3 {
    right: 25%; }

  .pull-lg-4 {
    right: 33.33333%; }

  .pull-lg-5 {
    right: 41.66667%; }

  .pull-lg-6 {
    right: 50%; }

  .pull-lg-7 {
    right: 58.33333%; }

  .pull-lg-8 {
    right: 66.66667%; }

  .pull-lg-9 {
    right: 75%; }

  .pull-lg-10 {
    right: 83.33333%; }

  .pull-lg-11 {
    right: 91.66667%; }

  .pull-lg-12 {
    right: 100%; }

  .push-lg-0 {
    left: auto; }

  .push-lg-1 {
    left: 8.33333%; }

  .push-lg-2 {
    left: 16.66667%; }

  .push-lg-3 {
    left: 25%; }

  .push-lg-4 {
    left: 33.33333%; }

  .push-lg-5 {
    left: 41.66667%; }

  .push-lg-6 {
    left: 50%; }

  .push-lg-7 {
    left: 58.33333%; }

  .push-lg-8 {
    left: 66.66667%; }

  .push-lg-9 {
    left: 75%; }

  .push-lg-10 {
    left: 83.33333%; }

  .push-lg-11 {
    left: 91.66667%; }

  .push-lg-12 {
    left: 100%; }

  .offset-lg-0 {
    margin-left: 0%; }

  .offset-lg-1 {
    margin-left: 8.33333%; }

  .offset-lg-2 {
    margin-left: 16.66667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.33333%; }

  .offset-lg-5 {
    margin-left: 41.66667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.33333%; }

  .offset-lg-8 {
    margin-left: 66.66667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.33333%; }

  .offset-lg-11 {
    margin-left: 91.66667%; } }
@media (min-width: 1200px) {
  .col-xl-1 {
    float: left;
    width: 8.33333%; }

  .col-xl-2 {
    float: left;
    width: 16.66667%; }

  .col-xl-3 {
    float: left;
    width: 25%; }

  .col-xl-4 {
    float: left;
    width: 33.33333%; }

  .col-xl-5 {
    float: left;
    width: 41.66667%; }

  .col-xl-6 {
    float: left;
    width: 50%; }

  .col-xl-7 {
    float: left;
    width: 58.33333%; }

  .col-xl-8 {
    float: left;
    width: 66.66667%; }

  .col-xl-9 {
    float: left;
    width: 75%; }

  .col-xl-10 {
    float: left;
    width: 83.33333%; }

  .col-xl-11 {
    float: left;
    width: 91.66667%; }

  .col-xl-12 {
    float: left;
    width: 100%; }

  .pull-xl-0 {
    right: auto; }

  .pull-xl-1 {
    right: 8.33333%; }

  .pull-xl-2 {
    right: 16.66667%; }

  .pull-xl-3 {
    right: 25%; }

  .pull-xl-4 {
    right: 33.33333%; }

  .pull-xl-5 {
    right: 41.66667%; }

  .pull-xl-6 {
    right: 50%; }

  .pull-xl-7 {
    right: 58.33333%; }

  .pull-xl-8 {
    right: 66.66667%; }

  .pull-xl-9 {
    right: 75%; }

  .pull-xl-10 {
    right: 83.33333%; }

  .pull-xl-11 {
    right: 91.66667%; }

  .pull-xl-12 {
    right: 100%; }

  .push-xl-0 {
    left: auto; }

  .push-xl-1 {
    left: 8.33333%; }

  .push-xl-2 {
    left: 16.66667%; }

  .push-xl-3 {
    left: 25%; }

  .push-xl-4 {
    left: 33.33333%; }

  .push-xl-5 {
    left: 41.66667%; }

  .push-xl-6 {
    left: 50%; }

  .push-xl-7 {
    left: 58.33333%; }

  .push-xl-8 {
    left: 66.66667%; }

  .push-xl-9 {
    left: 75%; }

  .push-xl-10 {
    left: 83.33333%; }

  .push-xl-11 {
    left: 91.66667%; }

  .push-xl-12 {
    left: 100%; }

  .offset-xl-0 {
    margin-left: 0%; }

  .offset-xl-1 {
    margin-left: 8.33333%; }

  .offset-xl-2 {
    margin-left: 16.66667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.33333%; }

  .offset-xl-5 {
    margin-left: 41.66667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.33333%; }

  .offset-xl-8 {
    margin-left: 66.66667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.33333%; }

  .offset-xl-11 {
    margin-left: 91.66667%; } }
/*
 * Temporary styles
 * I will delete you all!
 */
.pull-right, .pull-left {
  float: none; }

.nav-tabs {
  width: 100%; }
  .nav-tabs li {
    display: table-cell; }
  .nav-tabs a {
    padding: 16px;
    display: block; }
  .nav-tabs .active a {
    border: 1px solid #ccc;
    border-bottom: none; }

.tab-pane {
  display: none; }
  .tab-pane.active {
    display: block; }

#admin {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid black;
  height: 100% !important;
  width: 350px; }

.collapse {
  display: none;
  visibility: hidden; }

.collapse.in {
  display: block;
  visibility: visible; }

.input-group {
  display: inline-table;
  vertical-align: middle; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd; }

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 16px;
  padding: 16px; }
  .panel:after {
    content: "";
    display: table;
    clear: both; }

.pagination-page, .pagination-prev, .pagination-next, .pagination-first, .pagination-last {
  display: inline-block;
  padding: 8px; }

/**
 * Styles for auth component
 */
/**
 * Styles for dashboard component
 */
.footer {
  background: #2D6282;
  margin-top: 32px; }

.global-header {
  padding-top: 8px;
  padding-bottom: 8px;
  background: #2D6282;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .global-header .dropdown-menu {
    right: 0;
    top: 28px;
    min-width: 144px; }

.global-header__sites {
  flex-grow: 1;
  position: relative; }
  .global-header__sites .dropdown-menu {
    left: 0;
    right: auto;
    top: 32px;
    width: 160px; }
  .no-flexbox .global-header__sites {
    float: left; }

.global-header__sites-btn {
  color: #FFF;
  text-transform: uppercase;
  text-align: left;
  padding: 0;
  font-size: 8px;
  font-size: 0.5rem; }

@media (min-width: 576px) {
  .global-header__sites-btn {
    font-size: 14px;
    font-size: 0.875rem; } }
@media (min-width: 992px) {
  .global-header {
    height: 64px; }
    .global-header .dropdown-menu {
      top: 40px; }
    .no-flexbox .global-header {
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px; }

  .global-header__sites .dropdown-menu {
    top: 44px; } }
.nav--primary {
  font-family: "exo_2semi_bold", sans-serif; }

.nav--secondary {
  font-family: "exo_2regular", sans-serif; }
  .nav--secondary button {
    font-family: "exo_2regular", sans-serif;
    min-width: 0; }

.nav__item {
  position: relative; }
  .nav--primary .nav__item {
    text-transform: uppercase; }
  .nav--secondary .nav__item {
    display: inline-block; }
  .nav__item:last-child .nav__link {
    padding-right: 0; }
    .nav__item:last-child .nav__link:before {
      content: none; }

.nav__link {
  display: block;
  line-height: 1;
  padding: 0 8px;
  text-decoration: none;
  position: relative; }
  .nav__link:before {
    content: "";
    display: inline-block;
    width: 2px;
    position: absolute;
    right: -1px;
    height: 12px; }
  .nav__link .fa-caret-down {
    font-size: 14px;
    font-size: 0.875rem;
    margin-left: 8px; }
  .nav--primary .nav__link {
    color: #2D6282;
    height: 48px; }
    .nav--primary .nav__link:before {
      content: none; }
    .nav--primary .nav__link:after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      border-bottom: 2px solid transparent;
      transition: border-color 0.3s ease; }
    .nav--primary .nav__link:hover:after, .nav--primary .nav__link:focus:after {
      border-color: #2D6282; }
  .active .nav__link:after {
    border-color: #2D6282; }
  .nav--secondary .nav__link {
    color: #FFF;
    font-size: 14px;
    font-size: 0.875rem;
    height: 16px; }
    .nav--secondary .nav__link:before {
      width: 1px;
      background: #FFF; }
    .nav--secondary .nav__link:hover, .nav--secondary .nav__link:focus {
      outline: none; }
      .nav--secondary .nav__link:hover .nav__label, .nav--secondary .nav__link:focus .nav__label {
        text-decoration: underline; }

@media (min-width: 768px) {
  .no-flexbox .nav--secondary {
    float: right; }

  .nav__label {
    font-size: 16px;
    font-size: 1rem; }

  .nav__label:not(.nav__label--mobile) {
    position: relative;
    height: auto;
    width: auto;
    clip: auto;
    margin: 0 0 0 8px; } }
@media (min-width: 992px) {
  .nav {
    display: flex; }

  .nav__item {
    display: inline-block;
    border: none; }
    .nav--primary .nav__item {
      border-bottom: none; }

  .nav__link {
    font-size: 14px;
    font-size: 0.875rem; }
    .nav--primary .nav__link {
      height: 64px;
      display: flex;
      align-items: center; }
      .nav--primary .nav__link:hover, .nav--primary .nav__link:focus {
        text-decoration: none; }
      .nav--primary .nav__link:before {
        content: "";
        top: 50%;
        margin-top: -6px;
        background: #2D6282; }
      .no-flexbox .nav--primary .nav__link {
        height: auto;
        display: block;
        padding-top: 8px;
        padding-bottom: 8px; } }
@media (min-width: 1200px) {
  .nav__link {
    padding: 0 16px;
    font-size: 16px;
    font-size: 1rem; }
    .nav--primary .nav__link {
      padding: 0 16px; } }
.site-header {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #CFD1D2;
  display: flex;
  align-items: center;
  position: relative; }

.site-header__logo {
  display: block;
  height: 40px;
  width: 40px;
  background: url("../img/logo.svg") left center no-repeat; }
  .no-svg .site-header__logo {
    background-image: url("../img/logo.png"); }
  .site-header__logo.site-header__logo--loggedout {
    width: 256px; }
  .no-flexbox .site-header__logo {
    float: left; }

.site-header__search {
  flex-grow: 1; }
  .no-flexbox .site-header__search {
    float: left; }

.site-header__nav-toggle {
  width: 40px;
  padding: 8px;
  font-size: 24px;
  font-size: 1.5rem;
  position: relative;
  margin-right: -8px; }

.site-header__nav {
  top: 60px;
  right: 0; }

@media (min-width: 576px) {
  .site-header__logo {
    width: 256px;
    margin-right: 24px;
    background-size: 100%; } }
@media (min-width: 992px) {
  .site-header {
    padding-top: 0;
    padding-bottom: 0;
    height: 64px; }
    .no-flexbox .site-header {
      padding-top: 12px;
      padding-bottom: 12px; }

  .site-header__logo {
    width: 240px; }

  .site-header__nav-toggle {
    display: none; }

  .site-header__nav {
    display: block;
    position: relative;
    box-shadow: none;
    top: auto;
    right: auto;
    width: auto;
    background: none;
    z-index: auto; }
    .no-flexbox .site-header__nav {
      float: right; } }
@media (min-width: 1200px) {
  .site-header__logo {
    width: 256px;
    margin-right: 40px; } }
/**
 * Styles for list component
 */
.search-form {
  position: relative; }

input[type="search"].search-form__input {
  padding-left: 36px; }

.search-form__btn {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 0;
  padding-right: 4px; }

/**
 * Styles for user component
 */

/*# sourceMappingURL=main.css.map */
