<loader ng-if="!notificationsLoaded"></loader>

<div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2">
    <p class="alert alert--inline alert--danger" translate>Humanitarian ID platform and its contacts management features will be decommissioned on 1 Jan 2021. Note that this will not affect the HID Authentication service, your HID account will remain active  to access integrated platforms. More info available in the <a href="https://about.humanitarian.id/faqs#contacts-decommissioning">FAQs section</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="page-header">
      <h1 class="page-header__heading" translate>Notifications</h1>
    </div>

    <ul class="block-list" ng-if="notificationsLoaded">
      <li ng-repeat="notification in notifications.all">
        <a href="{{notification.link}}" class="block-list__item">
          {{notification.text}}
          <span class="block-list__item-meta">
          {{notification.createdAt | date: 'HH:mm dd/MM/yyyy'}}
          </span>
        </a>
      </li>
    </ul>

    <ul uib-pagination boundary-link-numbers="true" total-items="totalItems" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" ng-change="getNotifications()" class="pagination" direction-links="false"></ul>

  </div>
</div>
