<div class="row">
  <div class="col-xs-12">
    <div class="page-header">
      <h1 class="page-header__heading" translate>Welcome to Humanitarian ID</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">

  <div ng-controller="SearchCtrl">

    <h2 class="block-heading" translate>Search for contacts</h2>

    <form class="search-form" role="search" ng-submit="search('/users', searchUser)">
      <label for="name" class="sr-only">{{'Type a name'|translate}}</label>
      <input type="search" name="name" id="name" class="input-no-border search-form__input" placeholder="{{'Type a name'|translate}}" ng-model="searchUser" >
      <button type="submit" class="btn btn-transparent search-form__btn">
        <icon name="search" text="Search"></icon>
      </button>
    </form>


    <h2 class="block-heading" translate>Search for contact lists</h2>

    <form class="search-form" role="search" ng-submit="search('lists', searchList)">
      <label for="name" class="sr-only">{{'Type a list name'|translate}}</label>
      <input type="search" name="name" id="name" class="input-no-border search-form__input" placeholder="{{'Type a list name'|translate}}" ng-model="searchList" >
      <button type="submit" class="btn btn-transparent search-form__btn">
        <icon name="search" text="Search"></icon>
      </button>
    </form>
  </div>

  </div>
</div>
