<div class="row">
  <div class="col-xs-12">
    <div class="page-header page-header--no-actions">
      <h1 class="page-header__heading" translate>Welcome to Humanitarian ID</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">

    <div ng-controller="SearchFormCtrl" class="block">

      <div class="block-thumbnail">
        <div class="block-thumbnail__image block-thumbnail__image--contacts">
        </div>

        <div class="block-thumbnail__inner">
          <h2 class="block-heading" translate>Search for contacts</h2>

          <form ng-submit="fullSearch(searchUsersTerm)" role="search" class="search-form">

            <div uib-dropdown is-open="showUsersAutocomplete">
              <label for="searchUsers" class="sr-only">{{'Search for a name'|translate}}</label>
              <input type="search" class="input-no-border search-form__input" placeholder="{{'Search for a name'|translate}}" name="searchUsers" id="searchUsers" autocomplete="off" ng-model="searchUsersTerm" ng-model-options="{debounce: 200}" ng-change="searchUsersAutocomplete()">
              <button type="submit" class="btn-transparent search-form__button">
                <icon name="search" text="Search"></icon>
              </button>

              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-if="landingUsers.length">
                  <ul>
                    <li ng-repeat="result in landingUsers">
                      <a ng-href="users/{{result._id}}" ng-click="saveSearch(result, 'user')">{{result.name}}</a>
                    </li>
                  </ul>
                </li>
                <li><button type="button" ng-click="fullSearch(searchUsersTerm)" class="btn-transparent" translate>View all</button></li>
              </ul>
            </div>

            <p ng-if="recentUserSearches.length" class="recent-searches">
              <span translate>Recent:&nbsp;</span>
              <span ng-repeat="search in recentUserSearches track by $index">
                <a ng-href="{{search.link}}">{{search.name}}</a><span ng-if="$index +1 < recentUserSearches.length">,&nbsp;</span>
              </span>
            </p>

          </form>
        </div>
      </div>

      <div class="block-thumbnail">
        <div class="block-thumbnail__image block-thumbnail__image--countries">
        </div>

        <div class="block-thumbnail__inner">

          <form ng-submit="fullOperationsSearch(searchOperationsTerm)" role="search" class="search-form">

            <h2 class="block-heading" translate>Search for operation lists</h2>

            <div class="search-form" uib-dropdown is-open="showOperationsAutocomplete">
              <label for="searchOperations" class="sr-only">{{'Search for a country / region'|translate}}</label>
              <input type="search" class="input-no-border search-form__input" placeholder="{{'Search for a country / region'|translate}}" name="searchOperations" id="searchOperations" autocomplete="off" ng-model="searchOperationsTerm" ng-model-options="{debounce: 200}" ng-change="searchOperationsAutocomplete()">
              <button type="submit" class="btn-transparent search-form__button">
                <icon name="search" text="Search"></icon>
              </button>

              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-if="landingOperations.length">
                  <ul>
                    <li ng-repeat="result in landingOperations">
                      <a ng-href="lists/{{result._id}}" ng-click="saveSearch(result, 'operation')">{{result.name}}</a>
                    </li>
                  </ul>
                </li>
                <li><button type="button" ng-click="fullSearch(searchOperationsTerm, 'lists', 'operation')" class="btn-transparent" translate>View all</button></li>
              </ul>
            </div>
            <p ng-if="recentOperationSearches.length" class="recent-searches">
              <span translate>Recent:&nbsp;</span>
              <span ng-repeat="search in recentOperationSearches track by $index">
                <a ng-href="{{search.link}}">{{search.name}}</a><span ng-if="$index +1 < recentOperationSearches.length">,&nbsp;</span>
              </span>
            </p>
          </form>
        </div>
      </div>

      <div class="block-thumbnail">
        <div class="block-thumbnail__image block-thumbnail__image--lists">
        </div>

        <div class="block-thumbnail__inner">

          <form ng-submit="fullSearch(searchListsTerm, 'lists')" role="search" class="search-form">

            <h2 class="block-heading" translate>Search for other contact lists</h2>

            <div class="search-form" uib-dropdown is-open="showListsAutocomplete">
              <label for="searchLists" class="sr-only">{{'Search for a list name'|translate}}</label>
              <input type="search" class="input-no-border search-form__input" placeholder="{{'Search for a list name'|translate}}" name="searchLists" id="searchLists" autocomplete="off" ng-model="searchListsTerm" ng-model-options="{debounce: 200}" ng-change="searchListsAutocomplete()">
              <button type="submit" class="btn-transparent search-form__button">
                <icon name="search" text="Search"></icon>
              </button>

              <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-if="landingLists.length">
                  <ul>
                    <li ng-repeat="result in landingLists">
                      <a ng-href="lists/{{result._id}}" ng-click="saveSearch(result, 'list')">{{result.name}}</a>
                    </li>
                  </ul>
                </li>
                <li><button type="button" ng-click="fullSearch(searchListsTerm, 'lists')" class="btn-transparent" translate>View all</button></li>
              </ul>
            </div>

            <p ng-if="recentListSearches.length" class="recent-searches">
              <span translate>Recent:&nbsp;</span>
              <span ng-repeat="search in recentListSearches track by $index">
                <a ng-href="{{search.link}}">{{search.name}}</a><span ng-if="$index +1 < recentListSearches.length">,&nbsp;</span>
              </span>
            </p>
          </form>
        </div>
      </div>

    </div>

  </div>
  <div class="col-xs-12 col-md-4">
    <div class="secondary-block">
      <h2 class="secondary-block__heading">
        <span translate>Notifications</span>
        <a href="/notifications" class="btn-small">
          <span translate>View all</span>
          <icon name="arrow-right"></icon>
        </a>
      </h2>
      <ul class="secondary-block__list">
        <li class="secondary-block__item secondary-block__item--has-icon" ng-repeat="notification in notifications.unread | limitTo: 5">
          <icon name="arrow-right"></icon>
          <a ng-href="{{notification.link}}" ng-click="readNotification(notification)">
            {{notification.text}}
          </a>
        </li>
        <li class="secondary-block__item secondary-block__item--has-icon">
          <icon name="arrow-right"></icon>
          <span translate>Last update of your profile</span>: <span ng-bind="currentUser.updatedAt | date:'longDate'"></span>
        </li>
          <li class="secondary-block__item secondary-block__item--has-icon">
            <icon name="arrow-right"></icon>
            <span ng-if="currentUser.verified" translate>Your profile has been verified.</span>
            <span ng-if="!currentUser.verified" translate>You're not verified yet.</span>
          </li>
        </ul>

      </div>

    </div>
  </div>
</div>
