<h1 translate>Lists</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th translate>Name</th>
      <th translate>Created by</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="list in lists">
      <td><a ng-href="/lists/{{list.id}}">{{list.name}}</a></td>
      <td><a ng-href="/users/{{list.owner.id}}">{{list.owner.name}}</a></td>
    </tr>
  </tbody>
</table>
<ul uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
