<div uib-collapse="isAdminCollapsed" horizontal id="admin" expanding="adminExpanding()" collapsing="adminCollapsing()">
  <div ng-if="isManager || isOwner || currentUser.is_admin">
    <h2 translate>Add new member</h2>
    <form ng-submit="addMemberToList()">
      <div class="form-group">
        <label for="user" translate>New Member</label>
        <ui-select ng-model="usersAdded.users" multiple name="member" theme="bootstrap" style="min-width: 300px;">
          <ui-select-match placeholder="Select some people">{{$item.name}}</ui-select-match>
          <ui-select-choices refresh="getUsers($select.search)" repeat="person.id as person in newMembers">
            {{person.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <button type="submit" class="btn btn-primary" translate>Add Member</button>
    </form>

    <h2 translate>List Settings</h2>
    <div>
      <a class="btn btn-primary" href="lists/{{list.id}}/edit" translate>Edit List Settings</a>
    </div>
    <div>
      <a class="btn btn-danger" ng-click="deleteList();" translate>Delete List</a>
    </div>
  </div>

  <div ng-if="(list.joinability == 'public' || list.joinability == 'moderated') && !isMember">
    <h2 translate>Check in</h2>
    <form ng-submit="checkIn()">
      <div class="form-group">
        <label for="checkoutDate" translate>Checkout date</label>
        <input type="date" name="checkoutDate" ng-model="checkinUser.checkoutDate" class="form-control">
        <p class="help-block" translate>Select a checkout date if you would like to be checked out automatically (you will receive emails from the system beforehand)</p>
      </div>
      <button type="submit" class="btn btn-primary" translate>Check in</button>
    </form>
  </div>

  <div ng-if="isMember"> 
    <h2 translate>Check out</h2>
    <button type="submit" class="btn btn-primary" ng-click="checkOut();" translate>Check out</button>
  </div>
  
  <h2 translate>Export</h2>
  <div>
    <a class="btn btn-primary">Copy Email Addresses</a>
  </div>
  <div>
    <a class="btn btn-primary">View PDF</a>
  </div>
  <div>
    <a class="btn btn-primary">Meeting Attendance</a>
  </div>
  <div>
    <a class="btn btn-primary">Export Results</a>
  </div>
  
</div>

<div id="page-content-wrapper">
  <h2>{{list.name}}</h2>
  <hid-users users="users" list="list" current-user="currentUser"></hid-users>
</div>
