<h1 translate>Create a new list</h1>
<form ng-submit="listCreate()">
  <div class="form-group">
    <label for="name" translate>Name</label>
    <input type="text" class="form-control" id="name" placeholder="" ng-model="list.name" required>
  </div>
  <div class="form-group">
    <label for="users" translate>Members</label>
    <ui-select ng-model="list.users" multiple name="members" theme="bootstrap" style="min-width: 300px;">
      <ui-select-match placeholder="Select some people">{{$item.name}}</ui-select-match>
      <ui-select-choices refresh="getUsers($select.search)" repeat="person.id as person in users">
        {{person.name}}
      </ui-select-choices>
    </ui-select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

