/**
 * Base styles
 */

// HID-1864: split this out into a file or at least somewhere better than in our
//   base CSS file. This definitely needs to go into a "authenticated" CSS bundle
//   that we avoid serving until someone is logged in.
$flagsImagePath: "/img/";
@import "../../../bower_components/bc-css-flags/dist/css/bc-css-flags.scss";

* {
  box-sizing: border-box;
  // -webkit-font-smoothing: antialiased;
  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  // height: 100%;
}

html, input {
  // Font size should be set at the correct percentage to match the base-font-size
  // 16px = 100%
  // 18px = 112.5%
  // See http://pxtoem.com/ for conversion chart
  font-size: 100%;
}

body {
  font-family: $body-font;
  @include font-size($base-font-size);
  color: $text-dark;
  line-height: 1.5;
}

body.toggled {
  width: 100%;

  @include media-query(lg) {
    overflow-x: hidden;
  }
}

body.prevent-mobile-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: underline;
  color: $primary-color;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }

  &:focus {
    outline-style: dotted;
    outline-width: 1px;
    outline-color: $primary-color;
  }
}

h1 {
  @include font-size($medium-font-size);
  font-family: $heading-font;
  color: $primary-color;
  margin-bottom: $base-unit;
  line-height: 1.3;

  &:focus {
    outline: none;
    // background: $light-grey;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;

}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.text-block {
  h1, h2, h3, h4, p, ul, ol {
    @include font-size($small-font-size);
    margin-bottom: $base-unit;
  }

  ul, ol {
    padding-left: $base-unit*3;
    list-style: initial;
  }

  ol {
    list-style: decimal
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.glyphicon {
  position: relative;
  display: inline-block;
}

.caret {
  display: inline-block;

  &:before {
    content: "";
    display: block;
    width: $base-unit*1.75;
    height: $base-unit*1.75;
    background: url('../img/arrow-down.svg') center no-repeat;
    background-size: $base-unit*1.75;
  }
}

.hidden-sm-up {
  display: none;
}

.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}

@include media-query(sm) {
  h1 {
    @include font-size($large-font-size);
  }

  .hidden-sm-up {
    display: block;
  }

  .text-block {
    h1, h2, h3, h4, p, ul, ol {
      @include font-size($base-font-size);
    }

    p, ul, ol {
      margin-bottom: $base-unit*2;
    }
  }
}

/* overrides for jira feedback popup to make it responsive */
#atlwdg-container {
  position: absolute!important;
  width: 100%;
  max-width: 600px;

  iframe {
    position: absolute;
    top: 0;
    right: 0
  }
}
