
.login__heading {
	max-width: 200px;
}

.t-login-btn {
	max-width: 50%;
	margin-left: 1em;
}

@include media-query(sm) {

	.login__heading {
		max-width: 240px;
	}

	.login__form {
		margin-bottom: $base-unit*5;
	}

}

@include media-query(lg) {

	.login__heading {
		max-width: none;
	}

	.login__form {
		max-width: 500px;
		margin-bottom: $base-unit*10;
	}

}
