<div class="row">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <h1 translate>Log in to Humanitarian ID.</h1>
    <form ng-submit="login()">
      <div class="form-group">
        <label for="email" translate>Email</label>
        <input type="email" class="form-control" id="email" ng-model="email">
      </div>
      <div class="form-group">
        <label for="password"><span translate>Password</span> <a href="/password_reset" translate>Forgot your password ?</a></label>
        <input type="password" class="form-control" id="password" placeholder="" ng-model="password" required>
      </div>
      <button type="submit" class="btn btn-primary" translate>Login</button>
    </form>
    <a href="/register" class="btn" translate>Need to register ?</a>
  </div>
</div>
