<div class="row" class="login">
  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-0">
    <div class="page-header page-header--login">
      <h1 class="page-header__heading login__heading" translate>Log in to Humanitarian ID.</h1>
    </div>

    <form ng-submit="login()" class="login__form">
      <div class="form-field">
        <label for="email" translate>Email</label>
        <input type="email" id="email" ng-model="email" placeholder="{{'Your email address' |  translate }}">
      </div>
      <div class="form-field">
        <label for="password" translate>Password</label>
        <input type="password" id="password" ng-model="password" required placeholder="{{'Your password' |  translate }}">
      </div>
      <div class="row form-field">
        <button type="submit" class="btn-primary btn-block btn-body-font t-login-btn" ng-class="{'saving' : saving}">
          <loader type="inline" text="" ng-if="saving"></loader>
          <span ng-if="!saving" translate>Login</span>
        </button>
      </div>
      <p><a href="/register" translate>Register a new Humanitarian ID Account</a></p>
      <p><a href="/password_reset" translate>Forgot/Reset password</a></p>
    </form>
  </div>
  <div class="col-lg-6 login__video">
    <video-player
      ar="35xf6ljcWnE"
      en="60dKwkaq_Sw"
      es="78Rav6I8F80"
      fr="niGYi77tJQM"
    ></video-player>
  </div>
</div>
