<div class="row">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <h1 translate>Reset password</h1>
    <p class="form-group" translate>If you forget the password for your Humanitarian ID account, you can request a new password by entering your email address here and clicking on 'Reset Password'.</p>
    <form name="reset" ng-submit="reset.$valid && passwordReset()" novalidate>
      <div class="form-group" ng-class="{'has-error': reset.email.$touched && reset.email.$invalid}">
        <label for="email" translate>Email</label>
        <input type="email" name="email" id="email" placeholder="{{'Your email address'|translate}}" ng-model="email" required>
        <div ng-messages="reset.email.$error" ng-show="reset.email.$touched" ng-messages-multiple="ng-messages-multiple">
          <div ng-messages-include="app/common/messages.html"></div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="reset.$invalid || reset.$submitted" translate>Reset Password</button>
    </form>
  </div>
</div>
