<div class="row">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <div class="page-header">
      <h1 class="page-header__heading" translate>Reset password</h1>
    </div>
    <p class="form-field" translate>If you forgot the password to your Humanitarian ID account, or your password has expired, you can request a new password by entering your email address here and clicking "Reset Password". You will receive an email with a temporary link.</p>
    <p class="form-field" translate>Note: Allow some time for the email to get to your inbox (especially if using @un.org domain). If you do not receive the email kindly do not reset the password a second time, but get in touch with us: <a href="mailto:info@humanitarian.id">info@humanitarian.id</a></p>
    <form name="reset" ng-submit="reset.$valid && requestPasswordReset()" novalidate>
      <div class="form-field" ng-class="{'has-error': reset.email.$touched && reset.email.$invalid}">
        <label for="email" translate>Email</label>
        <input type="email" name="email" id="email" placeholder="{{'Your email address'|translate}}" ng-model="email" required>
        <div ng-messages="reset.email.$error" ng-show="reset.email.$touched" ng-messages-multiple="ng-messages-multiple">
          <div ng-messages-include="app/common/messages.html"></div>
        </div>
      </div>
      <button type="submit" class="btn-primary" ng-disabled="reset.$invalid || reset.$submitted" translate>Reset Password</button>
    </form>
  </div>
</div>
