<div class="row">
	<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
	  <div class="page-header">
	    <h1 class="page-header__heading" translate>Register a Humanitarian ID account</h1>
	  </div>
	  <p class="form-field" translate>
      Note: As of January 2021 the Humanitarian ID contact management features
      on this platform will be decommissioned. However, your account will remain
      valid to access all <a href="https://about.humanitarian.id/partners-using-our-authentication-service" target="_blank" rel="noopener">websites integrated</a>
      with HID Authentication service. More info available on the <a href="https://about.humanitarian.id/faqs#contacts-decommissioning" target="_blank" rel="noopener">FAQs page</a>.
    </p>
	  <ng-include src="'app/components/user/new-user.html'"></ng-include>
	</div>
</div>
