<div class="row">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <h1>
      <span ng-if="!isOrphan" translate>Reset password</span>
      <span ng-if="isOrphan" translate>Create a password</span>
    </h1>
    <form name="resetPasswordForm" ng-submit="resetPasswordForm.$valid && resetPassword()" autocomplete="off" novalidate>
      <div class="form-field" ng-class="{'has-error': resetPasswordForm.newPassword.$touched && resetPasswordForm.newPassword.$invalid}">
        <label for="newPassword">
          <span ng-if="!isOrphan" translate>New password</span>
          <span ng-if="isOrphan" translate>Password</span>
        </label>
        <input type="password" name="newPassword" id="newPassword" placeholder="{{'New password' | translate}}" ng-model="newPassword" required>
        <div ng-messages="resetPasswordForm.newPassword.$error" ng-show="resetPasswordForm.newPassword.$touched" ng-messages-multiple="ng-messages-multiple">
          <div ng-messages-include="app/common/messages.html"></div>
        </div>
      </div>

      <div class="form-field" ng-class="{'has-error': resetPasswordForm.confirmPassword.$touched && resetPasswordForm.confirmPassword.$invalid}">
        <label for="confirmPassword" translate>Confirm new password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" match-password="newPassword" placeholder="" ng-model="confirmPassword" required>
        <div ng-messages="resetPasswordForm.confirmPassword.$error" ng-show="resetPasswordForm.confirmPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
      </div>

      <button type="submit" class="btn-primary" ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$submitted">
        <span ng-if="!isOrphan" translate>Reset password</span>
        <span ng-if="isOrphan" translate>Create password</span>
      </button>
    </form>
  </div>
</div>
