<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" translate>Reset password</h3>
  </div>
  <div class="panel-body">
    <form name="resetPassword" ng-submit="resetPassword.$valid && resetPasswordFunction()" autocomplete="off" novalidate>
      <div class="form-group" ng-class="{'has-error': resetPassword.newPassword.$touched && resetPassword.newPassword.$invalid}">
        <label for="newPassword" translate>New password</label>
        <input type="password" name="newPassword" class="form-control" placeholder="" ng-model="newPassword" required>
        <div class="clearfix">
          <div ng-messages="resetPassword.newPassword.$error" ng-show="resetPassword.newPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': resetPassword.confirmPassword.$touched && resetPassword.confirmPassword.$invalid}">
        <label for="confirm_password" translate>Confirm new password</label>
        <input type="password" name="confirmPassword" class="form-control" match-password="newPassword" placeholder="" ng-model="confirmPassword" required>
        <div class="clearfix">
          <div ng-messages="resetPassword.confirmPassword.$error" ng-show="resetPassword.confirmPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="resetPassword.$invalid || resetPassword.$submitted" translate>Reset password</button>
    </form>
  </div>
</div>
