<div class="row">
  <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
    <h1 translate>Reset password</h1>
    <form name="resetPassword" ng-submit="resetPassword.$valid && resetPasswordFunction()" autocomplete="off" novalidate>
      <div class="form-group" ng-class="{'has-error': resetPassword.newPassword.$touched && resetPassword.newPassword.$invalid}">
        <label for="newPassword" translate>New password</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="New password" ng-model="newPassword" required>
        <div ng-messages="resetPassword.newPassword.$error" ng-show="resetPassword.newPassword.$touched" ng-messages-multiple="ng-messages-multiple">
          <div ng-messages-include="app/common/messages.html"></div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-error': resetPassword.confirmPassword.$touched && resetPassword.confirmPassword.$invalid}">
        <label for="confirmPassword" translate>Confirm new password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" match-password="newPassword" placeholder="" ng-model="confirmPassword" required>
        <div ng-messages="resetPassword.confirmPassword.$error" ng-show="resetPassword.confirmPassword.$touched" ng-messages-multiple="ng-messages-multiple">
            <div ng-messages-include="app/common/messages.html"></div>
          </div>
      </div>

      <button type="submit" class="btn-primary" ng-disabled="resetPassword.$invalid || resetPassword.$submitted" translate>Reset password</button>
    </form>
  </div>
</div>
