<div class="page-header">
  <h1 class="page-header__heading">
    <span ng-if="showUsers" translate>Contacts</span>
    <span ng-if="!showUsers" translate>Lists</span>
  </h1>

  <div class="btn-toggle page-actions__toggle-lists">
    <button type="button" class="btn-primary contact-list-toggle"
      ng-class="{'active' : showUsers}"
      ng-click="showUsers = !showUsers"
      ng-disabled="showUsers"
      translate>
      Show contacts
    </button>
    <button type="button" class="btn-primary contact-list-toggle"
      ng-class="{'active' : !showUsers}"
      ng-click="showUsers = !showUsers"
      ng-disabled="!showUsers"
      translate>
      Show lists
    </button>
  </div>

</div>

<hid-users ng-if="showUsers"></hid-users>

<ng-include ng-if="!showUsers" src="'app/components/list/all-lists.html'"></ng-include>
