<div sticky stickyelement=".page-header" class="page-header-mobile">
  <h1 class="page-header-mobile__heading">{{operationList.name}}</h1>

  <div class="page-header-mobile__buttons" ng-if="isManager || currentUser.isManager || currentUser.is_admin">

    <button class="btn-icon btn-toggle-admin" type="button" ng-click="sidebar.toggle('admin', true)" ng-class="{'active' : sidebar.sidebars.admin && sidebar.open}" ng-disabled="!isOnline">
      <icon name="wheel" text="Actions"></icon>
    </button>
  </div>
</div>

<div class="page-header">
  <h1 class="page-header__heading">{{operationList.name}}</h1>

  <div class="page-header__buttons page-header__buttons--list" ng-if="isManager ||currentUser.isManager || currentUser.is_admin">
    <a class="btn-icon btn-toggle-admin t-list-admin-btn" type="button" href="operations/{{operation._id}}" ng-disabled="!isOnline">
      <icon name="wheel" text="Actions"></icon>
    </a>
  </div>

</div>

<div class="row">

  <div class="col-md-4">

    <div class="secondary-block">
      <h2 class="secondary-block__heading" translate>Key Lists</h2>

      <ul class="secondary-block__list">

        <li class="secondary-block__item" ng-repeat="key_list in operation.key_lists">
          <span class="list-type list-type--{{key_list.type}}">
            {{key_list.displayType || key_list.type}}
          </span>&nbsp;
          <a ng-href="/lists/{{key_list._id}}">{{key_list.name}}</a>
        </li>
      </ul>

      <h2 class="secondary-block__heading" translate>Key Contacts</h2>

      <ul class="secondary-block__list">

        <li class="secondary-block__item" ng-repeat="key_role in operation.key_roles">
          <a ng-href="/lists/{{operationList._id}}?functional_roles.list={{key_role._id}}">{{key_role.name}}</a>
        </li>
      </ul>

    </div>

  </div>

  <div class="col-md-8 block">

    <div class="block-heading">
      <h2 translate>Groups</h2>
      <button type="button" class="btn-link btn-small block-heading" ng-click="groupsLimit = groups.length" ng-show="groupsLimit == 4" translate>View All &gt;</button>
      <button type="button" class="btn-link btn-small block-heading" ng-click="groupsLimit = 4" ng-show="groupsLimit == groups.length" translate>&lt; Hide</button>
    </div>

    <table class="table table-responsive">
      <tbody>
        <tr ng-repeat="group in groups | limitTo: groupsLimit">
          <td class="table__td-primary"><a ng-href="/lists/{{group._id}}">{{group.name}}</a></td>
          <td>{{group.count}} <span translate>contacts</span></td>
        </tr>
      </tbody>
    </table>

    <div class="block-heading">
      <h2 translate>Coordination Hubs</h2>
      <button type="button" class="btn-link btn-small block-heading" ng-click="officesLimit = offices.length" ng-show="officesLimit == 4" translate>View All &gt;</button>
      <button type="button" class="btn-link btn-small block-heading" ng-click="officesLimit = 4" ng-show="officesLimit == offices.length" translate>&lt; Hide</button>
    </div>

    <table class="table table-responsive">
      <tbody>
        <tr ng-repeat="office in offices | limitTo: officesLimit">
          <td class="table__td-primary"><a ng-href="/lists/{{office._id}}">{{office.name}}</a></td>
          <td>{{office.count}} <span translate>contacts</span></td>
        </tr>
      </tbody>
    </table>

    <div class="block-heading">
      <h2 translate>Disasters</h2>
      <button type="button" class="btn-link btn-small block-heading" ng-click="disastersLimit = disasters.length" ng-show="disastersLimit == 4" translate>View All &gt;</button>
      <button type="button" class="btn-link btn-small block-heading" ng-click="disastersLimit = 4" ng-show="disastersLimit == disasters.length" translate>&lt; Hide</button>
    </div>

    <table class="table table-responsive">
      <tbody>
        <tr ng-repeat="disaster in disasters | limitTo: disastersLimit">
          <td class="table__td-primary"><a ng-href="/lists/{{disaster._id}}">{{disaster.name}}</a></td>
          <td>{{disaster.count}} <span translate>contacts</span></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
