<uib-tabset justified="true">
  <uib-tab heading="Account Settings">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Change password</h3>
      </div>
      <div class="panel-body">
        <form name="changePassword" ng-submit="changePassword.$valid && savePassword()" autocomplete="off" novalidate>
          <div class="form-group" ng-class="{'has-error': changePassword.oldPassword.$touched && changePassword.oldPassword.$invalid}">
            <label for="old_password">Old password</label>
            <input name="oldPassword" type="password" class="form-control" placeholder="" ng-model="oldPassword" required>
            <div class="clearfix">
              <div ng-messages="changePassword.oldPassword.$error" ng-show="changePassword.oldPassword.$touched" ng-messages-multiple="ng-messages-multiple">
                <div ng-messages-include="app/common/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': changePassword.newPassword.$touched && changePassword.newPassword.$invalid}">
            <label for="newPassword">New password</label>
            <input type="password" name="newPassword" class="form-control" placeholder="" ng-model="newPassword" required>
            <div class="clearfix">
              <div ng-messages="changePassword.newPassword.$error" ng-show="changePassword.newPassword.$touched" ng-messages-multiple="ng-messages-multiple">
                <div ng-messages-include="app/common/messages.html"></div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-class="{'has-error': changePassword.confirmPassword.$touched && changePassword.confirmPassword.$invalid}">
            <label for="confirm_password">Confirm new password</label>
            <input type="password" name="confirmPassword" class="form-control" match-password="newPassword" placeholder="" ng-model="confirmPassword" required>
            <div class="clearfix">
              <div ng-messages="changePassword.confirmPassword.$error" ng-show="changePassword.confirmPassword.$touched" ng-messages-multiple="ng-messages-multiple">
                <div ng-messages-include="app/common/messages.html"></div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="changePassword.$invalid">Update password</button>
        </form>
      </div>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Delete account</h3>
      </div>
      <div class="panel-body">
        <p>Deleting your account means that you will lose your access to Humanitarian ID.</p>
        <button type="button" class="btn btn-danger">Delete account</button>
      </div>
    </div>
  </uib-tab>
  <uib-tab heading="Applications">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Authorized Applications</h3>
      </div>
      <div class="panel-body">
        <p>You have granted the following applications access to your Humanitarian ID account.</p>
        <ul>
          <li>Humanitarian Response <a href="#" class="btn btn-default">Revoke</a></li>
          <li>HDX <a href="#" class="btn btn-default">Revoke</a></li>
        </ul>
      </div>
    </div>
  </uib-tab>
</uib-tabset>
