<h1>Check In</h1>
<!--<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">I am</h3>
  </div>
  <div class="panel-body">
    <div class="radio">
      <label>
        <input type="radio" name="checkinStatus" ng-model="status" value="responding">
        Responding in country
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="checkinStatus" ng-model="status" value="remote">
        Providing remote support
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="checkinStatus" ng-model="status" value="following">
        Following
      </label>
    </div>
  </div>
</div>-->

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Responding to</h3>
  </div>
  <div class="panel-body">
    <label for="countries">Operations</label> (multiple choice) (single choice if responding in country)
    <hrinfo-typeahead type="operations"></hrinfo-typeahead>
    <label for="clusters">Clusters</label> (add logic between countries and clusters) (multiple choice)
    <hrinfo-typeahead type="bundles"></hrinfo-typeahead>
    <label for="disasters">Emergencies</label> (multiple choice)
    <hrinfo-typeahead type="disasters"></hrinfo-typeahead>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Until When</h3>
  </div>
  <div class="panel-body">
    <input type="date" name="departureDate">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">From Where</h3>
  </div>
  <div class="panel-body">
    Show the base location and allow to edit only if responding in a country
    <hrinfo-typeahead type="locations"></hrinfo-typeahead>
  </div>
</div>

<div class="panel panel-default" ng-if="status == 'responding'">
  <div class="panel-heading">
    <h3 class="panel-title">Your Information</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label for="jobTitle">Job Title</label>
      <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" class="form-control" id="phone" placeholder="Phone">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="organization">Organization</label>
      <hrinfo-typeahead type="organizations"></hrinfo-typeahead>
    </div>
  </div>
</div>

