<div class="col-sm-3">

  <div class="form-group">
    <p>{{totalItems}} users</p>
  </div>

  <div class="form-group">
    <label for="organizations" translate>Organization</label>
    <ui-select ng-model="filters['organizations.list']" name="organizations" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()" style="min-width: 200px;">
      <ui-select-match allow-clear="true" placeholder="Filter by organization">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices refresh="getOrganizations($select.search)" repeat="organization._id as organization in organizations | filter: $select.search" minimum-input-length="3">
        {{organization.name}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="operations" translate>Operation</label>
    <ui-select ng-model="filters['operations.list']" name="operations" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
      <ui-select-match allow-clear="true" placeholder="Filter by operation">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="operation._id as operation in operations | filter: $select.search">
        {{operation.name}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="bundles" translate>Group</label>
    <ui-select ng-model="filters['bundles.list']" name="bundles" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
      <ui-select-match allow-clear="true" placeholder="Filter by group">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices refresh="getBundles($select.search)" repeat="bundle._id as bundle in bundles | filter: $select.search" minimum-input-length="3">
        {{bundle.name}}
      </ui-select-choices>
    </ui-select>
  </div>
      

  <div class="form-group">
    <label for="roles" translate>Roles</label>
    <ui-select ng-model="filters['roles.id']" name="roles" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()" style="min-width: 200px;">
      <ui-select-match allow-clear="true" placeholder="Filter by role">{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="role.id as role in roles | filter: $select.search">
        {{role.label}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="country" translate>Country</label>
    <ui-select ng-model="filters['country']" name="country" theme="bootstrap" on-select="filter()" on-remove="filter()" style="min-width:200px;">
      <ui-select-match allow-clear="true" placeholder="Filter by country">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="country.id as country in countries | filter: $select.search">
        {{country.name}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="disasters" translate>Disaster</label>
    <ui-select ng-model="filters['disasters.list']" name="disasters" allow-clear="true" theme="bootstrap" on-select="filter()" on-remove="filter()">
      <ui-select-match allow-clear="true" placeholder="Filter by disaster">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices refresh="getDisasters($select.search)" repeat="disaster._id as disaster in disasters | filter: $select.search" minimum-input-length="3">
        {{disaster.name}}
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label><input type="checkbox" ng-model="filters.verified" name="verified" ng-change="filter()" /> Verified</label>
  </div>

  <div class="form-group">
    <label><input type="checkbox" ng-model="filters.is_admin" name="is_admin" ng-change="filter()" /> Administrator</label>
  </div>

  <div class="form-group">
    <label for="sort" translate>Sort by</label>
    <select ng-model="request['sort']" name="sort" class="form-control" ng-change="filter()">
      <option value="name" translate>Name</option>
      <option value="job_title" translate>Job title</option>
      <option value="organization" translate>Organization</option>
      <option value="verified" translate>Verification</option>
    </select>
  </div>
</div>
<div class="col-sm-9">
  <table class="table table-striped">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Role</th>
        <th translate>Organization</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td><a ng-href="/users/{{user._id}}">{{user.name}}</a> <span class="label label-default" ng-if="list && list.owner._id == user._id" translate>Owner</span> <span class="label label-warning" ng-if="list && user.currentCheckin(list).pending" translate>Pending</span><span class="label label-primary" ng-if="list && list.isManager(user)" translate>Manager</span></td>
        <td>{{user.job_title}}</td>
        <td>{{user.organization.name}}</td>
        <td>
          <div uib-dropdown>
            <button type="button" class="btn btn-default" data-animation="am-flip-x" uib-dropdown-toggle aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
            <ul class="dropdown-menu" uib-dropdown-menu>
              <li ng-if="currentUser.is_admin"><a href="/checkin/{{user._id}}" translate>Check into List</a></li>
              <li ng-if="list && list.isManager(user) && (currentUser.is_admin || list.owner._id == currentUser._id || isManager)"><a href ng-click="demoteManager(user);" translate>Demote from Manager</a></li>
              <li ng-if="list && !list.isManager(user) && (currentUser.is_admin || list.owner._id == currentUser._id || isManager)"><a href ng-click="promoteManager(user);" translate>Promote to Manager</a></li>
              <li ng-if="list && user.currentCheckin(list).pending && (currentUser.is_admin || list.owner.id == currentUser.id || isManager)"><a href ng-click="approveUser(user);" translate>Approve user</a></li>
              <li ng-if="list && (currentUser.is_admin || list.owner._id == currentUser._id || isManager)"><a href ng-click="removeFromList(user);" translate>Remove from list</a></li>
              <li ng-if="currentUser.is_admin"><a href ng-click="deleteUser(user);" translate>Delete Account</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ul uib-pagination boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" max-size="10" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>
