.search-form {
  position: relative;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $primary-color;
    font-style: italic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color;
    font-style: italic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $primary-color;
    font-style: italic;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $primary-color;
    font-style: italic;
  }
}

input[type="search"].search-form__input {
  padding-left: $base-unit*4.5;
}

.search-form__btn {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 0;
  padding-right: $base-unit/2;
}
