.search-form {
  position: relative;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $primary-color;
    font-style: italic;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $primary-color;
    font-style: italic;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $primary-color;
    font-style: italic;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $primary-color;
    font-style: italic;
  }

  .dropdown-menu {
    width: 100%;
  }
}

input[type="search"].search-form__input {
  padding-left: $base-unit*3.25;
  @include font-size($small-font-size);
}

.search-form__btn {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 0;
  padding: $base-unit*1.5 $base-unit/2;
  @include font-size($small-font-size);
}

@include media-query(md) {

  input[type="search"].search-form__input {
    padding-left: $base-unit*3.5;
    @include font-size($base-font-size);
  }

  .search-form__btn {
    @include font-size($base-font-size);
  }

}
