.search-form {
  position: relative;

  .dropdown-menu {
    width: 100%;
  }
}

.search-form__icon {
  position: absolute;
  left: $base-unit;
  top: $base-unit;
  color: $medium-blue;
  transition: color 0.3s ease;
}

.search-form__active {
  display: block;
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

input[type="search"].search-form__input {
  padding-left: $base-unit*3.25;
  @include font-size($small-font-size);

  &:focus {
    box-shadow: none;

    &+ .search-form__icon {
      color: $primary-color;
    }

    &+ * + .search-form__active {
      border-color: $medium-blue;
    }
  }
}

@include media-query(md) {

  input[type="search"].search-form__input {
    padding-left: $base-unit*3.5;
    @include font-size($base-font-size);
  }

  .search-form__btn {
    @include font-size($base-font-size);
  }

}
