<div ng-controller="SearchFormController">

  <form ng-submit="fullSearch(searchTerm)" role="search" >
    <div class="search-form" uib-dropdown is-open="showAutocomplete">
      <input
        type="search"
        class="input-no-border search-form__input"
        name="search"
        id="main-search"
        placeholder="{{ 'Search for contacts or lists' | translate }}"
        autocomplete="off"
        ng-model="searchTerm"
        ng-value="searchTerm"
        ng-model-options="{debounce: 600}"
        ng-change="searchAutocomplete()"
        ng-trim="false"
        ng-disabled="!isOnline">
      <label for="search" class="element-invisible search-form__label">{{ 'Search for contacts or contact lists' | translate }}</label>
      <button type="submit" class="btn-transparent search-form__button" ng-disabled="!isOnline">
        <icon name="search" text="Search"></icon>
      </button>
      <span class="search-form__active"></span>

      <ul class="dropdown-menu search-autocomplete" uib-dropdown-menu>
        <li ng-if="searchPeople.length">
          <span class="search-autocomplete__heading">
            <span translate>Contacts</span>
            <button type="button" ng-click="fullSearch(searchTerm)" class="btn-transparent t-see-all-users" translate>See all</button>
          </span>
          <ul>
            <li class="search-autocomplete__item" ng-repeat="result in searchPeople">
              <a ng-href="users/{{result._id}}" ng-click="saveSearch(result, 'user')">{{result.name}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="searchLists.length">
          <span class="search-autocomplete__heading">
            <span translate>Lists</span>
            <button type="button" ng-click="fullSearch(searchTerm, 'lists')" class="btn-transparent t-see-all-lists" translate>See all</button>
          </span>
          <ul>
            <li class="search-autocomplete__item" ng-repeat="result in searchLists">
              <a ng-href="lists/{{result._id}}" ng-click="saveSearch(result, 'list')">{{result.name}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="searchPeople.length === 0 && searchLists.length === 0">
          <ul>
            <li class="search-autocomplete__item">
              <span translate>No results found</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </form>

</div>

<!--
  <button type="button" id="cd-search-btn" class="cd-search--inline_btn" data-toggle="dropdown" aria-expanded="false" aria-label="Search" uib-dropdown-toggle>
    <svg class="icon icon--search">
      <use xlink:href="#search"></use>
    </svg>
    <span class="cd-search_btn-text">Search</span>
  </button>
  <form role="search" class="cd-search--inline__form" aria-labelledby="cd-search-btn" action="/search" method="get" id="views-exposed-form-search-inline" accept-charset="UTF-8" uib-dropdown-menu>
    <div>
      <div id="edit-search-api-views-fulltext-wrapper" class="cd-search--inline__form-inner">
        <label for="edit-search-api-views-fulltext" class="element-invisible">Search for contacts or lists.</label>
        <input type="search" placeholder="Search for contacts or lists." name="search" id="edit-search-api-views-fulltext" class="cd-search--inline__input" autocomplete="off">
        <button type="submit" class="cd-search--inline__submit">
          <svg class="icon icon--search">
            <use xlink:href="#search"></use>
          </svg>
          <span class="element-invisible">Search</span>
        </button>
      </div>
    </div>
  </form>
-->
