<div ng-controller="SearchFormCtrl">

  <form ng-submit="fullSearch(searchTerm)" role="search" >
    <div class="search-form" uib-dropdown is-open="showAutocomplete">

      <input type="search" class="input-no-border search-form__input" name="search" id="search" autocomplete="off" ng-model="searchTerm" ng-value="searchTerm" ng-model-options="{debounce: 600}" ng-change="searchAutocomplete()" ng-trim="false" ng-disabled="!isOnline">
      <label for="search" class="search-form__label">{{'Search for contacts or contact lists'|translate}}</label>
      <button type="submit" class="btn-transparent search-form__button" ng-disabled="!isOnline">
        <icon name="search" text="Search"></icon>
      </button>
      <span class="search-form__active"></span>

      <ul class="dropdown-menu search-autocomplete" uib-dropdown-menu>
        <li ng-if="searchPeople.length">
          <span class="search-autocomplete__heading">
            <span translate>Contacts</span>
            <button type="button" ng-click="fullSearch(searchTerm)" class="btn-transparent" translate>See all</button>
          </span>
          <ul>
            <li class="search-autocomplete__item" ng-repeat="result in searchPeople">
              <a ng-href="users/{{result._id}}" ng-click="saveSearch(result, 'user')">{{result.name}}</a>
            </li>
          </ul>
        </li>
        <li ng-if="searchLists.length">
          <span class="search-autocomplete__heading">
            <span translate>Lists</span>
            <button type="button" ng-click="fullSearch(searchTerm, 'lists')" class="btn-transparent" translate>See all</button>
          </span>
          <ul>
            <li class="search-autocomplete__item" ng-repeat="result in searchLists">
              <a ng-href="lists/{{result._id}}" ng-click="saveSearch(result, 'list')">{{result.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </form>

</div>
