<div uib-collapse="isAdminCollapsed" horizontal id="admin" expanding="adminExpanding()" collapsing="adminCollapsing()">
  <div ng-if="currentUser.is_admin">
    <a class="btn btn-primary" href="/users/new">Add new user</a>
  </div>
  <div>
    <div class="clearfix">
      <a class="btn btn-primary" href="/lists/new" translate>Create new List</a>
    </div>
    <div class="clearfix">
      <a class="btn btn-primary" href="/checkin" translate>Check In</a>
    </div>
  </div>

</div>

<div class="row">
  <h2 translate>Dashboard</h2>
  <div class="col-sm-9">
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" heading="My Favorite Lists">
        <div class="list-group">
          <a ng-repeat="(key, val) in currentUser.favoriteLists" href="/lists/{{val._id}}" class="list-group-item">{{val.name}}</a>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Lists I'm part Of">
        <div class="list-group">
          <a ng-repeat="(key, val) in listsMember" href="/lists/{{val.list._id}}" class="list-group-item">{{val.list.name}}</a>
        </div>
      </uib-tab>
      <uib-tab index="2" heading="Lists I Manage">
        <div class="list-group">
          <a ng-repeat="(key, val) in listsOwner" href="/lists/{{val._id}}" class="list-group-item">{{val.name}}</a>
          <a ng-repeat="(key, val) in listsManager" href="/lists/{{val.list._id}}" class="list-group-item">{{val.list.name}}</a>
        </div>
      </uib-tab>
    </uib-tabset>
    <div class="clearfix">
      <a class="btn btn-primary pull-right" href="/lists" translate>View all Lists</a>
    </div>
  </div>
  <div class="col-sm-3">
    <p>Welcome back <a href="/users/{{currentUser.id}}">{{currentUser.name}}</a></p>
    <p><span translate>Last Update to your profile</span>: <span ng-bind="currentUser.updatedAt | date:'longDate'"></span></p>
    <p ng-if="currentUser.verified" translate>Your profile is verified</p>
    <p ng-if="!currentUser.verified" translate>You're not verified yet</p>
  </div>
</div>
