<h2 class="styleguide-heading">Buttons</h2>

<div class="sg-section">
  <h3>Primary buttons</h3>

  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-primary">Click me!</button>
      <div hljs><button type="button" class="btn-primary">Click me!</button></div>
    </div>
    <div class="col-sm-6 sg-section__item">
      <a href="#" class="btn-primary">Click me!</a>
      <div hljs><a href="#" class="btn-primary">Click me!</a></div>
    </div>
  </div>
</div>

<div class="sg-section">
  <h3>Secondary buttons</h3>

  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-secondary">Click me!</button>
      <div hljs><button type="button" class="btn-secondary">Click me!</button></div>
    </div>
    <div class="col-sm-6 sg-section__item">
      <a href="#" class="btn-secondary">Click me!</a>
      <div hljs><a href="#" class="btn-secondary">Click me!</a></div>
    </div>
  </div>

</div>

<div class="sg-section">
  <h3>Text buttons with icons</h3>
  <p>Icons can be on either side of the button</p>
  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-primary">
        Click me!
        <icon name="check"></icon>
        </button>
      <div hljs>
        <button type="button" class="btn-primary">
          Click me!
          <icon name="check"></icon>
        </button>
      </div>
    </div>
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-primary">
        <icon name="check"></icon>
        Click me!
        </button>
      <div hljs>
        <button type="button" class="btn-primary">
          <icon name="check"></icon>
          Click me!
        </button>
      </div>
    </div>
  </div>
</div>

<div class="sg-section">
  <h3>Icon buttons</h3>
  <p>Always add a text parameter to the icon when using in an icon button as there is no visible text.</p>

  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-icon">
        <icon name="pencil" text="Edit"></icon>
      </button>
      <div hljs>
      <button type="button" class="btn-icon">
        <icon name="pencil" text="Edit"></icon>
      </button>
      </div>
    </div>

  </div>

</div>

<div class="sg-section">
  <h3>Active buttons</h3>
  <p>Add an 'active' class to buttons to keep them in their active state.</p>
  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-primary active">I am active</button>
      <div hljs><button type="button" class="btn-primary active">I am active</button></div>
    </div>
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-icon active">
        <icon name="pencil" text="Edit"></icon>
      </button>
      <div hljs><button type="button" class="btn-icon active">
        <icon name="pencil" text="Edit"></icon>
      </button></div>
    </div>
  </div>
</div>

<div class="sg-section">
  <h3>Transparent buttons</h3>

  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-transparent">Click me!</button>
      <div hljs><button type="button" class="btn-transparent">Click me!</button></div>
    </div>
    <div class="col-sm-6 sg-section__item">
      <a href="#" class="btn-transparent">Click me!</a>
      <div hljs><a href="#" class="btn-transparent">Click me!</a></div>
    </div>
  </div>

</div>

<div class="sg-section">
  <h3>Buttons that look like links</h3>

  <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-link">Click me!</button>
      <div hljs><button type="button" class="btn-link">Click me!</button></div>
    </div>

  </div>

</div>

<div class="sg-section">
  <h3>Disabled buttons</h3>
  <p>Disabled buttons cannot be clicked. If you disable a link with javascript adding the 'disabled' class will make it look like a disabled button.</p>

   <div class="row">
    <div class="col-sm-6 sg-section__item">
      <button type="button" class="btn-primary" disabled>You can't click me</button>
      <div hljs><button type="button" class="btn-primary" disabled>You can't click me</button></div>
    </div>
    <div class="col-sm-6 sg-section__item">
      <a href="#" class="btn-primary disabled">You can't click me</a>
      <div hljs><a href="#" class="btn-primary disabled">You can't click me</a></div>
    </div>
  </div>

</div>
