<h2 class="styleguide-heading">Fonts</h2>

<div class="sg-section">

    <div class="sg-section__item">
      <h3>$body-font: arial, helvetica, sans-serif;</h3>

      <ul class="sg-body-font">
        <li class="sg-tiny-font-size">$tiny-font-size: 8px</li>
        <li class="sg-small-font-size">$small-font-size: 14px</li>
        <li class="sg-base-font-size">$base-font-size: 16px</li>
        <li class="sg-medium-font-size">$medium-font-size: 24px</li>
        <li class="sg-large-font-size">$large-font-size: 32px</li>
      </ul>

    </div>
    <div class="sg-section__item">
      <h3>$heading-font: 'exo_2semi_bold', sans-serif;</h3>

      <ul class="sg-heading-font">
        <li class="sg-tiny-font-size">$tiny-font-size: 8px</li>
        <li class="sg-small-font-size">$small-font-size: 14px</li>
        <li class="sg-base-font-size">$base-font-size: 16px</li>
        <li class="sg-medium-font-size">$medium-font-size: 24px</li>
        <li class="sg-large-font-size">$large-font-size: 32px</li>
      </ul>

    </div>

    <div class="sg-section__item">
      <h3>$heading-font-light: 'exo_2regular', sans-serif;</h3>

      <ul class="sg-heading-font-light">
        <li class="sg-tiny-font-size">$tiny-font-size: 8px</li>
        <li class="sg-small-font-size">$small-font-size: 14px</li>
        <li class="sg-base-font-size">$base-font-size: 16px</li>
        <li class="sg-medium-font-size">$medium-font-size: 24px</li>
        <li class="sg-large-font-size">$large-font-size: 32px</li>
      </ul>

    </div>
</div>
