<h1>HID Styleguide</h1>

<div class="row">
  <div class="col-sm-3 col-md-2">
    <ul>
      <li><button type="button" class="btn-transparent" ng-class="{'active' : active === 0}" ng-click="active = 0">Button</button></li>
      <li><button type="button" class="btn-transparent" ng-class="{'active' : active === 1}" ng-click="active = 1">Fonts</button></li>
    </ul>
  </div>
  <div class="col-sm-9 col-md-10">

     <uib-tabset active="active" class="sg-tabs">

      <uib-tab index="0">
        <ng-include src="'/app/components/styleguide/buttons.html'" ng-if="active === 0"></ng-include>
      </uib-tab>
      <uib-tab index="1">
        <ng-include src="'/app/components/styleguide/fonts.html'" ng-if="active === 1"></ng-include>
      </uib-tab>
     </uib-tabset>

  </div>


