$primary-color: #007faa;
$dark-blue: #295A78;
$medium-blue: #53B1C8;
$light-blue: #E5F3F6;

$light-grey: #F6F6F6;

$tertiary-color: #fcf8e3;

$text-dark: #656565;
$text-light: #FFF;

$border-grey: #CFD1D2;

$error-color: #D06473;

// list type colours
$list-color-operation: #d06573;
$list-color-bundle: $primary-color;
$list-color-disaster: #c14456;
$list-color-organization: $dark-blue;
$list-color-list: $light-blue;
$list-color-functional_role: #58585a;
$list-color-office: #777777;
