/**
 * Variables
 */

// Base measuremnt unit, used to keep consistent spacing
$base-unit: 8px;

//measurements
$max-width: 1400px;

$global-header-height: $base-unit*5;
$site-header-height-xs: $base-unit*6;
$site-header-height-md: $base-unit*7.5;
$header-height-xs: $global-header-height + $site-header-height-xs;
$header-height-md: $global-header-height + $site-header-height-md;

$footer-height: $base-unit*48;
$footer-height-sm: $base-unit*42;
$footer-height-md: $base-unit*24;

 $breadcrumbs-height: $base-unit*3;

$sidebar-width-xs: $base-unit*35;
$sidebar-width-md: $base-unit*40;
$sidebar-width-xxl: $base-unit*50;

// Grid
$grid-gutter: $base-unit*4 !default;
$grid-columns: 12 !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px,
  // lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
$enable-flex: false;

// Fonts
$body-font: arial, helvetica, sans-serif;
$heading-font: 'exo_2semi_bold', sans-serif;
$heading-font-light: 'exo_2regular', sans-serif;

// Font sizes
$tiny-font-size: 10;
$small-font-size: 14;
$base-font-size: 16;
$medium-font-size: 20;
$large-font-size: 30;

$global-nav-font-size: 14;

// Colours
$primary-color: #007faa;
$dark-blue: #295A78;
$medium-blue: #53B1C8;
$light-blue: #E5F3F6;

$light-grey: #F6F6F6;

$tertiary-color: #fcf8e3;

$text-dark: #656565;
$text-light: #FFF;

$border-grey: #CFD1D2;

$error-color: #D06473;

// list type colours
$list-color-operation: #d06573;
$list-color-bundle: $primary-color;
$list-color-disaster: #c14456;
$list-color-organization: $dark-blue;
$list-color-list: $light-blue;
$list-color-functional_role: #58585a;
$list-color-office: #777777;


//z-index
$zindex: (
  dropdown: 9,
  loader: 100,
  header: 101,
  sidebar: 102
);

//Border radius
$base-border-radius: 4px;

// Transitions
$sidebar-transition: transform 0.3s ease;

@mixin input-focus-style() {
  // border-color: transparent;
  background: lighten($light-blue, 5%);
  outline: none;
  box-shadow: inset 0px -1px 0px 0px $primary-color;
  // outline: 2px solid $primary-color;
}

@mixin filter-input-focus-style() {
  outline: none;
  border-bottom: 1px solid $border-grey;
  background: white;
}
