/**
 * Variables
 */

// Base measuremnt unit, used to keep consistent spacing
$base-unit: 8px;

//measurements
$header-height: $base-unit*8;

// Grid
$grid-gutter: $base-unit*4 !default;
$grid-columns: 12 !default;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
$enable-flex: false;

// Fonts
$body-font: sans-serif;
$heading-font: 'exo_2semi_bold', sans-serif;
$heading-font-light: 'exo_2regular', sans-serif;

// Font sizes
$tiny-font-size: 8;
$small-font-size: 14;
$base-font-size: 16;
$large-font-size: 24;

// Colours
$primary-color: #007faa;
$dark-blue: #295A78;
$medium-blue: #53B1C8;
$light-blue: #b9e6ee;

$light-grey: #CFD1D2;

$text-dark: #404040;
$text-light: #FFF;


$border-grey: $light-grey;

//z-index
$zindex: (
  mobileNav: 9
);


